 html, body {
     font-family: Arial, helvetica, sans-serif;
     font-size: 14pt;
     color: #333333;
     background-color: #f9f9f9;
     line-height: 1.5;
     max-width: 34em;
     margin: auto;
     padding-left: 2px;
     padding-right: 2px;
}
 footer {
     text-align: center;
     margin: auto;
     display: block;
     border-top: 1px solid #333;
     margin-top: 10px;
     margin-bottom: 10px;
}
 h1, nav, img, #desc {
     text-align: center;
}
 img {
     max-width: 100%;
}
 #description {
     margin-bottom: 10px;
}
 hr {
     border: 0;
     height: 1px;
     background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
 a {
     text-decoration: none;
     color: #338618;
}
 a:hover {
     color: #5e5e5e;
     border-bottom: 2px solid #4a4a4a;
}
 blockquote {
     font: 14px/22px normal helvetica, sans-serif;
     margin-top: 10px;
     margin-bottom: 10px;
     margin-left: 25px;
     padding-left: 5px;
     border-left: 3px solid #338618;
    ;
}
/* Pre and Code */
 pre {
     background-color: #C7E3BE;
     display: block;
     padding: 1em;
     overflow-x: auto;
}
 code {
     font-size: 0.9em;
     padding: 0 0.5em;
     background-color: #C7E3BE;
     white-space: pre-wrap;
}
 pre > code {
     padding: 0;
     background-color: transparent;
     white-space: pre;
}
/* Tables */
 table {
     text-align: justify;
     width: 100%;
     border-collapse: collapse;
}
 td, th {
     padding: 0.5em;
     border-bottom: 1px solid #C7E3BE;
}
 .article-timestamp {
     color: #999;
}
/* convenience classes */
 .center {
     text-align: center;
 }

/* research buttons */
 .Button {
     padding: 2px 2px;
     color: #338618;
     border: 1px solid rgba(50,50,50,0.4);
}