html {
     background:
     linear-gradient(90deg, #EFEFEF 21px, transparent 1%) center,
     linear-gradient(#EFEFEF 21px, transparent 1%) center,
     #4717F6;
     background-size: 22px 22px;
}
body {
     max-width: 38rem;
     padding: 5px;
     margin: auto;
     font-family: monospace, monospace;
     line-height: 1.5;
     color: #0E0B16;
     background-color: #EFEFEF;
}

footer {
     text-align: center;
     margin: auto;
     display: block;
     font-size: 0.75rem;
     background-color: #4717F6;
     color: #EFEFEF;
     border: 1px solid #0E0B16;
     margin-top: 10px;
     margin-bottom: 10px;
}
footer a {
     color: #EFEFEF;
     font-weight: bold;
     text-decoration: underline solid #EFEFEF;
}
footer a:visited {
     color: #EFEFEF;
}
nav {
     font-size: 0.75rem;
     background-color: #4717F6;
     color: #EFEFEF;
     border: 1px solid #0E0B16;
}
nav a {
     color: #EFEFEF;
     font-weight: bold;
     text-decoration: underline solid #EFEFEF;
}
nav a:visited {
     color: #EFEFEF;
}

h1, nav, img, #description {
     text-align: center;
}
h1, h2, h3 {
     color: #4717F6;
     font-variant: small-caps; text-transform: none;
}

img, svg {
     max-width: 100%;
     display: block;
     margin: 0 auto;
}
hr {
     border: 0;
     height: 2px;
     background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(71, 23, 246, 0.75), rgba(0, 0, 0, 0));
}

a {
     text-decoration: underline dotted;
     color: #4717F6;
}
a:hover {
     color: #A239CA;
     border-bottom: 2px solid #A239CA;
}
a:visited {
     color: #A239CA;
}

blockquote {
     margin-top: 10px;
     margin-bottom: 10px;
     margin-left: 5px;
     padding-left: 5px;
     border-left: 2px solid #4717F6;
    ;
}

pre {
     display: block;
     padding: 1em;
     background-color: #E0D8FD;
     border: 1px solid #4717F6;
     white-space: pre-wrap;
     overflow-x: auto;
     tab-width: 4;
     font-size: 0.8rem;
     font-family: Courier, monospace;
}
code {
     white-space: pre-wrap;
     padding: 1px;
     font-family: Courier, monospace;
}

table {
     text-align: justify;
     border-collapse: collapse;
     border: 1px solid #E0D8FD;
     margin: auto;
     display: block;
     overflow: auto;
     table-layout: auto;
     margin-top: 2px;
     margin-bottom: 2px;
     width: 100%;
}
th {
     font-weight: bold;
}
td, th {
     padding: 0.5em;
     border-bottom: 1px solid #E0D8FD;
     border-right: 1px solid #E0D8FD;
}
.center {
     text-align: center;
}

.tag {
     font-size: 0.8rem;
     padding-right: 2px;
}
.tag::before {
     content: "🏷";
}
.timestamp {
     font-size: 0.8rem;
     font-family: Courier, monospace;
}
.timestamp::before {
     content: "⌚";
}
.list-index {
     list-style: none;
     padding-left: 0;
}
.list-index li {
     border: 1px solid #9275FA;
     box-shadow: 2px 2px 2px #9275FA;
     padding-left: 0.5rem;
     padding-right: 0.5rem;
     margin-bottom: 1rem;
}
a.section {
     font-size: 0.75rem;
     padding: 1px;
}
article {
     margin-top: 2px;
     padding: 1rem;
     border: 1px solid #9275FA;
     box-shadow: 2px 2px 6px #9275FA;
}
h1 {
     border: 1px solid #9275FA;
     box-shadow: 2px 2px 2px #9275FA;
}
#description {
     padding-bottom: 1rem;
     /*border-bottom: 2px dashed #4717F6;*/
     box-shadow: 0px 4px 4px -4px #9275FA;
}
.content-block {
     border: 1px solid #9275FA;
     box-shadow: 2px 2px 2px #9275FA;
     padding-left: 0.5rem;
     padding-right: 0.5rem;
     margin-bottom: 1rem;
}
#description > img {
     margin-top: 2px;
     border: 1px solid #9275FA;
     box-shadow: 2px 2px 2px #9275FA;
}
.note {
     border: 1px dotted #9275FA;
     font-size: 0.75rem;
     padding: 1px;
}
.highlight {
     background-color: rgba(255,255,0,0.75);
     padding-left: 1px;
     padding-right: 1px;
}
