:root {
     --background: #EFEFEF; 
     --link: #870002;
     --text: #0E0B16;
     --text-link: #1B2D4B;
     --background-dark: #263261;
}
@media screen {
     body {
          max-width: 48rem;
          padding: 5px;
          margin: auto;
          line-height: 1.5;
          color: var(--text);
          background-color: var(--background);
     }
     header, footer {
          background: var(--background);
     }
     main {
          background: var(--background);
     }
     nav {
          font-size: 0.75rem;
          background-color: var(--background-dark);
          padding-bottom: 2px;
          margin-bottom: 5px;
          color: var(--background);
          border: 1px solid var(--background);
     }
     nav a {
          color: var(--background);
          text-decoration: none;
          border-bottom: 1px solid var(--background);
     }
     nav a:visited {
          color: var(--background);
          text-decoration: none;
          border-bottom: 1px solid var(--background);
     }
     h1, nav, img, figure, figcaption, #description {
          text-align: center;
     }
     h1, h2, h3 {
          color: var(--background-dark);
          font-variant: small-caps; text-transform: none;
          border-bottom: 1px dashed var(--background-dark);
     }
     h1 {
          border-bottom: 1px solid var(--background-dark);
     }
     #description {
          padding-bottom: 1rem;
          border-bottom: 2px solid var(--background-dark);
     }
     #description > img {
          margin-top: 5px;
          border: 1px solid var(--background-dark);
          box-shadow: 2px 2px 2px var(--background-dark);
     }
     .content-block {
          border: 1px solid var(--background-dark);
          box-shadow: 2px 2px 2px var(--background-dark);
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          margin-bottom: 1rem;
     }
     hr {
          border: 0;
          background: var(--background-dark);
          height: 1px;
     }
     a {
          text-decoration: none;
          border-bottom: 1px solid var(--background-dark);
          color: var(--text-link);
     }
     a:hover {
          text-decoration: none;
          border-bottom: 2px dotted var(--text);
          color: var(--link);
     }
     a:visited {
          text-decoration: none;
          border-bottom: 1px dotted var(--background-dark);
          color: var(--text-link);
     }
     .center {
          text-align: center;
     }
     .tag {
          font-size: 0.8rem;
          padding-right: 2px;
     }
     .tag::before {
          content: "🏷";
     }
     time {
          font-size: 0.8rem;
          font-family: monospace;
     }
     time::before {
          content: "⌚";
     }
     .list-index {
          list-style: none;
          padding-left: 0;
     }
     .list-index li {
          border: 1px solid var(--background-dark);
          box-shadow: 2px 2px 2px var(--background-dark);
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          margin-bottom: 1rem;
     }
     .note {
          color: var(--link);
          font-size: 0.75rem;
          padding: 2px;
     }
     .list-filter {
          font-size: 0.6rem;
     }
     .list-filter::before {
          content: "sort-by: ";
     }
     .list-filter > .list-sort-attribute {
          margin-right: 5px;
          padding: 0px;
          color: var(--background-dark);
          background-color: #EFEFEF;
          border: none;
          border-bottom: 1px dotted var(--background-dark);
     }
     footer {
          text-align: center;
          margin: auto;
          display: block;
          font-size: 0.75rem;
          background-color: var(--background-dark);
          color: var(--background);
          border: 1px solid var(--background);
          padding-bottom: 5px;
          margin-top: 5px;
          margin-bottom: 5px;
     }
     footer a {
          color: var(--background);
          text-decoration: none;
          border-bottom: 1px solid var(--background);
     }
     footer a:visited {
          color: var(--background);
          text-decoration: none;
          border-bottom: 1px solid var(--background);
     }
}
@media print {
     header {
          display: none;
     }
     footer {
          display: none;
     }
     body {
          background: white;
          color: black;
          margin: 10px;
          font: 1rem;
          line-height: 1.5;
     }
}
img, svg {
     max-width: 100%;
     display: block;
     margin: 0 auto;
     margin-top: 5px;
     padding: 1px;
     box-shadow: 1px 1px 2px var(--background-dark);
}
blockquote {
     margin: 0px;
     margin-top: 10px;
     margin-bottom: 10px;
     margin-left: 2px;
     padding: 0px;
     padding-right: 10px;
     padding-left: 15px;
     border: 1px solid var(--background-dark);
     border-left: 5px solid var(--background-dark);
}
pre {
     display: block;
     padding: 1em;
     background-color: var(--background);
     border: 1px solid var(--background-dark);
     white-space: pre-wrap;
     overflow-x: auto;
     tab-width: 4;
     font-size: 0.8rem;
     font-family: Courier, monospace;
}
code {
     white-space: pre-wrap;
     padding: 1px;
     font-family: Courier, monospace;
}
table {
     text-align: justify;
     border-collapse: collapse;
     border: 1px solid var(--background-dark);
     margin: auto;
     display: block;
     overflow: auto;
     table-layout: auto;
     margin-top: 2px;
     margin-bottom: 2px;
     width: 100%;
}
th {
     font-weight: bold;
}
td, th {
     padding: 0.5em;
     border-bottom: 1px solid var(--background-dark);
     border-right: 1px solid var(--background-dark);
}
.label {
     border: 1px solid var(--background-dark);
     color: var(--background-dark);
     font-size: 0.75rem;
     padding: 2px;
}
.linkid {
    position: absolute;
    margin: 5px 0 0 -20px;
    font-size: 0.8em;
    color: #555;
    border: 0px;
}
.linkid:before {
    content:  "#";
}