/* TOC */
#toc div.h2 { margin-left: 0 }
#toc div.h3 { margin-left: 1em }
#toc div.h4 { margin-left: 2em }
#toc div.h5 { margin-left: 3em }
/* TOC counters */
#toc {
    counter-reset: v2;
}
#toc div.h2:before {
    content: counter(v2);
    counter-increment: v2;
    color: #666;
    font-size: 0.8em;
    margin-right: 5px;
}
#toc div.h2 {
    counter-reset: v3;
}
#toc div.h3:before {
    content: counter(v2) "." counter(v3);
    counter-increment: v3;
    color: #666;
    font-size: 0.8em;
    margin-right: 5px;
}
#toc div.h3 {
    counter-reset: v4;
}
#toc div.h4:before {
    content: counter(v2) "." counter(v3) "." counter(v4);
    counter-increment: v4;
    color: #666;
    font-size: 0.8em;
    margin-right: 5px;
}
/* H counters */
body {
    counter-reset: h2counter;
}
h2:before {
    content: counter(h2counter);
    counter-increment: h2counter;
    color: #666;
    font-size: 0.8em;
    margin-right: 5px;
}
h2 {
    counter-reset: h3counter;
}
h3:before {
    content: counter(h2counter) "." counter(h3counter);
    counter-increment: h3counter;
    color: #666;
    font-size: 0.8em;
    margin-right: 5px;
}
h3 {
    counter-reset: h4counter;
}
h4:before {
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter);
    counter-increment: h4counter;
    color: #666;
    font-size: 0.8em;
    margin-right: 5px;
}