.spacious-top {
    margin-top: 25px;
    padding-top: 25px;
}
.spacious-bottom {
    margin-bottom: 25px;
    padding-bottom: 25px;
}
/* Mobile */
@media only screen and (max-width: 767px) {
    .mobile-hide{
        display: none !important;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .tablet-hide{
        display: none !important;
    }
}

/* Small Monitor */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .small-hide{
        display: none !important;
    }
    .article {
        padding-left: 10%;
        padding-right: 10%;
    }
    .clean-article {
        font-size: 1.25em;
    }
}
/* Large Monitor */
@media only screen and (min-width: 1200px) {
    .large-hide{
        display: none !important;
    }
    .article {
        padding-left: 10%;
        padding-right: 10%;
    }
    .clean-article {
        font-size: 1.25em;
    }
}


/* SOCIAL SHARE BUTTONS */
#social-buttons {
    position: fixed;
    top: 100px;
    right: 0px;
    width: 260px;
    height: 200px;
    z-index: 99;
}
#social-share-menu {
    display: none;
}
#social-share-button {
    position: fixed;
    top: 100px;
    right: 0px;
}