{% extends 'sitebase/base.html' %}{% load subdomainurls %}
{% block e_BODY %}
<article class="baskerville pb5">
    <header class="avenir tc ph3 ph4-ns pt4 pt5-ns">
        <h1 class="f3 f-subheadline-l measure lh-title fw1 mt0 near-black">{% block fe_HEADER %}{% endblock fe_HEADER %}</h1>
        <nav class="">
        	<div class="fw2 f6 lh-title mt0 mb3 tc">
		      	<a href="{% url 'research:home' subdomain='research' %}"><span class="f5 fw1 ph2 light-red">Research Home</span></a>
		      	<a href="{% url 'research:blog:home' subdomain='research' %}"><span class="f5 fw1 ph2 light-red">Research Blog</span></a>
		      	<a href="{% url 'home' subdomain=None %}"><span class="f5 fw1 ph2 light-red">Main Site</span></a>
	      	</div>
        </nav>
    </header>
    {% block ee_BODY %}{% endblock ee_BODY %}
</article>
{% endblock e_BODY %}