{% extends 'dev/base.html' %}

{% load static from staticfiles %}
{% block e_TITLE %}{{ post.title }}{% endblock e_TITLE %}
{% block e_META_DESCRIPTION %}dev blog at harshp.com{% endblock e_META_DESCRIPTION %}

{% block e_BODY %}
<article class="baskerville pt2 pb5">
    <header class="avenir tc ph3 ph4-ns">
        <h1 class="f1 measure lh-title fw1 mt0 mb0 pb0 dark-red tc">{{ post.title }}</h1>
        <div class="f2 avenir center mb1 tc"><a class="link dark-blue" href="{{ post.section.get_absolute_url }}">{{ post.section.title }}</a></div>
        <nav class="">
          <div class="tc pb3">
            <a class="blue f4 dib ph1" href="{% url 'home' subdomain=None %}" title="home">harshp.com</a>/<a class="blue f4 dib ph1" href="{% url 'dev:index' subdomain='dev' %}" title="Dev">dev</a>/<a class="blue f4 dib ph1" href="{{ section_type_url }}" title="{{ section_type }}">{{ section_type }}</a>
          </div>
        </nav>
        <div class="f4 baskerville dark-gray center tc mb2">{{ post.short_description }}</div>
        <time class="f5 f4-l db fw1 gray baskerville">posted: {{ post.date_published }} | updated: {{ post.date_updated }}</time>
        <div class="navy pt2 pb4 f5">tags:
            {% for tag in post.tags.all %}
                <a class="link dark-blue pa1 dib ba b--moon-gray fw1" href="#" class="ui tiny tag label">{{ tag.name }}</a>
            {% endfor %}
        </div>
        {% if post.headerimage %}
            <img class="w-100 dib measure f3 mb2" src="{{ post.headerimage }}"/>
        {% endif %}
    </header>
    <div class="measure db center f4 f3-ns lh-copy">
    {{ post.body_text | safe }}
    </div>
</article>
{% endblock e_BODY %}

{% block ee_CSS %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/plugins/line-highlight/prism-line-highlight.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/plugins/line-numbers/prism-line-numbers.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/plugins/toolbar/prism-toolbar.min.css" />
{% endblock ee_CSS %}

{% block e_JS %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/plugins/line-highlight/prism-line-highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/plugins/normalize-whitespace/prism-normalize-whitespace.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/plugins/toolbar/prism-toolbar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-clike.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-python.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-bash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-java.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-javascript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-bash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-scheme.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-haskell.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-latex.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-json.min.js"></script>
{% endblock e_JS %}