boto
coverage
coveralls
Django
django-bootstrap3
django-ckeditor
django-fabric
django-filer
django-meta
django-robots
django-seed
django-slowtests
django-storages
django-subdomains
django-suit
django-wysiwyg-redactor
docutils
Fabric
gitchangelog
MySQL-python
Pillow
pytz
