/*
 * Font sizes
 */
html { font-size: 62.5%; }
body { font-size: 1.15em;}



@media (max-width: 300px) {
    html { font-size: 70%; }
    h1 { font-size: 1em; }
    h2 { font-style: 0.75em; }
    h3 { font-size: 0.5em; }
    h4 { font-size: 0.25em; }
}

@media (min-width: 500px) {
    html { font-size: 80%; }
    h1 { font-size: 2em; }
    h2 { font-size: 1.75em; }
    h3 { font-size: 1.5em; }
    h4 { font-size: 1.25em; }
}

@media (min-width: 700px) {
    html { font-size: 120%; }
    h1 { font-size: 3em; }
    h2 { font-size: 2.25em; }
    h3 { font-size: 2em; }
    h4 { font-size: 1.5em; }
}

@media (min-width: 1200px) {
    html { font-size: 200%; }
    h1 { font-size: 4em; }
    h2 { font-size: 3em; }
    h3 { font-size: 2em; }
    h4 { font-size: 1.5em; }
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-family: monospace;
}

.nodecorate {
	  text-decoration: none;
	  color:inherit;
	}

.blog-title {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 20px;
  font-weight: normal;
  font-family: "Comic Sans MS";
}

.blog-description {
	text-align: center;
  font-size: 12px;
  color: #999;
  padding-bottom: 20px;
  font-family: "Comic Sans MS";
}

/*
 * Blockquotes
 */

blockquote {
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
  font-family: monospace;
}

/*
 * IMG
 */
img {
  display: block;
  width: 100%;
}

/** Social Button CSS **/

.share-btn {
    display: inline-block;
    color: #ffffff;
    border-radius: 50%;
    padding: 0.5em;
    width: 2em;
    height: 2em;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
    outline: none;
    text-align: center;
}

.share-btn:hover {
  color: #eeeeee;
}

.share-btn:active {
  position: relative;
  top: 2px;
  box-shadow: none;
  color: #e2e2e2;
  outline: none;
}

.share-btn.twitter     { background: #55acee; }
.share-btn.google-plus { background: #dd4b39; }
.share-btn.facebook    { background: #3B5998; }
.share-btn.linkedin    { background: #4875B4; }
.share-btn.email       { background: #444444; }

#footer {
  text-align: center;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsla(0,0%,0%,0)), color-stop(50%,hsla(0,0%,0%,.75)), color-stop(100%,hsla(0,0%,0%,0)));
    background: -webkit-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:    -moz-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:     -ms-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:      -o-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:         linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
}