body {
    margin: 0;
    padding: 0;
    border: 1;
    font-family: 'Glegoo', serif;
}

.content {
    text-align: center;
}

#change_light {
    color: #555;
}

#change_dark {
    color: #AAA;
}

a {
  color:inherit;
  text-decoration: none;
 }

.Blog {
    color: #FD686D;
}

.Story {
    color: #FD995B;
}

.Poem {
    color: #FFE86D;
}

.Article {
    color: #91FF5B;
}

.LifeX {
    color: #5EC3FF;
}

.Brainbank {
    color: #B44EFF;
}

.blog-header {
  margin-bottom: 50px;
  margin-top: 50px;
}

