body {
    margin: 0;
    padding: 0;
    border: 1;
    font-size: 2em;
}

@media (min-width: 1200px) {
    body {
        font-size: 200%;
    }
}

.content {
    text-align: center;
}

#change_light {
    color: #555;
}

#change_dark {
    color: #AAA;
}

a {
  color:inherit;
  text-decoration: none;
 }

.Blog {
    color: #FF3300;
}

.Story {
    color: #FF6600;
}

.Poem {
    color: #FFCC00;
}

.Article {
    color: #33FF00;
}

.LifeX {
    color: #0033FF;
}

.Brainbank {
    color: #FF00CC;
}

.pageheader {
    font-size: 1em;
    text-shadow: 1px 1px 1px white, 3px 3px 3px lightgray;
}

#footer {
    font-size: 0.5em;
}

