{% load static from staticfiles %}<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block e_TITLE %}harshp.com{% endblock e_TITLE %}</title>
    <meta name="description" content="{% block e_META_DESCRIPTION %}{% endblock e_META_DESCRIPTION %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% for key, value in meta.items %}
    <meta name="{{key}}" content="{{value}}" />{% endfor %}
    {% block f_CSS %}
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="https://unpkg.com/gutenberg-css@0.4" media="print"> 
    <link href="https://fonts.googleapis.com/css?family=Quattrocento" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css"> -->
    <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm_theme_pearl-lusta.min.css">
    <style>
hr.stylish {
    border-top: 1px solid #8c8b8b;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
hr.stylish:after {
    content: 'end';
    display: inline-block;
    position: relative;
    top: -14px;
    padding: 0 10px;
    background: #f0f0f0;
    color: #8c8b8b;
    font-size: 18px;
}
    </style>
    {% block ee_CSS %}{% endblock ee_CSS %}{% endblock f_CSS %}
    {% include 'meta.html' %}
    {% block f_lib_JS %}{% block lib_JS %}{% endblock lib_JS %}{% endblock f_lib_JS %}
</head>
<body>
    {% block f_BODY %}<main>
    {% block e_BODY %}{% endblock e_BODY %}
    <hr class="stylish" />
    {% block f_FOOTER %}<!-- FOOTER -->
    <div id='footer' class="container">
        <form id="feedback-form" action="{% url 'feedback:add' request.path  %}" class="">
            <input id="input-title" type="hidden" name="title" value="">
            <div>
                <button type="submit" onclick="document.getElementById('feedback-form').submit();">
                    have feedback?
                </button>
            </div>
        </form>
        <div id="feedbacks">
            {% if  feedbacks %}
            <h2>feedbacks:</h2>
            {% for feedback in feedbacks %}
            <p><b>#{{ feedback.pk }}</b> {{ feedback.timestamp }}<br/>
            <i>"{{ feedback.text }}"</i>
            {% if feedback.feedback %}<br/><u>reply:</u> {{ feedback.feedback|safe }}{% endif %}
            </p>
            {% endfor %}
            {% endif %}
        </div>
        <hr/>
        <div>
            <p><a href="{% url 'me:home' %}">About Me</a> | <a href="https://github.com/coolharsh55/harshp.com/">Source Code</a> | <a href="{% url 'contact' %}">Contact Me</a></p>
            <p><u>privacy policy:</u> no data collection, no cookies, no tracking (server logs IP)</p>
            <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
        </div>
    </div>
    <script type="text/javascript">
        window.onload = function() {
            var pagetitle = document.getElementsByTagName("title")[0].innerHTML;
            document.getElementById("input-title").value = pagetitle;
        }
    </script>
    {% endblock f_FOOTER %}
    {% block e_JS %}{% endblock e_JS %}
    </main>{% endblock f_BODY %}
</body>
</html>
