{% load static from staticfiles %}<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block e_TITLE %}harshp.com{% endblock e_TITLE %}</title>
    <meta name="description" content="{% block e_META_DESCRIPTION %}{% endblock e_META_DESCRIPTION %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block f_CSS %}<link rel="stylesheet" href="https://unpkg.com/tachyons@4.5.1/css/tachyons.min.css"/>
    <style type="text/css">
    @media print {
        .no-print, .no-print * {
            display: none !important;
        }
    }
    @media screen {
        .only-print, .only-print * {
            display: none !important;
        }
    }
    </style>
    {% block ee_CSS %}{% endblock ee_CSS %}{% endblock f_CSS %}
    {% include 'meta.html' %}
    {% block f_lib_JS %}{% block lib_JS %}{% endblock lib_JS %}{% endblock f_lib_JS %}
</head>
<body>
<div class="no-print">{% block f_HEADER %}<div class="center mw8-ns tc ph6-ns near-black mb2 georgia">
    <div class="ph1 ph2-mph6-ns">
      <h1 class="fw6 f3 f2-ns pv3 lh-title mt0 mb3">{% block e_HEADER_TITLE %}{% endblock e_HEADER_TITLE %}</h1>
      <h2 class="fw2 f4 lh-title mt0 mb3">{% block f_HEADER_SUBTITLE %}<a href="{% url 'home' %}"><span class="f3 fw1 light-red">harshp.com</span></a>{% endblock f_HEADER_SUBTITLE %}</h2>
      <div class="fw1 f5 mt0 mb3">{% block e_HEADER_DESCRIPTION %}{% endblock e_HEADER_DESCRIPTION %}</div>
    </div>
</div>{% endblock f_HEADER %}</div>
{% block f_BODY %}<div class="mw8 pv3 ph2 center">
{% block e_BODY %}{% endblock e_BODY %}
</div>
{% endblock f_BODY %}
{% block f_FOOTER %}<!-- FOOTER -->
<div id='footer' class="no-print w-100 pv3 mw8 bt bw1 center georgia dt">
    <form id="feedback-form" action="{% url 'feedback:add' request.path  %}" class="">
        <input id="input-title" type="hidden" name="title" value="">
        <div class="mw6-ns center pa3 f5 fw3 baskerville tc">
            I'd really appreciate any opinions, thoughts, reactions, or feedback that you may have. The link is 
            <a href="javascript:{}" onclick="document.getElementById('feedback-form').submit();">here</a>
        </div>
    </form>
    <div class="ph3 pv3 ph5-m ph6-l mid-gray">
        <small class="f6 db tc">© 2017 <b class="ttu">Harshvardhan Pandit</b></small>
        <div class="tc mt3">
            <a href="{% url 'me:home' %}">About Me</a> |
            <a href="https://github.com/coolharsh55/harshp.com/"><i class="small github icon"></i>Project Source Code</a>|
            <a href="{% url 'contact' %}">Contact Me</a> |
        </div>
        <div class="tc mt3">
            <p>I do not collect any personal data from YOU. My server might log your IP address as part of serving the request. However, I do not use it in any form except debugging certain requests and performance issues. There is no visitor tracking. There are no cookies. If you come across any stuff I should be aware of, please contact me. Cheers.</p>
        </div>
    </div>
</div>
<script type="text/javascript">
window.onload = function() {
    var pagetitle = document.getElementsByTagName("title")[0].innerHTML;
    document.getElementById("input-title").value = pagetitle;
}
</script>
{% endblock f_FOOTER %}
{% block e_JS %}{% endblock e_JS %}</body>
</html>
