{% extends 'sitebase/base.html' %}{% load static from staticfiles %}
{% block e_TITLE %}contact | harshp.com{% endblock e_TITLE %}
{% block e_META_DESCRIPTION %}Contact information for harshp.com{% endblock e_META_DESCRIPTION %}
{% block f_HEADER %}
<div class="center w-50-ns ph1 tc br2 pv3 ph6-ns  mb5 georgia">
    <h1 class="avenir fw1 mt0 mb0">CONTACT</h1>
    <h2 class="fw2 f4 lh-title mt0 mb3">{% block f_HEADER_SUBTITLE %}<a href="{% url 'home' %}"><span class="f3 fw1 light-red">harshp.com</span></a>{% endblock f_HEADER_SUBTITLE %}</h2>
    <div class="fw1 f5 mt0 mb3">{% block e_HEADER_DESCRIPTION %}{% endblock e_HEADER_DESCRIPTION %}</div>
    <p class="fw1 tc mid-gray">If you so wish to contact me, please adhere to this simple courtesy of choosing the right medium.</p>
    <li class="list">academic
        <li class="list"><a href="mailto:harshvardhan.pandit@adaptcentre.ie">harshvardhan.pandit@adaptcentre.ie</a></li>
        <li class="list"><a href="mailto:pandith@tcd.ie">pandith@tcd.ie</a></li>
        <li class="list"><a href="mailto:pandith@scss.tcd.ie">pandith@scss.tcd.ie</a></li>
        <li class="list"><a href="https://orcid.org/0000-0002-5068-3714" target="orcid.widget" rel="noopener noreferrer" style="vertical-align:top;">orcid.org/0000-0002-5068-3714</a></li>
    </li>
    <li class="list">personal
        <li class="list"><a href="mailto:me@harshp.com">me@harshp.com</a></li>
        <li class="list"><a href="mailto:coolharsh55@gmail.com.com">coolharsh55@gmail.com</a></li>
    </li>
    <li class="list">social
        <li class="list"><a href="https://twitter.com/coolharsh55/">Twitter</a></li>
        <li class="list"><a href="https://facebook.com/coolharsh55/">Facebook</a></li>
        <li class="list"><a href="https://www.linkedin.com/in/harshvardhanpandit/">LinkedIn</a>
        <li class="list"><a href="https://github.com/coolharsh55/">Github</a></li>
    </li>
</div>
{% endblock f_HEADER %}
{% block f_FOOTER %}{% endblock f_FOOTER %}
