{% extends 'sitebase/base.html' %}{% load static from staticfiles %}
{% block e_TITLE %}homepage | harshp.com{% endblock e_TITLE %}
{% block e_META_DESCRIPTION %}harshp.com - the personal website and project of Harshvardhan Pandit{% endblock e_META_DESCRIPTION %}
{% block e_BODY %}
<h1>harshp.com</h1>
<p><u>navigate:</u> <a href="{% url 'blog:list' %}">blog</a>; <a href="{% url 'me:home' %}">about me</a>; <a href="{% url 'stub' %}">resume</a>; <a href="https://github.com/coolharsh55/">github</a>; <a href="{% url 'research:home' %}">research</a></p>
<p><u>this page:</u> 
    <a href="#recent">recent</a>; 
    <a href="#featured">featured</a>; 
    <a href="#research">research</a>;
    <a href="#dev">dev</a>;
    <a href="#hobbies">hobbies</a>;
    <a href="#meta">meta</a>;
    <a href="#personal">personal</a>;
</p>

    <h2 id="recent">recent</h2>
{% for model, post in latest_posts %}
<a href="{{ post.get_absolute_url }}">{{ post.title }}</a> <small>({{model}}) {{post.date_published}}</small><br/>
{% endfor %}

<h2 id="featured">featured</h2>
{% for model, post in featured_posts %}
<a href="{{ post.get_absolute_url }}">{{ post.title }}</a> <small>({{model}}) {{post.date_published}}</small><br/>
{% endfor %}

<h2 id="research">research</h2>
<span>PhD research topic: expressing and evaluating <a target="_blank" href="https://en.wikipedia.org/wiki/General_Data_Protection_Regulation">GDPR</a> obligations over provenance metadata</span><br/>
<span>go to: <a href="{% url 'research:home' %}">research section</a>; <a href="{% url 'research:blog:home' %}">research blog</a>; <a class="db link" href="{% url 'research:publications' %}">publications</a></span>

<a id="dev" href="{% url 'dev:index' %}"><h2>/dev</h2></a>
<span><u>articles:</u> 
<a href="{% url 'dev:guide:index' %}">guides &amp; tutorials</a>; 
<a href="{% url 'dev:res:index' %}">resources</a>; 
<a href="{% url 'dev:discuss:index' %}">discussions</a>; </span><br/>
<span><u>work:</u> 
<a href="{% url 'dev:mystack:index' %}">my stack</a>; 
<a href="{% url 'dev:project:index' %}">projects</a>; 
<a href="{% url 'brainbank:list' %}">brainbank</a>; </span><br/>
<span><a href="{% url 'dev:utils:gnib-appointments' %}">gnib/visa appt. util</a></span>

<h2 id="hobbies">hobbies</h2>
<span><u>creation:</u> <a href="{% url 'poems:list' %}">poems</a>; <a href="{% url 'stories:list' %}">stories</a>; <a href="{% url 'hobbies:photography:index' %}">photography</a>; <a href="{% url 'hobbies:origami:index' %}">origami</a></span><br/>
<span><u>consumption:</u> <a href="{% url 'hobbies:movies:index' %}">movies</a>; <a href="{% url 'hobbies:books:index' %}">books</a>; <a href="{% url 'hobbies:videogames:index' %}">video-games</a>; <a href="{% url 'hobbies:music:index' %}">music</a>;</span><br/>
<span><u>eating:</u> <a href="{% url 'hobbies:teacoffee:index' %}">tea/coffee</a>;</span><br/>
<span><u>learning:</u> <a href="{% url 'hobbies:polymathy:index' %}">polymathy</a>; <a href="{% url 'lifeX:home' %}">lifeX</a>;</span>

<h2 id="meta">meta</h2>
<span><u>navigate:</u> 
<a href="{% url 'sitebase:discover' %}">discover</a>; 
<a href="{% url 'sitebase:random' %}">random</a>; 
<a href="{% url 'sitebase:linkfarm' %}">link-farm</a>; </span><br/>
<span><u>interact:</u> 
<a href="{% url 'feedback:list' %}">feedback</a>; 
<a href="{% url 'sitebase:search' %}">search</a>; </span><br/>

<h2 id="personal">personal</h2>
<span><em>requires authorisation</em></span><br/>
<a href="{% url 'journal:auth' %}">journal</a>; <br/>
<span><u>finance:</u> 
<a href="{% url 'finance:home' %}">dashboard</a>; 
<a href="/personal/finance/monthly-spendings/">monthly</a>; 
<a href="/personal/finance/monthly-spendings/{{current_financial_month}}/">current month</a>; 
<a href="/manage/finance/financeaccount/">accounts</a>; 
<a href="/manage/finance/transaction/">transactions</a>; 
{% endblock e_BODY %}
