{% extends 'sitebase/base.html' %}
{% block e_TITLE %}Add Feedbacks{% endblock e_TITLE %}
{% block e_META_DESCRIPTION %}add feedback for pages at harshp.com{% endblock e_META_DESCRIPTION %}
{% block e_HEADER_TITLE %}New Feedback{% endblock e_HEADER_TITLE %}
{% block e_BODY %}
<h1>add feedback</h1>
<p>navigate: <a href="/">homepage</a></p>
<p><b>feedback for: <a href="{{ url }}">{{ title }} ({{ category }})</a></p>
<p><a href="{% url 'feedback:list' %}">see all feedbacks</a></p>
<form class="measure center" action="{% url 'feedback:add' None %}" method="POST">
	{% csrf_token %}
	<input type="hidden" name="url" readonly value="{{ url }}">
	<input type="hidden" name="category" readonly value="{{ category }}">
	<input type="hidden" name="title" readonly value="{{ title }}">
	<fieldset id="fieldtext">
		<legend>feedback</legend>
		<textarea style="height:200px;" name="text" id="text"></textarea>
	</fieldset>
	<fieldset id="fielduser">
		<legend>(optional) contact info</legend>
		<textarea name="user"  id="user"></textarea>
	</fieldset>
    <input type="submit" value="Submit Feedback" style="font-weight: bold; text-decoration: underline; background: #CCC;">
</form>
{% endblock e_BODY %}
