{% extends 'sitebase/base.html' %}
{% block e_TITLE %}Feedbacks{% endblock e_TITLE %}
{% block e_META_DESCRIPTION %}feedbacks for pages at harshp.com{% endblock e_META_DESCRIPTION %}
{% block e_HEADER_TITLE %}Feedbacks{% endblock e_HEADER_TITLE %}
{% block e_BODY %}
<h1>feedbacks</h1>
<p>navigate: <a href="/">homepage</a></p>
{% for feedback in all_feedbacks %}
	<p><b>#{{ feedback.pk }}</b> {{ feedback.timestamp }}<br/>
    about: <a href="{{ feedback.url }}">{{ feedback.title }} ({{ feedback.category }})</a><br/>
	<i>"{{ feedback.text }}"</i>
	{% if feedback.feedback %}<br/><u>reply:</u> {{ feedback.feedback|safe }}{% endif %}<br/>
{% endfor %}
{% endblock e_BODY %}
