{% extends 'sitebase/base.html' %}
{% block e_TITLE %}Feedback #{{feedback.pk}}{% endblock e_TITLE %}
{% block e_HEADER_TITLE %}Feedback #{{feedback.pk}}{% endblock e_HEADER_TITLE %}
{% block e_BODY %}
<h1>feedback #{{feedback.pk}}</h1>
<p>navigate: <a href="/">homepage</a></p>
<p>{{ feedback.timestamp }}<br/>
about: <a href="{{ feedback.url }}">{{ feedback.title }} ({{ feedback.category }})</a><br/>
<i>"{{ feedback.text }}"</i>
{% if feedback.feedback %}<br/><u>reply:</u> {{ feedback.feedback|safe }}{% endif %}
</p>
{% endblock e_BODY %}
