{% extends 'sitebase/base.html' %}
{% load static from staticfiles %}
{% load subdomainurls %}

{% block e_BODY %}
<!-- ABOUT ME -->
<div class="ui center aligned stackable grid container">
    <div class="ui two column row spacious-top ">
        <div class="column">
            <h2 class="ui blue center aligned header">About Me</h2>
            <p>I'm Harshvardhan Pandit, a Ph.D. CompSci researcher at Trinity, Dublin; and I'm researching about how users can be better advised about their privacy on a contextual basis.</p>
            <p>You can read more about me talking about me <a href="{% url 'me:home' subdomain='me' %}">here</a>.</p>
            </div>
            <div class="ui vertical divider">&</div>
            <div class="column">
            <h2 class="ui blue center aligned header">Profiles</h2>
            <p>Use these links if you want to know something specific about me. They contain a brief description of myself in a specific role.</p>
            <div class="ui big horizontal divided list">
                <div class="item"><a href="{% url 'stub' %}">Developer</a></div><!-- me.harshp.com/profiles/developer -->
                <div class="item"><a href="https://github.com/coolharsh55/">Github</a></div><!-- me.harshp.com/profiles/github -->
                <div class="item"><a href="{% url 'stub' %}">Resume</a></div><!-- me.harshp.com/profiles/resume -->
                <div class="item"><a href="{% url 'stub' %}">Researcher</a></div><!-- me.harshp.com/profiles/researcher -->
            </div>
        </div>
    </div>
</div>

<!-- CONTENT -->
<div class="ui horizontal divider">contents</div>
<div class="ui stackable grid container">
    <!-- ROW 1 -->
    <div class="ui four column row spacious-top">
        <!-- LATEST POSTS  -->
        <div class="column">
            <div class="ui cards">
                <div class="card">
                    <div class="content">
                        <div class="header"><a href="{% url 'stub' %}"><h2 class="ui blue header"><i class="red calendar icon"></i>Latest Posts</h2></a></div><!-- harshp.com/latest/ -->
                        <div class="meta"></div>
                        <div class="ui horizontal divider">L-I-F-O</div>
                        <div class="description">
                            <div class="ui list">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FEATURED POSTS -->
        <div class="column">
            <div class="ui cards">
                <div class="card">
                    <div class="content">
                        <div class="header"><a href="{% url 'stub' %}"><h2 class="ui blue header"><i class="yellow star icon"></i>Featured Posts</h2></a></div><!-- harshp.com/featured/ -->
                        <div class="meta"></div>
                        <div class="ui horizontal divider">awesome posts</div>
                        <div class="description">
                            <div class="ui list">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Creative Writing -->
        <div class="column">
            <div class="ui cards">
                <div class="card">
                    <div class="content">
                        <div class="header"><a href="{% url 'stub' %}"><h2 class="ui blue header"><i class="teal font icon"></i>Writing</h2></a></div>
                        <div class="meta"></div><!-- harshp.com/creative-writing/ -->
                        <div class="ui horizontal divider">thoughts & tangents</div>
                        <div class="description">
                            <div class="ui list">
                                <div class="item">
                                    <h3 class="ui header"><a href="{% url 'articles:list' subdomain='articles' %}"><i class="newspaper icon"></i>Articles</a></h3><!-- articles.harshp.com -->
                                </div>
                                <div class="item">
                                    <h3 class="ui header"><a href="{% url 'blog:list' subdomain='blog' %}"><i class="paragraph icon"></i>Blog</a></h3><!-- blog.harshp.com -->
                                </div>
                                <div class="item">
                                    <h3 class="ui header"><a href="{% url 'poems:list' subdomain='poems' %}"><i class="asterisk icon"></i>Poems</a></h3><!-- poems.harshp.com -->
                                </div>
                                <div class="item">
                                    <h3 class="ui header"><a href="{% url 'stories:list' subdomain='stories' %}"><i class="quote right icon"></i>Stories</a></h3><!-- stories.harshp.com -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BrainBank -->
        <div class="column">
            <div class="ui cards">
                <div class="card">
                    <div class="content">
                        <div class="header"><a href="{% url 'stub' %}"><h2 class="ui blue header"><i class="orange idea icon"></i>BrainBank</h2></a></div><!-- brainbank.harshp.com -->
                        <div class="meta"></div>
                        <div class="ui horizontal divider">R&D for my ideas</div>
                        <div class="description">
                            <div class="ui list">
                                <div class="item">
                                    <h4 class="ui sub header"><i class="calendar outline icon"></i>latest post</h4>
                                    <h4 class="ui sub header"><i class="info icon"></i>idea</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ROW 2 -->
    <div class="ui four column row spacious-top">
        <!-- LifeX -->
        <div class="column">
            <div class="ui cards">
                <div class="card">
                    <div class="content">
                        <div class="header"><a href="{% url 'stub' %}"><h2 class="ui blue header"><i class="pink lab icon"></i>LifeX</h2></a></div><!-- lifeX.harshp.com -->
                        <div class="meta"></div>
                        <div class="description">
                            <div class="ui horizontal divider"><a href="{% url 'stub' %}"><i class="marker icon"></i>latest week</a></div><!-- lifeX.harshp.com/latest/week/ -->
                            <div class="ui list">
                            </div>
                            <div class="ui horizontal divider"><a href="{% url 'stub' %}"><small><i class="puzzle icon"></i>experiments</small></a></div><!-- lifeX.harshp.com/latest/week/experiments/ -->
                            <div class="ui list">
                            </div>
                            <div class="ui horizontal divider">Links</div>
                            <div class="ui list">
                                <div class="item">
                                    <h4 class="ui sub header"><a href="{% url 'stub' %}"><i class="file powerpoint outline icon"></i>What is Life Experiments?</a></h4><!-- lifeX.harshp.com/intro/ -->
                                </div>
                                <div class="item">
                                    <h4 class="ui sub header"><a href="{% url 'stub' %}"><i class="history outline icon"></i>Previous Weeks</a></h4><!-- lifeX/harshp.com/weeks/ -->
                                </div>
                                <div class="item">
                                    <h4 class="ui sub header"><a href="{% url 'stub' %}"><i class="lab outline icon"></i>All Experiments</a></h4><!-- lifeX.harshp.com/experiments/ -->
                                </div>
                                <div class="item">
                                    <h4 class="ui sub header"><a href="{% url 'stub' %}"><i class="clipboard outline icon"></i>LifeX Blog</a></h4><!-- lifeX.harshp.com/blog/ -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- DEV -->
        <div class="column">
            <div class="ui cards">
                <div class="card">
                    <div class="content">
                        <div class="header"><a href="{% url 'stub' %}"><h2 class="ui blue header"><i class="violet code icon"></i>/dev</h2></a></div><!-- dev.harshp.com -->
                        <div class="meta"></div>
                        <div class="ui horizontal divider">developer mantra</div>
                        <div class="description">
                            <div class="ui list">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- RESEARCH -->
        <div class="column">
            <div class="ui cards">
                <div class="card">
                    <div class="content">
                        <div class="header"><a href="{% url 'stub' %}"><h2 class="ui blue header"><i class="brown student icon"></i>Research</h2></a></div><!-- research.harshp.com -->
                        <div class="meta"></div>
                        <div class="ui horizontal divider"><a href="{% url 'stub' %}">Ph.D. CompSci</a></div><!-- research.harshp.com/phd/ -->
                        <div class="description">
                            <div class="ui list">

                            </div>
                        </div>
                        <div class="ui horizontal divider"><a href="{% url 'stub' %}">M.Sc. CS by Research</a></div><!-- research.harshp.com/msc/ -->
                        <div class="description">
                            <div class="ui list">

                            </div>
                        </div>
                        <div class="ui horizontal divider"><a href="{% url 'stub' %}">B.Engg. Comp</a></div><!-- research.harshp.com/bengg/ -->
                        <div class="description">
                            <div class="ui list">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- HOBBIES -->
        <div class="column">
            <div class="ui cards">
                <div class="card">
                    <div class="content">
                        <div class="header"><a href="{% url 'stub' %}"><h2 class="ui blue header"><i class="olive paint brush icon"></i>Hobbies</h2></a></div><!-- hobbies.harshp.com -->
                        <div class="meta"></div>
                        <div class="ui horizontal divider">things I <i class="red heart icon"></i> to do</div>
                        <div class="description">
                            <div class="ui list">
                                <div class="item">
                                    <h3 class="ui header"><a href="{% url 'stub' %}"><i class="book icon"></i> Read Books</a></h3><!-- hobbies.harshp.com/books/ -->
                                </div>
                                <div class="item">
                                    <h3 class="ui header"><a href="{% url 'stub' %}"><i class="game icon"></i> Play Games</a></h3><!-- hobbies.harshp.com/games/ -->
                                </div>
                                <div class="item">
                                    <h3 class="ui header"><a href="{% url 'stub' %}"><i class="film icon"></i> Watch Movies</a></h3><!-- hobbies.harshp.com/movies/ -->
                                </div>
                                <div class="item">
                                    <h3 class="ui header"><a href="{% url 'stub' %}"><i class="music icon"></i> Listen Music</a></h3><!-- hobbies.harshp.com/music/ -->
                                </div>
                                <div class="item">
                                    <h3 class="ui header"><a href="{% url 'stub' %}"><i class="desktop icon"></i> Watch TV Shows</a></h3><!-- hobbies.harshp.com/tvshows/ -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock e_BODY %}
