{% extends 'sitebase/base.html' %}{% load static from staticfiles %}
{% block e_TITLE %}homepage | harshp.com{% endblock e_TITLE %}
{% block e_META_DESCRIPTION %}harshp.com - the personal website and project of Harshvardhan Pandit{% endblock e_META_DESCRIPTION %}
{% block e_HEADER_TITLE %}Harshvardhan Pandit{% endblock e_HEADER_TITLE %}
{% block f_HEADER_SUBTITLE %}{% endblock f_HEADER_SUBTITLE %}
{% block e_HEADER_DESCRIPTION %}
<div class="tc mt3"><a href="https://github.com/coolharsh55/">Github</a> | <a href="{% url 'research:home' %}">Research</a> | <a href="{% url 'stub' %}">Resume</a> | <a href="{% url 'stub' %}">Developer</a></div>
{% endblock e_HEADER_DESCRIPTION %}
{% block e_BODY %}
<div class="w-50-ns ph1 mid-gray center">
    <p class="tc">{{ annotation.content }}<span class="pl2 tc f6 i db">- {{ annotation.book.title }}</span></p>
</div>
<div class="w-50-ns ph1 center mt2 dt">
    <span class="f4">some recent content</span>
    <span class="pa2">
    {% for model, post in latest_posts %}
        <div class='f6'>
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
            <span class="f7 mid-gray"><small>{{ model }}</small></span> 
        </div>
    {% endfor %}
    </span><br/>
    <span class="f4">some featured content</span>
    <span class="pa2">
    {% for model, post in featured_posts %}
        <div class='f6'>
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
            <span class="f7 mid-gray"><small>{{ model }}</small></span> 
        </div>
    {% endfor %}
    </span>
</div>
<div class="w-50-ns ph1 center mt2 dt">
    <span class="f4">academia</span>
    <span class="pa2">
        I'm currently doing my PhD at
        <a href="https://www.tcd.ie/">Trinity College Dublin</a> with the 
        <a href="https://www.adaptcentre.ie/">ADAPT research group</a>.
        My research is related to <a href="{% url 'stub' %}">GDPR, Provenance Lifecycles, & Semantic Web</a>
        goto the <a href="{% url 'research:home' %}">research</a> section
        or my list of <a href="{% url 'research:publications' %}">publications</a>.
    </span>
</div>
<div class="w-50-ns ph1 center mt2 dt">
    <span class="f4">things I do</span>
    <span class="pa2">
        I have a <a href="{% url 'blog:list' %}">blog</a>, sometimes I also
        write <a href="{% url 'poems:list' %}">poems</a> and
        <a href="{% url 'stories:list' %}">stories</a>.
        I like reading <a href="{% url 'hobbies:books:index' %}">books</a>,
        playing <a href="{% url 'hobbies:videogames:index' %}">video-games</a>,
        watching <a href="{% url 'hobbies:movies:index' %}">movies</a>,
        listening to <a href="{% url 'hobbies:music:index' %}">music</a>.
        I also have an avid interest in <a href="{% url 'hobbies:photography:index' %}">photography</a>
        and <a href="{% url 'hobbies:origami:index' %}">origami</a>.
        I like to drink <a href="{% url 'hobbies:teacoffee:index' %}">tea & coffee</a>,
        and I aspire to be a <a href="{% url 'hobbies:polymathy:index' %}">polymath</a>.
        For a while, I ran some <a href="{% url 'lifeX:home' %}">life experiments</a>
        that looked into things like time management, making time for hobbies, etc.
        Here's more things <a href="{% url 'me:home' %}">about me</a>.
    </span>
</div>
<div class="w-50-ns ph1 center mt2 dt">
    <span class="f4">dev</span>
    <span class="pa2">
        I like technology, computers, and programming. There's a
        <a href="{% url 'dev:index' %}">developer</a> section with some
        <a href="{% url 'dev:guide:index' %}">guides &amp; tutorials</a>,
        <a href="{% url 'dev:res:index' %}">resources</a>, and
        <a href="{% url 'dev:discuss:index' %}">discussions</a>.
        I also talk about <a href="{% url 'dev:mystack:index' %}">things I use</a>,
        and about my <a href="{% url 'dev:project:index' %}">projects</a>.
        There's a 
        <a href="{% url 'dev:utils:gnib-appointments' %}">GNIB appointment</a>
        page I made that's quite helpful to people here in Dublin.
    </span>
</div>
<div class="w-50-ns ph1 center mt2 dt">
    <span class="f4">meta</span>
    <span class="pa2">
        You can check all the <a href="{% url 'feedback:list' %}">feedbacks</a>
        this site has received. 
        You can also <a href="{% url 'sitebase:discover' %}">discover</a> or
        <a href="{% url 'sitebase:search' %}">search</a> for content, or just
        go to a <a href="{% url 'sitebase:random' %}">random</a> page.
        I like to collect interesting links to things on the internet into a
        <a href="{% url 'sitebase:linkfarm' %}">link-farm</a>.
    </span>
</div>
<div class="w-50-ns ph1 center mt2 dt">
    <span class="f4">personal content</span>
    <span class="pa2">
        I maintain a <a href="{% url 'journal:auth' %}">journal</a> on this site,
        and also manage my <a href="{% url 'finance:home' %}">finances</a> where
        I keep track of <a href="/personal/finance/monthly-spendings/">monthly spendings</a>,
        <a href="/manage/finance/financeaccount/">accounts</a>, and
        <a href="/manage/finance/transaction/">transactions</a>.
    </span>
</div>
{% endblock e_BODY %}
