{% extends 'sitebase/base.html' %}{% load static from staticfiles %}{% load subdomainurls %}

{% block e_TITLE %}privacy policy | harshp.com {% endblock e_TITLE %}
{% block e_HEADER_TITLE %}privacy policy{% endblock e_HEADER_TITLE %}

{% block e_BODY %}
<div class="center pa3">
    <h1 class="f1 navy">Privacy Policy</h1>
    <div class="ba b-silver pa3 center">I DO NOT COLLECT ANY INFORMATION (EXPLICITLY) ABOUT YOUR VISIT TO THE WEBSITE. YOUR IP ADDRESS MAY BE LOGGED BY THE SERVER TO SERVE REQUESTS AND COMBAT BOTS/SPAM/JUNK. THANK YOU.</p>
</div>
{% endblock e_BODY %}