{% extends 'sitebase/base.html' %}
{% load static from staticfiles %}
{% load subdomainurls %}

{% block e_TITLE %}stub - harshp.com{% endblock e_TITLE %}
{% block ff_HEADER_SUBTITLE %}<a class="ui sub header" href="{% url 'home' None %}"><u>harshp.com</u></a>{% endblock ff_HEADER_SUBTITLE %}

{% block e_BODY %}
<div class="ui center aligned stackable container">
    <h1 class="ui header">STUB</h1>
    <h3 class="ui sub header">This page is a stub. This means that the linked / topic / section you clicked is under construction, and has not yet been completed.</h3>
    <p>If it is a previously published article that you're looking for, you can contact me to get the article.</p>
</div>
{% endblock e_BODY %}