boto==2.38.0
cffi==1.1.2
coverage==3.7.1
coveralls==0.5
cryptography==0.9.1
Django==1.8.2
django-bootstrap3==6.1.0
django-ckeditor==4.4.8
django-fabric==2.1.0
django-meta==0.3.1
django-robots==1.1
django-storages==1.1.8
django-subdomains==2.0.4
django-suit==0.2.13
django-wysiwyg-redactor==0.4.9
docopt==0.6.2
docutils==0.12
ecdsa==0.13
enum34==1.0.4
Fabric==1.10.2
fake-factory==0.5.2
gitchangelog==2.2.1
idna==2.0
ipaddress==1.0.7
MySQL-python==1.2.5
ndg-httpsclient==0.4.0
paramiko==1.15.2
Pillow==2.9.0
pyasn1==0.1.8
pycparser==2.14
pycrypto==2.6.1
pyOpenSSL==0.15.1
pytz==2015.4
PyYAML==3.11
requests==2.7.0
six==1.9.0
sqlparse==0.1.16
wheel==0.24.0
