certifi==2024.12.14
charset-normalizer==3.4.0
html5rdf==1.2.1
idna==3.10
Jinja2==3.1.5
MarkupSafe==3.0.2
owlrl==7.1.2
packaging==24.2
prettytable==3.12.0
pyparsing==3.2.0
pyshacl==0.29.1
rdflib==7.1.1
rdflib-jsonld==0.6.2
requests==2.32.3
urllib3==2.3.0
wcwidth==0.2.13
