{% extends 'sitebase/base.html' %}
{% load subdomainurls %}

{% block ff_HEADER %}
    {% block ff_HEADER_ICON %}<i class="grey write icon"></i>{% endblock ff_HEADER_ICON %}
    {% block ff_HEADER_TITLE %}journal{% endblock ff_HEADER_TITLE %}
    {% block ff_HEADER_SUBTITLE %}<a class="ui sub header" href="{% url 'journal:entries:list' subdomain='journal' %}"><u>journal.harshp.com</u></a>{% endblock ff_HEADER_SUBTITLE %}
{% endblock ff_HEADER %}

{% block f_CSS %}
{{ block.super }}
<style type="text/css">
#visibility {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-style: italic;
}
</style>
{% endblock f_CSS %}

{% block e_BODY %}
<div id='visibility' class='ui'>
    {% if user.is_authenticated %}
        <p class='ui red header'><a href="{% url 'journal:logout' %}"><i class="red unhide icon"></i></a>private</p>
    {% else %}
        <p class='ui teal header'><i class="teal hide icon"></i>public</p>
    {% endif %}
</div>
{% block ee_BODY %}{% endblock ee_BODY %}
{% endblock e_BODY %}