{% extends 'sitebase/base.html' %}
{% block ee_CSS %}<style type="text/css">
#visibility {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-style: italic;
}
</style>{% endblock ee_CSS %}
{% block e_BODY %}
{% block f_HEADER %}
<h1>{% block e_HEADER_TITLE %}journal{% endblock e_HEADER_TITLE %}</h1>
<p><u>navigate:</u> <a href="{% url 'journal:entries:list' %}">journal</a>; <a href="{% url 'home' %}">main site</a>
{% endblock f_HEADER %}
<div id='visibility' class='ui'>
        <p class="pa2"><a class="link" href="{% url 'journal:logout' %}"><span class="light-red">logout</span></a></p>
</div>
{% block ee_BODY %}{% endblock ee_BODY %}
{% endblock e_BODY %}
