{% extends 'journal/base.html' %}
{% block e_TITLE %}{{ entry.title }}{% endblock e_TITLE %}
{% block e_HEADER_TITLE %}{{ entry.title }}{% endblock e_HEADER_TITLE %}
{% block ee_BODY %}
<p>{% if entry.section %}<u>section:</u>  <a href="{{ entry.section.get_absolute_url }}">{{entry.section.name}}</a><br/>{% endif %}
<u>published on:</u> {{ entry.date_published }}<br/>
<u>last updated on:</u> {{ entry.date_updated }}<br/>
<u>tags:</u> {% for tag in entry.journal_tags.all %}{{ tag.name }}; {% endfor %}</p>
<p>{{ entry.short_description }}</p>
{{ entry.body_text|safe }}
{% endblock ee_BODY %}