{% extends 'journal/base.html' %}
{% block ee_BODY %}
<p><a href="{% url 'journal:sections:list' %}"><b>Sections</b></a></p>
{% if private_sessions %}{% for section in sections %}
	<a href="{{ section.get_absolute_url }}">{{ section.name }}</a>; {% endfor %}{% else %}<u>no public sections available</u>{% endif %}
<h2>Entries</h2>
{% for entry, visible in entries %}
<p><small>entry#{{ entry.id }}</small> <a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a> {% if entry.section %}({{entry.section.name}}){% endif %} <small>{{ entry.date_published }}</small></p>
{% endfor %}
{% endblock ee_BODY %}