{% extends 'journal/base.html' %}
{% block e_TITLE %}journal sections{% endblock e_TITLE %}
{% block e_HEADER_TITLE %}sections{% endblock e_HEADER_TITLE %}

{% block ee_BODY %}
<h1 class="f1 near-black">Sections</h1>
{% for section, entry_count in sections %}
<div class="pv1">
    {% if section.private %}{% if user.is_authenticated %}
    <a class="link ph2" href="{{ section.get_absolute_url }}"><span class="green">{{ section.name }}</span></a><span class="ph2 silver">{{ entry_count }} entries</span>{% endif %}
    {% else %}<a class="link ph2" href="{{ section.get_absolute_url }}"><span class="green">{{ section.name }}</span></a><span class="ph2 silver">{{ entry_count }} entries</span>{% endif %}
</div>
{% endfor %}
{% endblock ee_BODY %}