{% extends 'journal/base.html' %}
{% block e_TITLE %}{{ tag.name }}{% endblock e_TITLE %}

{% block ff_HEADER_TITLE %}{{ tag.name }}{% endblock ff_HEADER_TITLE %}

{% block e_BODY %}
<div class="ui center aligned container">
    <h3>{{ entries.count }} entries</h3>
    <br /><br />
</div>
<div class='ui relaxed divided container'>
    <div class="ui list">
    {% for entry in entries.all %}
        <div class="item">
            <a href="{{ entry.get_absolute_url }}">{{ entry.title }} - {{ entry.date_published }}</a>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock e_BODY %}