{% extends 'template_base.jinja2' %}
{% block pagetitle %}hobbies{% endblock pagetitle %}
{% block navtype %}| <a href="/blog">blog</a>{% endblock navtype %}
{% block title_body %}hobbies{% endblock title_body %}
{% block desc %}{% endblock desc %}
{% block content %}
        
{% endblock content %}