{% extends 'template_base.jinja2' %}
{% block pagetitle %}Games{% endblock pagetitle %}
{% block navtype %}| <a href="/hobbies">hobbies</a>{% endblock navtype %}
{% block title_body %}hobbies{% endblock title_body %}
{% block desc %}{% endblock desc %}
{% block content %}
<blockquote>Work in Progress</blockquote>
<section id="currently-playing">
  <h2>Games I'm Currently Playing</h2>
  <ol>
    {% for game, title in currently_playing %}
    <li>
      <a href="{{game.iri}}">{{game.schema_name}}</a>
    </li>
    {% endfor %}
  </ol>
</section>

<section id="played">
  <h2>Games I've Played</h2>
  <ol>
    {% for game, title, year in played %}
    <li>
      <a href="{{game.iri}}">{{game.schema_name}}</a>
    </li>
    {% endfor %}
  </ol>
</section>
{% endblock content %}