{% extends 'template_base.jinja2' %}

{% block desc %}{% endblock desc %}
{% block content %}
<ul>
{% for label, url, linked_items in tags|sort(attribute='0')|sort(attribute='2',reverse=True) %}
    <li><a href="{{url}}">{{label}}</a> - linked to {{linked_items}} posts</li>
{% endfor %}
</ul>
{% endblock content %}