{% extends 'template_base.jinja2' %}
{% block navtype %}| <a href="/me">about me</a>{% endblock navtype %}
{% block desc %}I'm work as a Research Fellow at <a href="">Trinity College Dublin</a> and live in <a href="https://en.wikipedia.org/wiki/Dublin">Dublin, Ireland</a>. I primarily work in the areas of Consent, Privacy Risks, GDPR compliance, and semantic web. I read a lot, find productive ways to be unproductive, and aim to do more than I possibly can.{% endblock desc %}
{% block content %}
    <p>On this site, you can find:</p>
    <ol>
        <li><a href="/posts">list of all posts by date</a></li>
        <li><a href="/research">my research activities</a> including <a href="/research/publications">publications</a>, projects, and activities such as supervision, reviewing, organisation, memberships</li>
        <li><a href="/research/blog">my research blog</a> where I write about academic matters concerning my research, and distinct from my personal blog</li>
        <li><a href="/blog">my blog</a> where I write personal opinions and articles</li>
        <li><a href="/hobbies">my hobbies</a>: which currently include <a href="/hobbies/books">reading books</a>, <a href="/hobbies/games">playing games</a>, <a href="/hobbies/movies">watching movies</a>, creative writing such as <a href="/stories">stories</a> and <a href="/poems">poetry</a></li>
        <li>fascination with <a href="/food">food</a>, in particular <a href="/hobbies/food/cheese">cheese</a>, <a href="/hobbies/food/tea">tea</a>, <a href="/hobbies/food/coffee">coffee</a>, and <a href="/hobbies/food/cuisines">cuisines</a>
        <li>my quest to be a <a href="/polymath">polymath</a> through autodidactism</li>
    </ol>
{% endblock content %}