{% extends 'template_base.jinja2' %}
{% block navtype %}| <a href="/research">research</a>{% endblock navtype %}
{% block desc %}{% endblock desc %}

{% block content %}
<section id="summary">
<h2>Overview</h2>
<p>I'm currently a <u>Research Fellow</u> in the <a href="https://www.cs.tcd.ie/">School of Computer Science and Statistics</a> at <a href="http://www.tcd.ie/">Trinity College Dublin</a>, and part of the <a href="http://adaptcentre.ie/">ADAPT Research Centre</a>. I primarily work on exploring privacy risks of technologies using knowledge graphs through the <a class="raised" href="/research/projects/risky">RISKY</a> project. I also work on the <a class="raised" href="/research/projects/paecg">Privacy-as-Expected: Consent Gateway</a> project funded by NGI TRUST.
My other research activities include chairing and contributing to the <a class="raised" href="https://www.w3.org/community/dpvcg/">DPVCG</a>, and continuation of my PhD work regarding <a href="https://openscience.adaptcentre.ie/">GDPR compliance using semantic web</a>.</p>
<p>You can see more information about my:</p>
<ul>
    <li><a href="#interests">research interests</a></li>
    <li><a href="/research/publications">publications</a></li>
    <li><a href="/research/projects">past and present research projects</a></li>
    <li><a href="#activities">research activities, group memberships</a></li>
    <li><a href="#organisation">events and conference organisation</a></li>
    <li><a href="#peer-review">participation in peer-review</a></li>
    <li><a href="#supervision">supervision and mentoring</a></li>
    <li><a href="#teaching">teaching, lectures, seminars</a></li>
</ul>
</section>

<section id="interests">
<h2>Research Interests</h2>
    <ul class="list-index">
        <li><a href="https://en.wikipedia.org/wiki/Privacy">Privacy</a> <br/>
            <small>I'm interested in the exploration of issues regarding privacy, especially those related to use of technology and data protection. My primary motivation in this area is to facilitate discovery and consolidation of existing work in identification and mitigation of risks, and applying existing knowledge to future technologies and innovations.
            </small></li>
        <li><a href="https://en.wikipedia.org/wiki/Consent">Consent</a> <br/>
            <small>Consent is a broad mechanism for agreement in the society, and is also an essential aspect of freedom based on choice. My primary interest regarding consent relates to its connection with privacy and data protection issues, where it is used as the legal justification for collecting and using personal data. My research revolves around quantification and representation of information regarding consent towards identifying and mitigating issues regarding transparency, accountability, and comprehension.
            </small></li>
        <li><a href="https://en.wikipedia.org/wiki/General_Data_Protection_Regulation">General Data Protection Regulation (GDPR)</a> <br/>
            <small>The GDPR and other recent data protection/privacy laws such as the <a href="https://en.wikipedia.org/wiki/California_Consumer_Privacy_Act">CCPA</a> provide  legal regulation of collecting, using, sharing personal data based upon the principles of privacy and data protection. My research interest revolves around quantification of the requirements and concepts of such laws and its representation for evaluating compliance of processes and activities involving personal data.
            </small></li>
        <li><a href="https://en.wikipedia.org/wiki/Semantic_Web">Semantic Web</a> and <a href="https://en.wikipedia.org/wiki/Data_model">Data Modeling</a> <br/>
            <small>The Semantic Web standards, particularly <a href="https://en.wikipedia.org/wiki/Resource_Description_Framework">RDF</a>, provide a way for modeling and querying information based on the web infrastructure, permits creation of schemas and ontologies to represent concepts and relationships. My interest lies in using these for the representation, documentation, and modeling of information from other research interests.
            </small></li>
    </ul>

</section>

<section id="projects">
<h2>Projects</h2>
<h3>Ongoing</h3>
<ol class='list-index'>
{% for item, role in current_projects %}
    <li>
        <a href="{{ item.iri }}"><b>{{ item.schema_name }}</b></a> <br/>
        <small>{{ item.schema_description }}</small> <br/>
        <small>(<time datetime="{{ item.schema_startDate}}">{{ item.schema_startDate}}</time> - {% if item.schema_endDate %}<time datetime="{{ item.schema_endDate}}">{{ item.schema_endDate}}</time></span>{% else %}ongoing{% endif %})</small>
    {% if item.schema_member is sequence %}
        {% for role in item.schema_member %}
        {{ role.schema_roleName }}{{", " if not loop.first }}
        {% endfor %}
    {% else %}
        {% set role = item.schema_member %}
        {{ role.schema_roleName }}
    {% endif %}
        </small><br/>
    {% if item.schema_funding %}
        <small>funded by:
        {% if item.schema_funding is sequence %}
            {% for funding in item.schema_funding %}
        {{ funding.schema_name }} funded by {{ funding.schema_funder.schema_name }} under Grant#{{ funding.schema_identifier }} ;
            {% endfor %}
        {% else %}
        {% set funding = item.schema_funding %}
        {{ funding.schema_funder.schema_name }} under Grant#{{ funding.schema_identifier }}
        {% endif %}
        </small>
    {% endif %}        
    </li>
{% endfor %}
</ol>
<h3>Past</h3>
<a href="/research/projects">see complete list of projects</a>
<ul>
{% for item, name in past_projects %}
    <li>
        <a href="{{item.iri}}">{{ item.schema_name }}</a>  <br/>
        <small>{{item.schema_description}}</small> <br/>
        (<time datetime="{{item.schema_startDate}}">{{item.schema_startDate}}</time> - <time datetime="{{item.schema_endDate}}">{{item.schema_endDate}}</time>) 
        <small>
    {% if item.schema_member is sequence %}
        {% for role in item.schema_member %}
        {{ role.schema_roleName }}{{", " if not loop.first }}
        {% endfor %}
    {% else %}
        {% set role = item.schema_member %}
        {{ role.schema_roleName }}
    {% endif %}
        </small> 
    </li>
{% endfor %}
</ul>
</section>

<section id="publications">
<h2>Publications</h2>
<p>See full list of publications <a href="/research/publications">here</a>.
    Lists also available at 
    <a href="https://scholar.google.com/citations?user=tugki3kAAAAJ">Google Scholar</a>
    and
    <a href="http://dblp.uni-trier.de/search?q=harshvardhan+pandit">dblp</a>.
    </p>
<h3>Selected publications</h3>
{# iterate over selected publications #}
<ol class='list-index'>
{% for publication, date in publications %}
    <li>
        <a href="{{publication.iri}}">{{publication}}</a> <br/>
            <small>
                {% if publication.schema_status %}
                <span class='note'>{{ publication.schema_status }}</span>
                {% endif %}
                <time datetime="{{publication.schema_datePublished}}">{{publication.schema_datePublished}}</time>
                <i>{{publication|publication_type}}</i>
                {# publication type filter #}
                <br/>
                {% if publication.schema_publication %}
                {{publication.schema_publication}}
                    {% if publication.schema_publication.schema_superEvent %}
                    - co-located with {{publication.schema_publication.schema_superEvent}}
                    {% endif %}
                {% else %}
                {{publication.schema_publisher}}
                {% endif %}
                <br/>
                <i>
                {% if publication.hpcom_author_lead is sequence %}
                {% for author in publication.hpcom_author_lead %}
                {{", " if not loop.first }}{% if author.iri == "https://harshp.com/me" %}<u>{{author}}</u>*{% else %}{{author}}*{% endif %}
                {% endfor %}
                {% else %}
                {% if publication.hpcom_author_lead.iri == "https://harshp.com/me" %}<u>{{publication.hpcom_author_lead}}</u>*{% else %}{{publication.hpcom_author_lead}}*{% endif %}
                {% endif %}
                {% if publication.hpcom_author_other is sequence %}
                {% for author in publication.hpcom_author_other %}
                , {% if author.iri == "https://harshp.com/me" %}<u>{{author}}</u>{% else %}{{author}}{% endif %}
                {% endfor %}
                {% else %}
                , {% if publication.hpcom_author_other.iri == "https://harshp.com/me" %}<u>{{publication.hpcom_author_other}}</u>{% else %}{{publication.hpcom_author_other}}{% endif %}
                {% endif %}
                </i>
            </small>
    </li>
{% endfor %}
</ol>
</section>

<section id="activities">
<h2>Groups and Memberships</h2>
<h3>Ongoing</h3>
<ul class="list-index">
    <li>
        <a href="https://www.w3.org/community/dpvcg/"><b>W3C Data Privacy Vocabularies and Controls Community Group (DPVCG)</b></a><br/>
        The DPVCG is a community-group that works towards developing vocabularies and taxonomies arising from privacy laws such as the GDPR. The <a href="https://www.w3.org/ns/dpv">Data Privacy Vocabulary</a> represents its primary outcome and deliverable.
        I am a participant and member of the group since <time datetime="2018-09-01">2018-09-01</time> and am currently co-chairing it.
        </li>
    <li>
        <a href="https://www.iso.org/committee/45306.html"><b>ISO/IEC JTC1/SC27/WG5 Identity Management and Privacy Technologies</b></a><br/>
        ISO/IEC has committees and working groups that work on development of standards, with the Working Group 5 in Sub-Committee 27 responsible for privacy technologies. 
        I participate as a (domain) 'expert' in WG5 since <time datetime="2020-08-01">2020-08-01</time> through membership in the<a href="https://www.nsai.ie/">National Standards Association of Ireland (NSAI)</a>. My specific interests include the <a href="https://www.iso.org/standard/80392.html">ISO/IEC 27560</a> standard currently under development for 'consent record information structure'.
        </li>
</ul>
<h3>Past</h3>
<ul>
    <li><a href="https://kantarainitiative.org/confluence/pages/viewpage.action?pageId=123339479">Information Sharing Interoperability (WG - ISI)</a> at <a href="https://kantarainitiative.org/">Kantara Initiative</a> from <time datetime="2020-03-31">2020-03-31</time> to <time datetime="2020-06-25">2020-06-25</time>.</li>
</ul>

</section>

<section id="organisation">
<h2>Organisation</h2>
<ul>
    <li><a href="https://2020-eu.semantics.cc/">SEMANTiCS conference - Legal-Tech track chair</a> in 2020</li>
</ul>

</section>
<section id="peer-review">
<h2>Peer-Review</h2>
    <h4>Reviewer for Journals</h4>
    <ul>
        {% for acronym, name, url in reviewing_journals %}
        <li><a href="{{url}}">{{name}} ({{acronym}})</a></li>
        {% endfor %}
    </ul>
    <h4>Reviewer for Conferences/Workshop</h4>
    <ul>
        {% for acronym, name, date, url in reviewing_conferences|sort(attribute='3', reverse=True)|sort(attribute='0') %}
            {% if loop.first %}
        <li>{{acronym}} <small>({{name}})</small> <a href="{{url}}">{{date}}</a>
            {% else %}
                {% if acronym != loop.previtem[0] %}
            </li>
            <li>{{acronym}} <small>({{name}})</small> <a href="{{url}}">{{date}}</a>
                {% else %}
            <a href="{{url}}">{{date}}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
        </li>
    </ul>
</section>
<section>
<h2>Competitions</h2>
<ul>
    <li>Team <a href="https://lexparency.org">Lexparency</a> 
        <a href="https://publications.europa.eu/en/web/eudatathon/2018-home">EU Datathon 2018</a>
        <small><b>Secured 1st Prize in Challenge 2</b></small></li>
</ul>
</section>
<section id="supervision">
<h2>Supervision / Mentoring</h2>
<h4>Current/Ongoing</h4>
    <ul>
        {% for project, name, course, agent, year_start, year_end, role  in current_supervision|sort(attribute='5,1') %}
        <li><u>{{name}}</u> - {{agent}}, {{course}} <br/>
            <i>{{role}}</i> {{year_start}}-{{year_end}} </li>
        {% endfor %}
    </ul>
<h4>Past</h4>
    <ul>
        {% for project, name, course, agent, year_start, year_end, role  in past_supervision|sort(attribute='1')|sort(attribute='5', reverse=True) %}
        <li><u>{{name}}</u> - {{agent}}, {{course}} <br/>
            <i>{{role}}</i> {{year_start}}-{{year_end}} </li>
        {% endfor %}
    </ul>
</section>
<section id="teaching">
<h2>Teaching, Knowledge Dissemination</h2>
<h3>Teaching</h3>
<ul>
    <li><u>CS3014 Concurrent System I</u>: 
        2018 Integrated Computer Science Degree Year 3, Trinity College Dublin</li>
    </ul>
<h3>Seminars, Lectures</h3>

<h3>Teaching Assistant</h3>
<ul>
    <li><u>CS7CS2 Research and Innovation Methods</u>
        - 2018 Term I, MSc Computer Science, Trinity College Dublin</li>
</ul>
<h3>Demonstrator / Lab Assistant</h3>
<ul>
    <!-- TCD -->
    <li><u>CS1010 Introduction to Programming I/II</u> - 2016, 2017, 2018, 2019 Term I/II, Trinity College Dublin </li>
    <li><u>CS1013 Programming Project I</u> - 2017 Term II, Trinity College Dublin</li>
    <li><u>CS1021 Introduction to Computing I/II</u> - 2016, 2017, 2018 Term I/II, Trinity College Dublin</li>
    <li><u>CS1E03 Computer Engineering I</u> - 2019, Term II, Trinity College Dublin</li>
    <li><u>CS2010 Algorithms and Data Structures</u> - 2017, 2018 Term II, Trinity College Dublin</li>
    <li><u>CS2014 Systems Programming I</u> - 2016 Term I, Trinity College Dublin</li>
    <li><u>CS3012 Software Engineering</u> - 2016 Term I, Trinity College Dublin</li>
    <li><u>CS3021 Computer Architecture II</u> - 2016, 2018 Term I, Trinity College Dublin</li>
    <li><u>CS7IS1 Knowledge and Data Engineering</u> - 2018 Term I, MSc Computer Science, Trinity College Dublin</li>
    <!-- UCC -->
    <li><u>CS1061 C Programming</u> - 2014 Term I, University College Cork</li>
    <li><u>CS5008, CS6509, CS1069 Internet Computing<</u> - HiDip ACT, MSc and PGDip DSA, BSc Math Sci 2014 Term II, University College Cork</li>
    <li><u>CS5015, CS6120 Object-Oriented Software Development</u> - 2014 Term II, University College Cork</li>
</ul>
</section>

{% endblock content %}