{% extends 'template_base.jinja2' %}
{% block pagetitle %}contact me{% endblock pagetitle %}
{% block title_body %}Contact Me{% endblock title_body %}
{% block desc %}{% endblock desc %}
{% block content %}
<section>
    <div>
        <p>Please choose the appropriate contact based on your purpose.</p>
        <ol class='list-index'>
            <li><u>academia</u>
                <br/>
                Preferably use: <a href="mailto:harshvardhan.pandit@adaptcentre.ie">harshvardhan.pandit@adaptcentre.ie</a> <br/>
                For Google account (e.g. shared document) use: same as above <br/>
                For school matters use: <a href="mailto:harshvardhan.pandit@dcu.ie">harshvardhan.pandit@dcu.ie</a> <br/>
                I'm <u>not</u> on: ResearchGate, Academia.edu
            </li>
            <li><u>personal</u>
                <br/>
                My personal email address is: <a href="mailto:me@harshp.com">me@harshp.com</a> <br/>
                For Google account (e.g. shared document) use: <a href="mailto:coolharsh55@gmail.com.com">coolharsh55@gmail.com</a>
            </li>
            <li><u>social</u>
                <br/>
                I'm on Mastodon as <a href="https://eupolicy.social/web/@harsh">@harsh@eupolicy.social</a> <br/>
                I'm on Twitter as <a href="https://twitter.com/coolharsh55/">@coolharsh55</a> <br/>
                I'm on LinkedIn as <a href="https://www.linkedin.com/in/harshvardhanpandit/">harshvardhan pandit</a> <br/>
                I'm on GitHub as <a href="https://github.com/coolharsh55/">coolharsh55</a> <br/>
                I'm on Reddit as <a href="reddit.com/user/coolharsh55/">/u/coolharsh55</a> <br/>
                I'm <u>not</u> on: Facebook, Snapchat, Instagram, TikTok, or <a href="https://en.wikipedia.org/wiki/List_of_social_networking_websites">other social networking services</a>.
        </ol>
    </div>
</section>
{% endblock content %}