{% extends 'template_base.jinja2' %}

{% block desc %}{% endblock desc %}
{% block content %}
<ol class="list-index">
{% for itemlist in posts %}{% for item in itemlist %}
    <li><a class='link-title' href="{{ item.iri }}">{{ item.schema_name }}</a> <br/>
        <small>
        <span class="label">{% for parent in item.rdf_type|reject('sameas', 'RenderedItem')|sort(attribute='iri') %}{{parent.schema_name}}{% endfor %}</span>
        <time datetime="{{ item.schema_datePublished }}">{{ item.schema_datePublished }}</time>
        <span>{{ item.schema_description }}</span>
        {% if item.schema_subjectOf %}
        <br/><span>is about: <a href="{{item.schema_subjectOf.schema_url}}">{{item.schema_subjectOf.schema_name}}</a></span>
        {% endif %}
        </small>
    </li>
{% endfor %}{% endfor %}
</ol>
{% endblock content %}