{% extends 'template_base.jinja2' %}
{% block navtype %}| <a href="/me">about me</a>{% endblock navtype %}
{% block desc %}
        I am <u>Harshvardhan J. Pandit</u>, and this is my personal website. <p>I'm currently an <u>Assistant Professor</u> in the <a href="https://www.dcu.ie/computing">School of Computing</a> at <a href="http://dcu.ie/">Dublin City University</a>, and part of the <a href="http://adaptcentre.ie/">ADAPT Research Centre</a>. I work on applying semantics and information management to assist with legal enforcement and compliance for data laws (e.g. GDPR). My other research activities include chairing and contributing to the <a class="raised" href="https://www.w3.org/community/dpvcg/">DPVCG</a>, and continuation of my PhD work regarding <a href="https://openscience.adaptcentre.ie/">GDPR compliance using semantic web</a>. I read a lot, find productive ways to be unproductive, and aim to do more than I possibly can.
{% endblock desc %}
{% block content %}
    <p>On this site, you can find:</p>
    <ol>
        <li><a href="/posts">list of all posts by date</a></li>
        <li><a href="/research">my research activities</a> including <a href="/research/publications">publications</a> (and <a href="/research/publications/drafts">drafts</a> inviting feedback and collaboration), <a href="/research/projects">projects</a>, <a href="/research/presentations">presentations</a>, research supervision, peer-reviewing, activity and event organisation, groups and memberships</li>
        <li><a href="/research/blog">my research blog</a> where I write about academic matters concerning my research, and distinct from my personal blog</li>
        <li><a href="/blog">my blog</a> where I write personal opinions and articles</li>
        <li><a href="/dev">my development projects</a> where I play around with technologies and theories</li>
        <li><a href="/hobbies">my hobbies</a>: which currently include <a href="/hobbies/books">reading books</a>, playing games, watching movies, creative writing such as <a href="/stories">stories</a> and <a href="/poems">poetry</a></li>
        <li>fascination with food, in particular cheese, <a href="/hobbies/tea">tea</a>, coffee, and cuisines
        <li>my quest to be a <a href="/polymathy">polymath</a> through autodidactism</li>
    </ol>
{% endblock content %}