{% extends 'template_base.jinja2' %}
{% block pagetitle %}books{% endblock pagetitle %}
{% block navtype %}| <a href="/hobbies">hobbies</a>{% endblock navtype %}
{% block title_body %}books{% endblock title_body %}
{% block desc %}{% endblock desc %}
{% block content %}
<p>
    Here I keep a record of books that I've read or want to read. I'm also trying to maintain lists of books for suggestion and recommendation to others. </p>
<blockquote>
    I'm currently reading <a href="#currently-reading">{{ currently_reading|length }} books</a>, want to read <a href="#want-to-read">{{ want_to_read|length }} books</a>, and have read <a href="#read">{{ read|length }} books</a> to date.</blockquote>
<p>
    I'm a <a href="https://en.wikipedia.org/wiki/Bibliophilia"><i>bibliophile</i></a> - a person who loves books and loves reading. Also known more colloquially as a bookworm. I like to read <a href="https://en.wikipedia.org/wiki/Science_fiction">science fiction</a> the most - a genre that kick-started my imagination and love of reading. These days I try to read a more variety of genres - social, drama, crime, noir, historical fiction. While this kind of reading is more tied to pleasure, I'm also trying to read more non-fiction as an educational exercise.</p>

<section id="currently-reading">
<h2>Books I'm Currently Reading</h2>

<ol>
    {% for book, title in currently_reading %}
    <a href="{{book.iri}}">{{book.schema_name}}</a>{% if book.hpcom_book_physical_copy %}<small><sub>📚</sub></small>{% endif %} - 
    <small>
        {% if book.schema_genre is sequence %}{% for genre in book.schema_genre|sort(attribute='iri') %}
        {{genre}}{{' & ' if not loop.last}}
        {% endfor %}{% else %}
        {{ book.schema_genre }}
        {% endif %}
        by <i>{{book.schema_author}} ({{book.schema_dateCreated}})</i>
    </small> <br/>
    {% endfor %}
</ol>

</section>
<section id="want-to-read">
<h2>Books I Want to Read</h2>
<ol class="list-sort" data-attributes="name,author,year,physicalcopy">
    {% for book, title in want_to_read %}
   <li id="{{book.hpcom_book_id}}" data-name="{{book.schema_name}}" data-author="{{book.schema_author}}" data-year="{{book.schema_dateCreated}}" data-physicalcopy="{{'true' if book.hpcom_book_physical_copy else 'false'}}"><a href="{{book.iri}}">{{book.schema_name}}</a>{% if book.hpcom_book_physical_copy %}<small><sub>📚</sub></small>{% endif %} - <small>{% if book.schema_genre is sequence %}{% for genre in book.schema_genre|sort(attribute='iri') %}
        {{genre}}{{' & ' if not loop.last}}
        {% endfor %}{% else %}
        {{ book.schema_genre }}
        {% endif %} by <i>{{book.schema_author}} ({{book.schema_dateCreated}})</i></small></li>
    {% endfor %}
</ol>
</section>
<section id="read">
<h2>Books I have Read</h2>
<ol reversed="true" class="list-sort" data-attributes="name,author,year,date-read,rating">
    {% for book, title, date, year in read|sort(attribute='2,1', reverse=true) %}
    <li id="{{book.hpcom_book_id}}" data-name="{{book.schema_name}}" data-author="{{book.schema_author}}" data-year="{{book.schema_dateCreated}}" data-date-read="{{date}}" data-rating="{{book.schema_aggregatedRating.schema_ratingValue}}">
        <a href="{{book.iri}}">{{book.schema_name}}</a>{% if book.hpcom_book_physical_copy == "true" %}<small><sub>📚</sub></small>{% endif %} - <small><i>{{book.schema_author}} ({{book.schema_dateCreated}})</i></small> <br/>
        <small>
        {% if book.schema_genre is sequence %}{% for genre in book.schema_genre|sort(attribute='iri') %}
        {{genre}}{{', ' if not loop.last}}
        {% endfor %}{% else %}
        {{ book.schema_genre }}
        {% endif %}
        ; read in <time datetime="{{year}}">{{year}}</time> ; it was {{book.schema_aggregatedRating}}
        </small>
    </li>
    {% endfor %}
</ol>        
</section>
{% endblock content %}