{% extends 'template_base.jinja2' %}
{% block navtype %}| <a href="/research">research</a>{% endblock navtype %}
{% block desc %}{% endblock desc %}

{% block content %}
<p>
    Other publication lists:
    <a href="https://scholar.google.com/citations?user=tugki3kAAAAJ">Google Scholar</a> and
    <a href="http://dblp.uni-trier.de/search?q=harshvardhan+pandit">dblp</a>.
</p>
<ol class='list-index list-sort' data-attributes="title,date,type">
{% for publication, date in publications %}
    <li data-title="{{publication.schema_name}}" data-date="{{publication.schema_datePublished}}" data-type="{{publication|publication_type}}">
        <strong>#{{loop.revindex}}</strong> <a href="{{publication.iri}}">{{publication}}</a>
        <br/>
        {% if publication.schema_status %}
        <span class='note'>{{ publication.schema_status }}</span>
        {% endif %}
        <time datetime="{{publication.schema_datePublished}}">{{publication.schema_datePublished}}</time>
        {{publication|publication_type}}
        <br/>
        {# authors #}
        &#9997;<i>
        {% if publication.hpcom_author_lead is sequence %}
        {% for author in publication.hpcom_author_lead %}{{", " if not loop.first }}{% if author.iri == "https://harshp.com/me" %}<u>{{author}}</u>*{% else %}{{author}}*{% endif %}{% endfor %}
        {% else %}{% if publication.hpcom_author_lead.iri == "https://harshp.com/me" %}<u>{{publication.hpcom_author_lead}}</u>*{% else %}{{publication.hpcom_author_lead}}*{% endif %}
        {% endif %}
        {% if publication.hpcom_author_other is sequence %}
        {% for author in publication.hpcom_author_other %},{% if author.iri == "https://harshp.com/me" %}<u>{{author}}</u>{% else %}{{author}}{% endif %}{% endfor %}
        {% else %},{% if publication.hpcom_author_other.iri == "https://harshp.com/me" %}<u>{{publication.hpcom_author_other}}</u>{% else %}{{publication.hpcom_author_other}}{% endif %}
        {% endif %}
        </i>
        <br/>
        {# venue #}
        {% if publication.schema_publication %}
        {{publication.schema_publication}}{% if publication.schema_publication.schema_alternateName %} ({{publication.schema_publication.schema_alternateName}}){% endif %}
        {% if publication.schema_publication.schema_superEvent %}
        - co-located with {{publication.schema_publication.schema_superEvent}}{% if publication.schema_publication.schema_superEvent.schema_alternateName %} ({{publication.schema_publication.schema_superEvent.schema_alternateName}}){% endif %}
        {% endif %}
        {% else %}
        {{publication.schema_publisher}}
        {% endif %}
        <br/>
        {% if publication.schema_url %}
        <a href="{{publication.schema_url}}">official publication</a> <br/>
        {% endif %}
        {# pre-prints #}
        {% if publication.hpcom_archived_version %}
            &#x1f513;copies:
            {% if publication.hpcom_archived_version is sequence %}
            {% for archive in publication.hpcom_archived_version|sort(attribute='schema_name') %}
            {{", " if not loop.first}}<a href="{{archive.schema_url}}">{{archive}}</a>
            {% endfor %}
            {% else %}
            <a href="{{publication.hpcom_archived_version.schema_url}}">{{publication.hpcom_archived_version}}</a>
            {% endif %}
        {% endif %}
        {# supplementary resources #}
        {% if publication.hpcom_supplementary %}
            ; &#128230;resources:
            {% if publication.hpcom_supplementary is sequence %}
            {% for archive in publication.hpcom_supplementary|sort(attribute='schema_name') %}
            {{", " if not loop.first}}<a href="{{archive.schema_url}}">{{archive}}</a>
            {% endfor %}
            {% else %}
            <a href="{{publication.hpcom_supplementary.schema_url}}">{{publication.hpcom_supplementary}}</a>
            {% endif %}
        {% endif %}
    </li>
{% endfor %}
</ol>

{% endblock content %}