{% extends 'template_base.jinja2' %}
{% block pagetitle %}harshp.com{% endblock pagetitle %}
{% block title_body %}Hello World!{% endblock title_body %}
{% block desc %}{% endblock desc %}
{% block content %}
    <p>
        I am <u>Harshvardhan J. Pandit</u>, and this is my personal website. I work as a Researcher at <a href="">Trinity College Dublin</a> and live in <a href="https://en.wikipedia.org/wiki/Dublin">Dublin, Ireland</a>. I primarily work in the areas of Consent, Privacy Risks, GDPR compliance, and semantic web. I read a lot, find productive ways to be unproductive, and aim to do more than I possibly can.</p>
    <p>On this site, you can find:</p>
    <ol>
        <li><a href="/posts">list of all posts by date</a></li>
        <li><a href="/research">my research activities</a> including <a href="/research/publications">publications</a> (and <a href="/research/publications/drafts">drafts</a> inviting feedback and collaboration), <a href="/research/projects">projects</a>, <a href="/research/presentations">presentations</a>, research supervision, peer-reviewing, activity and event organisation, groups and memberships</li>
        <li><a href="/research/blog">my research blog</a> where I write about academic matters concerning my research, and distinct from my personal blog</li>
        <li><a href="/blog">my blog</a> where I write personal opinions and articles</li>
        <li><a href="/dev">my development projects</a> where I play around with technologies and theories</li>
        <li><a href="/hobbies">my hobbies</a>: which currently include <a href="/hobbies/books">reading books</a>, playing games, watching movies, creative writing such as <a href="/stories">stories</a> and <a href="/poems">poetry</a></li>
        <li>fascination with food, in particular cheese, <a href="/hobbies/tea">tea</a>, coffee, and cuisines
        <li>my quest to be a <a href="/polymathy">polymath</a> through autodidactism</li>
    </ol>
{% endblock content %}