{% extends 'template_base.jinja2' %}

{% block desc %}{% endblock desc %}
{% block content %}
<ul>
{% for item, linked_items in tags %}
    <li><a href="{{ item.iri }}">{{ item.schema_name }}</a> - linked to {{linked_items}} posts</li>
{% endfor %}
</ul>
{% endblock content %}