{% extends 'template_base.jinja2' %}
{% block pagetitle %}harshp.com{% endblock pagetitle %}
{% block title_h1 %}{% endblock title_h1 %}
{% block desc %}{% endblock desc %}
{% block content %}
    <p>
        <span style="background-color: #4717F6; color: #EFEFEF; font-weight: bold; padding: 3px; font-size: 2rem;">hello!</span>
        I am <u>Harshvardhan J. Pandit</u>, and this is my personal website. <br/>
        <small>I'm currently a Research Fellow at <a href="">Trinity College Dublin</a> and live in Dublin, Ireland. I primarily research in the areas of Consent, Privacy Risks, GDPR compliance, and semantic web.
        A list of all posts by date is <a href="/posts">here</a>. On this site, you can find:
        </small> <br/>
    </p>
    <ol>
        <li><a href="/blog">my blog</a> where I write personal opinions and articles</li>
        <li><a href="/research">my research activities</a> including <a href="/research/publications">publications</a>, projects, and activities such as supervision, reviewing, organisation, memberships</li>
        <li><a href="/research/blog">my research blog</a> where I write about academic matters concerning my research, and distinct from my personal blog</li>
        <li>some of my <a href="/hobbies">hobbies</a> - including creative writing such as <a href="/stories">stories</a> and <a href="/poems">poems</a></li>
        <li>list of <a href="/hobbies/books">all books</a> that I want to read, or have read</li>
    </ol>
    <p>
        
    </p>
{% endblock content %}