{% extends 'template_base.jinja2' %}
{% block navtype %}| <a href="/research">research</a>{% endblock navtype %}
{% block desc %}
{% endblock desc %}
{% block content %}
<ol class="list-index">
{% for itemlist in projects %}{% for item in itemlist %}
<li>
    <strong><i><u>({{item.hpcom_acronym}}) {{ item }}</u></i></strong> <br/>
    <small>
        {{ item.hpcom_project_type }} <br/>
        {% if not item.schema_endDate|in_past %}<span style="color: red;">ACTIVE</span>{% endif %}
        &#8986; project duration: <time datetime="{{ item.schema_startDate}}">{{ item.schema_startDate}}</time> - {% if item.schema_endDate %}<time datetime="{{ item.schema_endDate}}">{{ item.schema_endDate}}</time>{% else %}ongoing{% endif %}
    <br/>
{% if item.schema_sponsor %}
    {% if item.schema_sponsor is sequence %}
    {% for funding in item.schema_sponsor %}
    Sponsored by <a href="{{funding.schema_url}}">{{ funding.schema_name }}</a> funded under Grant#{{ funding.schema_identifier }} by <a href="{{funding.schema_url}}">{{ funding.schema_funder.schema_name }}</a>.<br/>
    {% endfor %}
    {% else %}
    {% set funding = item.schema_sponsor %}
    Sponsored by <a href="{{funding.schema_url}}">{{ funding.schema_name }}</a> funded under Grant#{{ funding.schema_identifier }} by <a href="{{funding.schema_url}}">{{ funding.schema_funder.schema_name }}</a>.<br/>
    {% endif %}
{% endif %}
{% if item.schema_funding %}
    {% if item.schema_funding is sequence %}
    {% for funding in item.schema_funding %}
    Funded under Grant#{{ funding.schema_identifier }} <a href="{{funding.schema_funder.schema_url}}">{{ funding.schema_funder.schema_name }}</a>   which is funded by <a href="{{funding.schema_funder.schema_funder.schema_url}}">{{ funding.schema_funder.schema_funder.schema_name }}</a>.<br/>
    {% endfor %}
    {% else %}
    {% set funding = item.schema_funding %}
    Funded under Grant#{{ funding.schema_identifier }} <a href="{{funding.schema_funder.schema_url}}">{{ funding.schema_funder.schema_name }}</a>  which is funded by <a href="{{funding.schema_funder.schema_funder.schema_url}}">{{ funding.schema_funder.schema_funder.schema_name }}</a>.
    {% endif %}
{% endif %}
    </small>
    <hr/>
    <i>Role: {% if item.schema_member is sequence %}
    {% for role in item.schema_member %}
    {{ role.schema_roleName }}
     {% if role.schema_startDate != item.schema_startDate %}from <time datetime="{{ role.schema_startDate}}">{{ role.schema_startDate}}</time>{% endif %}
    {% if role.schema_endDate != item.schema_endDate %} till <time datetime="{{ role.schema_endDate}}">{{ role.schema_endDate}}</time>{% endif %}
    {% endfor %}
{% else %}
    {% set role = item.schema_member %}
    {{ role.schema_roleName }} 
    {% if role.schema_startDate != item.schema_startDate %}from <time datetime="{{ role.schema_startDate}}">{{ role.schema_startDate}}</time>{% endif %}
    {% if role.schema_endDate != item.schema_endDate %} till <time datetime="{{ role.schema_endDate}}">{{ role.schema_endDate}}</time>{% endif %}
{% endif %}</i>
    <br/>
    {{ item.schema_description }} <a href="{{ item.iri }}"><small>more details...</small></a>
    <hr/>
    <small>budget: 
        €{{ item.hpcom_project_budget|format_amount }}
        {% if item.hpcom_project_budget != item.hpcom_project_budget_award %}(€{{ item.hpcom_project_budget_award|format_amount }} awarded){% endif %}; 
        to me: {{ item.hpcom_project_budget_control|format_amount }} | 
        credit for funding: {% if item.hpcom_funding_credit == "true" %}&check;{% else %}&cross;{% endif %}
    </small>
</li>
{% endfor %}{% endfor %}
</ol>
{% endblock content %}