<!DOCTYPE html>
<html
    lang="en"
    prefix="schema: http://schema.org/ ">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% block meta %}
    {# metadata #}
    <title>{% block pagetitle %}{{ item }}{% endblock pagetitle %}</title>
    <meta name="description" content="{{ description }}"/>
    {# Google #}
    <meta name="schema:name" content="{{ item.schema_name }}">
    <meta name="schema:description" content="{{ item.schema_description }}">
    {% if item.schema_image %}
    <meta name="schema:image" content="{{ item.schema_image }}">
    {% endif %}
    <meta name="schema:datePublished" content="item.schema_datePublished">
    {% if item.dateModified %}
    <meta name="schema:dateModified" content="item.schema_dateModified">
    {% endif %}
    <meta name="schema:keywords" content="{% for tag in item.hpcom_tag|sort(attribute='iri') %}{{ tag }},{% endfor %}">
    <meta name="schema:author" content="https://harshp.com/me">
    <meta name="schema:identifier" content="{{item.iri}}">
    {# OpenGraph #}
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@coolharsh55">
    <meta name="twitter:creator" content="@coolharsh55">
    <meta property="og:url" content="{{ item.schema_url }}">
    <meta property="og:title" content="{{ item.schema_name }}">
    <meta property="og:description" content="{{ item.schema_description }}">
    {% if item.schema_image %}
    <meta property="og:image" content="{{ item.schema_image }}">
    {% endif %}
    {% endblock meta %}
    {% block CSS %}
    <link rel="stylesheet" href="/css/sitebase.css" />
    {% block pageCSS %}{% endblock pageCSS %}{% endblock CSS %}
</head>
<body>
    {% block nav %}
    <header><nav>
        <a href="/" property="schema:isPartOf" typeof="schema:Website">harshp.com</a> 
        {% block navtype %}{% endblock navtype %}
    </nav></header>
    {% endblock nav %}
    <main>
    <article typeof="{% if item %}{% if item.rdf_type is sequence %}{% for type in item.rdf_type|sort(attribute='iri') %}{{type.iri}} {% endfor %}{% else %}{{item.rdf_type.iri}}{% endif %}{% else %}https://schema.org/WebPage{% endif %}" resource="{{item.iri}}">
        {% block title_h1 %}
        <h1 property="schema:name schema:headline">{% block title_body %}{{ item }}{% endblock title_body %}</h1>
        {% endblock title_h1 %}
        {% block desc %}
        <div id="description">
            <span property='schema:description'>{{ item.schema_description }}</span><br/>
            {% if item.schema_datePublished %}
            published: <time property="schema:datePublished" datetime="{{item.schema_datePublished}}">{{item.schema_datePublished}}</time>
            {% if item.schema_dateModified %}{% if item.schema_dateModified > item.schema_datePublished %}
                <small>(updated: <time property="schema:dateModified" datetime="{{item.schema_dateModified}}">{{ item.schema_dateModified }}</time>)</small>
            {% endif %}{% endif %}
            {% endif %}
            {% if item.schema_author %}
            <br/> by <a href="{{item.schema_author.iri}}" property="schema:author schema:publisher" typeof="schema:Person" resource="{{item.schema_author.iri}}">{{ item.schema_author }}</a>
            {% endif %}
            <br/>
            {% if item.schema_isPartOf %}
            is part of: <a href="{{item.schema_isPartOf.schema_url}}" property="schema:isPartOf" resource="{{item.schema_isPartOf.iri}}"><span property="rdfs:label">{{item.schema_isPartOf.schema_name}}</span></a>
            <br/>
            {% endif %}
            {% if item.schema_subjectOf %}
            is about: <a href="{{item.schema_subjectOf.schema_url}}" property="schema:about"><span property="rdfs:label">{{item.schema_subjectOf.schema_name}}</span></a>
            <br/>
            {% endif %}
            {% for tag in item.hpcom_tag|sort(attribute='iri') %}
            <a class="tag" href="{{tag.iri}}" property="schema:about" resource="{{tag.iri}}" typeof="rdfs:Resource"><span property="rdfs:label">{{ tag }}</span></a>
            {% endfor %}
        {% if item.schema_image %}<img src="{{ item.schema_image }}" alt="image for {{item}}" property="schema:image" resource="{{item.schema_image}}" />{% endif %}
        </div>
        {% endblock desc %}
        <div id="content" property="schema:articleBody">
        {% block content %}
        {{ contents|safe }}
        {% endblock content %}
        </div>
        {% if item.rdfs_seeAlso %}
        <div id='rdfs-see-also'>
        <h3>See Also:</h3>
            <ul>
            {% if item.rdfs_seeAlso is sequence %}
                {% for article in item.rdfs_seeAlso %}
                <li><a href="{{article.schema_url}}" property="rdfs:seeAlso" resource="{{article.iri}}"><span property="rdfs:label">{{article}}</span></a></li>
                {% endfor %}
            {% else %}
                <li><a href="{{item.rdfs_seeAlso.schema_url}}" property="rdfs:seeAlso" resource="{{article.iri}}"><span property="rdfs:label">{{item.rdfs_seeAlso}}</span></a></li>
            {% endif %}
            </ul>
        </div>
        {% endif %}
    </article>
    </main>
    <footer>
        {% block footer %}
        <a href="/me">About Me</a> | <a href="/contact">Contact</a> | <a rel="me" href="https://eupolicy.social/@harsh">Mastodon</a> | privacy policy n/a | license: <a class="no-reformat" rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">CC bY-NC 4.0</a><br/>
        Made using <a href="https://www.w3.org/TR/rdf11-concepts/">RDF</a>, <a href="https://www.w3.org/TR/sparql11-query/">SPARQL</a>, and <a href="https://www.python.org/">Python</a> - <a href="https://github.com/coolharsh55/harshp.com/">source on GitHub</a>
        {% endblock footer %}
    </footer>
    {% block JS %}
    <script src="/js/utils.js"></script>
    {% endblock JS %}
</body>
</html>
