{% extends 'template_base.jinja2' %}
{% block desc %}<section id="description"><a href="{{item.iri}}">{{ item.iri }}</a></section>{% endblock desc %}
{% block content %}
<h2>properties</h2>
{# <pre><code>
    {{item.metadata.items()}}
</code></pre>
<br/> #}
    <ul>
        {% for prop, obj in item.metadata.items() | sort(attribute='0') %}
            {% set prop = prefix_this(prop) %}
            {# <br/><b>prop: {{prop}}</b><br/> #}
            {% if prop not in RDF_DESC_PROP %}
            <li>{{prop}}: 
                {% if obj is sequence and obj is not string %}
                {# <br/><b>sequence: {{obj}}</b><br/> #}
                    {% for obj_item in obj|sort %}
                    {% if prop.startswith('date')%}
                    <time datetime="{{obj_item}}">{{obj_item}}</time>
                    {% else %}
                    {{ obj_item | html_view | safe }}, 
                    {% endif %}
                    {% endfor %}
                {% else %}
                    {% if prop.startswith('date')%}
                    <time datetime="{{obj}}">{{obj}}</time>
                    {% else %}
                    {{ obj | html_view | safe }}, 
                    {% endif %}
                {% endif %}
                    </li>
            {% endif %}
        {% endfor %}
    </ul>

<h2>pages linked to here</h2>
    <ul>
        {% for subj, prop in outgoing %}
        <li><a href="{{subj.iri}}">{{ subj }}</a> <small>as {{ prefix_this(prop) }}</small></li>
        {% endfor %}
    </ul>
{% endblock content %}