{% extends 'brainbank/base.html' %}
{% load subdomainurls %}

{% block e_TITLE %}Highlighted BrainBank Idea Posts{% endblock e_TITLE %}

{% block ff_HEADER_TITLE %}Highlighted{% endblock ff_HEADER_TITLE %}
{% block e_BODY %}
<div id='feed' class="ui stackable grid container">
    <div class="ui feed">
        {% for post in posts_all %}
        <div class="event">
            <div class="label">
                {% if post.deliverable %}
                    {% if post.highlight %}
                <i class="yellow star icon"></i>
                    {% endif %}
                <i class="purple cube icon"></i>
                {% else %}
                    {% if post.highlight %}
                <i class="yellow star icon"></i>
                    {% else %}
                <i class="blue paragraph icon"></i>
                    {% endif %}
                {% endif %}
            </div>
            <div class="content">
                <div class="summary">
                    <a class="user" href="{{ post.get_absolute_url }}">
                      {{ post.title }}
                    </a>
                    <div class="date">
                      {{ post.date_published }}
                    </div>
                </div>
                <div class="meta">
                   <p><b><i class="yellow idea icon"></i> {{ post.idea.title }}</b> - {{ post.short_description }}<br></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock e_BODY %}