{% extends 'brainbank/base.html' %}{% load subdomainurls %}
{% block e_TITLE %}brainbank{% endblock e_TITLE %}
{% block e_META_DESCRIPTION %}brainbank at harshp.com{% endblock e_META_DESCRIPTION %}
{% block e_HEADER_TITLE %}Brainbank{% endblock e_HEADER_TITLE %}
{% block e_HEADER_SUBTITLE %}<a href="{% url 'home' None %}"><span class="f3 fw1 light-purple">harshp.com</span></a>{% endblock e_HEADER_SUBTITLE %}
{% block e_BODY %}
<blockquote class="athelas bl bw2 b--purple w-100-m mw7 center">
    <p class="f4 f4-m f3-l lh-copy measure mt0 pa3">A <u>Bank</u> is a set of similar things. A <u><b>BrainBank</b></u> is a collection of ideas.</p>
</blockquote>
<div class="fl w-100 pa2">
    <p class="lh-copy w-100-m mw7 center">Often times, when we least expect it, some inspiring idea strikes us. And we dismiss the idea, or forget it owing to the heat of the moment. Later on someday, we think, I had this idea before! If only I had thought of it then. A BrainBank is precisely built to prevent this. It houses all your ideas, no matter how simple, no matter how crazy. Every idea has potential, and every idea has benefits. All it needs is a little introspection. These ideas also serve as an inspiration for future endeavors.</p>
</div>
{% endblock e_BODY %}