{% extends 'brainbank/base.html' %}
{% load subdomainurls %}

{% block e_TITLE %}brainbank at harshp.com{% endblock e_TITLE %}

{% block ff_HEADER_TITLE %}brainbank{% endblock ff_HEADER_TITLE %}{% block ff_HEADER_SUBTITLE %}<a class="ui sub header" href="{% url 'home' subdomain=None %}"><u>harshp.com</u></a>{% endblock ff_HEADER_SUBTITLE %}

{% block e_BODY %}
<div class='ui stackable grid container'>
    <div class="ui four column row spacious-top">
        <!-- latest posts -->
        <div class="column">
            <div class="card">
                <div class="content">
                    <div class="header"><a href="#feed"><h2 class="ui blue header"><i class="red calendar icon"></i>Latest Posts</h2></a></div>
                    <div class="meta"></div>
                    <div class="ui horizontal divider"><a href="#feed">{{ posts_count }} posts</a></div>
                    <div class="description">
                        <div class="ui list">
                        {% for post in latest_posts %}
                            <div class="item">
                                <a href="{{ post.get_absolute_url }}"><h4 class="ui blue header">{{ post.title }}</h4></a>
                                <h5 class="ui sub header">{{ post.date_published }}</h5>
                                <p><b><i class="orange idea icon"></i> {{ post.idea.title }}</b></p>
                                <p>{{ post.short_description }}</p>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- highlighted posts -->
        <div class="column">
            <div class="card">
                <div class="content">
                    <div class="header"><a href="{% url 'brainbank:highlighted' subdomain='brainbank' %}"><h2 class="ui blue header"><i class="yellow star icon"></i>Highlighted</h2></a></div>
                    <div class="meta"></div>
                    <div class="ui horizontal divider"><a href="#feed">{{ highlighted_posts_count }}</a></div>
                    <div class="description">
                        <div class="ui list">
                        {% for post in highlighted_posts %}
                            <div class="item">
                                <a href="{{ post.get_absolute_url }}"><h4 class="ui blue header">{{ post.title }}</h4></a>
                                <h5 class="ui sub header">{{ post.date_published }}</h5>
                                <p><b><i class="orange idea icon"></i> {{ post.idea.title }}</b></p>
                                <p>{{ post.short_description }}</p>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- deliverable posts -->
        <div class="column">
            <div class="card">
                <div class="content">
                    <div class="header"><a href="{% url 'brainbank:deliverables' subdomain='brainbank' %}"><h2 class="ui blue header"><i class="purple cube icon"></i>Deliverables</h2></a></div>
                    <div class="meta"></div>
                    <div class="ui horizontal divider"><a href="#feed">{{ deliverable_posts_count }}</a></div>
                    <div class="description">
                        <div class="ui list">
                        {% for post in deliverable_posts %}
                            <div class="item">
                                <a href="{{ post.get_absolute_url }}"><h4 class="ui blue header">{{ post.title }}</h4></a>
                                <h5 class="ui sub header">{{ post.date_published }}</h5>
                                <p><b><i class="orange idea icon"></i> {{ post.idea.title }}</b></p>
                                <p>{{ post.short_description }}</p>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ideas -->
        <div class="column">
            <div class="card">
                <div class="content">
                    <div class="header"><a href="{% url 'brainbank:ideas' subdomain='brainbank' %}"><h2 class="ui blue header"><i class="orange idea icon"></i>Ideas</h2></a></div>
                    <div class="meta"></div>
                    <div class="ui horizontal divider"><a href="#feed">{{ ideas_count }}</a></div>
                    <div class="description">
                        <div class="ui list">
                        {% for idea in ideas %}
                            <div class="item">
                                <a href="{{ idea.get_absolute_url }}"><h4 class="ui blue header"><i class="orange idea icon"></i>{{ idea.title }}</h4></a>
                                <h5 class="ui sub header">{{ idea.short_description }}</h5>
                                <div class='meta'>{{ idea.posts.count }} posts</div>
                                <p>{% if idea.repo %}
                                <a href="{{ idea.repo }}"><i class="blue linkify icon"></i> go to code repository</a>
                                {% endif %}<small><br/></small></p>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui blue spacious-top horizontal divider">Feed</div>
<div id='feed' class="ui stackable grid container">
    <div class="ui feed">
        {% for post in posts_all %}
        <div class="event">
            <div class="label">
                {% if post.deliverable %}
                    {% if post.highlight %}
                <i class="yellow star icon"></i>
                    {% endif %}
                <i class="purple cube icon"></i>
                {% else %}
                    {% if post.highlight %}
                <i class="yellow star icon"></i>
                    {% else %}
                <i class="blue paragraph icon"></i>
                    {% endif %}
                {% endif %}
            </div>
            <div class="content">
                <div class="summary">
                    <a class="user" href="{{ post.get_absolute_url }}">
                      {{ post.title }}
                    </a>
                    <div class="date">
                      {{ post.date_published }}
                    </div>
                </div>
                <div class="meta">
                   <p><b><i class="yellow idea icon"></i> {{ post.idea.title }}</b> - {{ post.short_description }}<br></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock e_BODY %}