{% extends 'brainbank/base.html' %}

{% block e_TITLE %}{{ post.title }}{% endblock e_TITLE %}

{% block ff_HEADER_TITLE %}{{ post.title }}{% endblock ff_HEADER_TITLE %}

{% block e_BODY %}
<div class="ui container">
    <div class="ui very relaxed container segment">
        <div class="ui center aligned container">
            <a href="{{ idea.get_absolute_url }}"><h2 class="ui blue header"><i class="orange idea icon"></i>{{ idea.title }}</h2></a>
            <div class='meta'><i class='brown paragraph icon'></i>{{ no_posts }} posts <i class='yellow star icon'></i>{{ no_highlited }} highlighted <i class='purple cube icon'></i>{{ no_deliverable }} deliverables</div>
            <p><i>{{ post.short_description }}</i></p>
            <p>published: {{ post.date_published }}</p>
            <p>updated: {{ post.date_updated }}</p>
            {% if post.deliverable %}
            <i class="purple cube icon"></i> deliverable
            {% endif %}
            {% if post.highlight %}
            <i class="yellow star icon"></i> highlighted
            {% endif %}
            <br>
            <div class="ui horizontal divided list">
            {% for tag in post.tags.all %}
                <div class="item"><a href="#" class="ui tiny tag label">{{ tag.name }}</a></div>
            {% endfor %}
            </div>
        </div>
        <br>
        {{ post.body_text | safe }}
    </div>
</div>
{% endblock e_BODY %}