{% extends 'poems/base.html' %}
{% block e_TITLE %}poems at harshp.com{% endblock e_TITLE %}
{% block e_META_DESCRIPTION %}blog at harshp.com{% endblock e_META_DESCRIPTION %}
{% block f_HEADER %}
  <header class="vh-100 bg-light-pink dt w-100">
    <div 
      style="background:url(https://s3-eu-west-1.amazonaws.com/harshp-media/hobbies/poetry.jpg) no-repeat center right;background-size: cover;
		height:auto;"
      class="dtc v-mid cover ph3 ph4-m ph5-l">
      <h1 class="fw9 b i black">my poems</h1>
      <a class="link" href="/"><span class="black u ">go back to harshp.com</span></a>
    </div>
  </header>
{% endblock f_HEADER %}
{% block e_BODY %}
<div class="db tc mt2 center">
    <a href="#feed" class="link u dark-blue">recent poems</a> | <a href="#featured" class="link u dark-blue">featured poems</a>
</div>
<div id='featured' class="fl w-100 pa2 center tc bb bw1 bw1-ns b--dark-blue mb3">
    <h2 class="fw1 lh-title dark-blue tc avenir">featured</h2>
    {% for poem in poems_featured %}
    <div class="db pb2">
        {% if poem.highlight %}<span class="fw1 db light-red">featured</span>{% endif %}<a class="link dark-red " href="{{ poem.get_absolute_url }}">{{ poem.title }}</a><br/>{% if poem.series %}<a class="link dark-green pl2  fw2" href="{{ poem.series.get_absolute_url }}">{{ poem.series.title }}</a>{% endif %}<span class=" fw1 pl2 silver">{{ poem.date_published }}<br/><small>{{ poem.short_description }}</small></span>
    </div>
    {% endfor %}
</div>
<div id='feed' class="fl w-100 pa2 center tc">
    <h2 class=" fw1 lh-title dark-blue tc avenir">feed</h2>
    {% for poem in poems_all %}
    <div class="db pb2">
        {% if poem.highlight %}<span class="fw1 db light-red">featured</span>{% endif %}<a class="link dark-red " href="{{ poem.get_absolute_url }}">{{ poem.title }}</a><br/>{% if poem.series %}<a class="link dark-green pl2  fw2" href="{{ poem.series.get_absolute_url }}">{{ poem.series.title }}</a>{% endif %}<span class=" fw1 pl2 silver">{{ poem.date_published }}<br/><small>{{ poem.short_description }}</small></span>
    </div>
    {% endfor %}
</div>
{% endblock e_BODY %}
