{% extends 'poems/base.html' %}
{% block e_TITLE %}poems at harshp.com{% endblock e_TITLE %}
{% block e_META_DESCRIPTION %}poems at harshp.com{% endblock e_META_DESCRIPTION %}
{% block e_BODY %}
<h1>poems</h1>
<p><a href="{% url 'home' %}" title="Main Site">main site</a></p>

{% for poem in poems_all %}
<p><a href="{{ poem.get_absolute_url }}">{% if poem.highlight %}<b>{{poem.title}}</b>{% else %}{{poem.title}}{% endif %}</a><br/>
    {{ poem.short_description }}<br/>
    <time>{{ poem.date_published }}</time><br/>
    tags: {% for tag in poem.tags.all %}{{ tag.name }}; {% endfor %}</p>
{% endfor %}
{% endblock e_BODY %}
