{% extends 'poems/base.html' %}

{% block e_TITLE %}{{ poem.title }}{% endblock e_TITLE %}
{% block e_HEADER_TITLE %}{{ poem.title }}{% endblock e_HEADER_TITLE %}

{% block e_BODY %}
<article class="baskerville pb5">
    <header class="avenir tc ph3 ph4-ns pt4 pt5-ns">
        <h1 class="f3 f-subheadline-l measure lh-title fw1 mt0 dark-red">{{ poem.title }}</h1>
        <nav class="">
          <div class="tc pb3">
            <a class="link dim light-blue f6 f5-ns dib mr3" href="{% url 'poems:list' subdomain='poems' %}" title="Poems Home">Poems Home</a>
            <a class="link dim light-blue f6 f5-ns dib mr3" href="{% url 'home' subdomain=None %}" title="Main Site">Main Site</a>
          </div>
        </nav>
        <div class="f4 baskerville dark-gray center tc mb2">{{ poem.short_description }}</div>
        <time class="f5 f4-l db fw1 gray baskerville">poemed: {{ poem.date_published }} | updated: {{ poem.date_updated }}</time>
        <div class="navy pt2 pb4 f5">tags:
            {% for tag in poem.tags.all %}
                <a class="link dark-blue pa1 dib ba b--moon-gray fw1" href="#" class="ui tiny tag label">{{ tag.name }}</a>
            {% endfor %}
        </div>
        {% if poem.headerimage %}
            <img class="w-100 dib measure f3 mb2" src="{{ poem.headerimage }}"/>
        {% endif %}
    </header>
    <div class="measure db center tc f4 f3-ns lh-copy">
    {{ poem.body_text | safe }}
    </div>
</article>
{% endblock e_BODY %}