{% extends 'poems/base.html' %}
{% block e_TITLE %}{{ poem.title }}{% endblock e_TITLE %}
{% block e_HEADER_TITLE %}{{ poem.title }}{% endblock e_HEADER_TITLE %}

{% block e_BODY %}
<article class="athelas center tc">
    <h1 class="f1 dark-gray">{{ poem.title }}</h1>
    <div class="f3 dark-gray mb3">{{ poem.short_description }}</div>
    <div class="f5 dark-gray">
        <p>published on: <span class="f4">{{ poem.date_published }}</span></p>
        <p>last updated on: <span class="f4">{{ poem.date_updated }}</span></p>
    </div>
    <div class="dark-gray f4 pa3 pb3">tags:
    {% for tag in poem.tags.all %}
        <a class="link dark-gray ph2 ba b--moon-gray fw1" href="#" class="ui tiny tag label">{{ tag.name }}</a>
    {% endfor %}
    </div class="pa3 pt3">

        {% if poem.headerimage %}<div class="mw-8 pa3"><img src="{{ poem.headerimage }}"></div>{% endif %}
        <div class="f5 f3-ns lh-copy ph2">
            <div>{{ poem.body_text|safe }}</div>
        </div>
</article>
{% endblock e_BODY %}