{% extends 'poems/base.html' %}

{% block e_TITLE %}{{ poem.title }}{% endblock e_TITLE %}

{% block ff_HEADER_TITLE %}{{ poem.title }}{% endblock ff_HEADER_TITLE %}

{% block e_BODY %}
<div class="ui center aligned container">
    <h3><i>{{ poem.short_description }}</i></h3>
    <div class="ui horizontal divided list">
        <div class="item">
            published on: <b>{{ poem.date_published }}</b>
        </div>
        <div class="item">
            <p>last updated on: <b>{{ poem.date_updated }}</b></p>
        </div>
    </div><br>
    <div class="ui horizontal divided list">
        {% for tag in poem.tags.all %}
        <div class="item">
            <a href="#" class="ui tiny tag label">{{ tag.name }}</a>
        </div>
        {% endfor %}
    </div>
    {% if poem.series %}<h2 class="ui header"><i class="green cubes icon"></i> {{ poem.series.name }}</h2>{% endif %}
    <div class="ui horizontal divider">#</div>
    {% if poem.headerimage %}<img class="ui big centered fluid image" src="{{ poem.headerimage }}"><br>{% endif %}
    <div id='content' class="ui center aligned container">
    <h1 class="ui header">{{ poem.title }}</h1>
    {{ poem.body_text|safe }}
    </div>
</div>
{% endblock e_BODY %}