
/*
 * body background and decorators
 */
body {
  background: #F5FFEF;
  font-family: 'Droid Sans', sans-serif;

}

.blog-title{
  font-family: 'Copse', serif;
}


/*
 * Blog name and description
 */

.blog-header {
  background-color: #9DFF6D;
  font-family: 'Glegoo', serif;
}
