{% extends 'hobbies/base.html' %}
{% block e_TITLE %}{{ list.title }}{% endblock e_TITLE %}
{% block e_META_DESCRIPTION %}reading list at harshp.com{% endblock e_META_DESCRIPTION %}
{% block f_BODY %} 
<style>
ul {
    list-style-type: none;
}
.liked {
    color: #990000;
    font-size: 0.5em;
    vertical-align: super;
    padding-left: 5px;
}
.fiction {
    color: #559955;
}
.non-fiction {
    color: #555599;
}
</style>
<h1>{{ list }}</h1>
<p><u>navigate:</u> <a href="{% url 'hobbies:books:index' %}">books</a>, <a href="{% url 'home' %}">harshp.com</a></p>
<p><u>legend:</u> <span class="fiction">&#x25c9;</span> Fiction | <span class="non-fiction">&#x25c6;</span> Non-Fiction | <span class="liked">&#x2665; liked</span></p>
<ul>{% for book in books %}
    <li>{% if book.fiction %}<span class="fiction">&#x25c9;</span>{% else %}<span class="non-fiction">&#x25c6;</span>{% endif %} {{ book.title }}<span class="liked">&#x2665;</span></li>
{% endfor %}</ul>
{% endblock f_BODY %}

