{% extends 'hobbies/base.html' %}

{% block e_TITLE %}hobbies at harshp.com{% endblock e_TITLE %}
{% block e_HEADER_SUBTITLE %}<a href="{% url 'home' %}"><span class="f3 fw1 ph2">harshp.com</span></a>{% endblock e_HEADER_SUBTITLE %}

{% block e_BODY %}
<div class="fl w-100 ph2">
    <p class="f5 tc light-red">stay tuned</p>
    <p class="f3 tc silver">reading books</p>
    <p class="f3 tc silver">watching movies</p>
    <p class="f3 tc silver">playing video games</p>
    <p class="f3 tc silver">photography</p>
    <p class="f3 tc silver">watching tv shows</p>
    <p class="f3 tc silver">origami</p>
    <p class="f3 tc silver">listening music</p>
</div>
{% endblock e_BODY %}