{% extends 'hobbies/base.html' %}
{% block e_TITLE %}movie{% endblock e_TITLE %}
{% block e_META_DESCRIPTION %}movies, my hobby at harshp.com{% endblock e_META_DESCRIPTION %}
{% block f_BODY %}
<h1>movies</h1>
<p><u>navigate:</u> <a href="{% url 'home' %}">harshp.com</a></p>
<p>Someone once described films as poetry in motion, or they may have been talking about something else, but that's the quote that's stuck in my head. I <i>love</i> movies, films, cinema, call it what you want. These days, I relish a good film, but I've been exhausted of repetitive stories and patterns to the point that they feel like an insult to the intellect. Carefully selecting films to watch keeps me appreciative of the art.</p>

<p><a href={% url 'hobbies:movies:watchlist' %}>to-watch list</a></p>

<h2>Lists</h2>
<ul>{% for list in lists %}
<li><a href="{% url 'hobbies:movies:list' list.slug %}">{{ list.title }}</a></li>
{% endfor %}</ul>

<h2>Master List</h2>
<p><u>legend:</u> (&#x2713;) seen  (&#x2605;) favourite</p>
<ul>{% for movie in movies %}
    <li>{% if movie.seen %}(&#x2713;){% endif %} {% if movie.liked %}(&#x2605;){% endif %} {{ movie }}</li>
{% endfor %}</ul>
</article>
{% endblock f_BODY %}
