{% extends 'hobbies/base.html' %}
{% block e_TITLE %}{{ list.title }}{% endblock e_TITLE %}
{% block e_META_DESCRIPTION %}movie list {{ list.title }{% endblock e_META_DESCRIPTION %}
{% block e_BODY %}
<h1>{{ list.title }}</h1>
<p><u>navigate:</u> <a href="{% url 'hobbies:movies:index' %}">movies</a>; <a href="{% url 'home' %}">harshp.com</a></p>
<p><u>legend:</u> (&#x2713;) seen  (&#x2605;) favourite</p>
<ul>{% for movie in movies %}
    <li>{% if movie.seen %}(&#x2713;){% endif %} {% if movie.liked %}(&#x2605;){% endif %} {{ movie }}</li>
{% endfor %}</ul>
{% endblock e_BODY %}
