{% extends 'hobbies/base.html' %}
{% block e_TITLE %}music{% endblock e_TITLE %}
{% block e_META_DESCRIPTION %}music, my hobby at harshp.com{% endblock e_META_DESCRIPTION %}
{% block f_BODY %} 
<article class="helvetica pb5">
  <header class="vh-100 bg-light-pink dt w-100">
    <div 
      style="background:url(https://s3-eu-west-1.amazonaws.com/harshp-media/hobbies/headphones.jpg) no-repeat center right;background-size: cover;
		height:auto;"
      class="dtc v-mid cover ph3 ph4-m ph5-l">
      <h1 class="f2 f-subheadline-l measure lh-title fw9 white">music</h1>
      <h2 class="f6 fw6 near-white">hear your emotions</h2>
    </div>
  </header>
  <div class="mw8 center mt4">
      <p>Sure, we all like pretending we are awesome, singing in the showers when no one is watching, mouthing the words as we walk along the streets. And in rare moments of romantic passion, we sing verses to our beloved. Music has a way to change us, to get us a sweet high.</p>
  </div>
</article>
{% endblock f_BODY %}
