{% extends 'hobbies/base.html' %}
{% block e_TITLE %}music{% endblock e_TITLE %}
{% block e_META_DESCRIPTION %}music, my hobby at harshp.com{% endblock e_META_DESCRIPTION %}
{% block f_BODY %} 
<h1>music</h1>
<p>Sure, we all like pretending we are awesome, singing in the showers when no one is watching, mouthing the words as we walk along the streets. And in rare moments of romantic passion, we sing verses to our beloved. Music has a way to change us, to get us a sweet high.</p>
{% endblock f_BODY %}
