{% extends 'hobbies/base.html' %}
{% block e_TITLE %}origami{% endblock e_TITLE %}
{% block e_META_DESCRIPTION %}origami, my hobby at harshp.com{% endblock e_META_DESCRIPTION %}
{% block f_BODY %} 
      <h1>origami</h1>

      <p>All origami needs is a piece of paper. Fairly square, if possible. The easiest of all is the butterfly, which I love to make. Restaurant bills, tissues, napkins, get me anything and I'll turn it in to a butterfly. Watching videos on Youtube, I even managed to make decent varieties of Pikachu and Minecraft monsters, gifts for birthdays. Reminds me of high-school papercraft. It was so much fun back then. I'm sure I can have some fun now too.</p>

{% endblock f_BODY %}
