{% extends 'hobbies/base.html' %}
{% block e_TITLE %}photography{% endblock e_TITLE %}
{% block e_META_DESCRIPTION %}photograhy, my hobby at harshp.com{% endblock e_META_DESCRIPTION %}
{% block f_BODY %} 
<article class="helvetica pb5">
  <header class="vh-100 bg-light-pink dt w-100">
    <div 
      style="background:url(https://s3-eu-west-1.amazonaws.com/harshp-media/hobbies/lens.jpg) no-repeat center right;background-size: cover;
		height:auto;"
      class="dtc v-mid cover ph3 ph4-m ph5-l">
      <h1 class="f2 f-subheadline-l measure lh-title fw9 navy-blue">photography</h1>
    </div>
  </header>
  <div class="mw8 center mt4">
      <p>I've had a family history of knowing photography. Pretty much every uncle I have from my father's side has had something to do with photography. But the bug didn't really bite me until I had an infatuation with this one girl who was into photography. I didn't own a camera back then. It was a Sony K800i, a great phone, and I had managed to hack the camera module, putting some great work done by a Danish programmer to get DSLR-like functions on a camera phone. It was cool. I took some pretty interesting pictures. It was more about the composition than the camera and picture quality. But that was my first taste at photography. I discovered I had an appetite.</p>
      <p>Over time, the hobby came and went. Then it came back in an quite interesting way. Family gifted me a Nikon D3200 and a 35mm lens. I was escalated. I snapped pictures like crazy.The hobby still came and went. I still snapped pictures. Then I started buying lenses on ebay. Got myself a nifty Carl Zeiss Jena Tessar 50mm. An old, vintage lens. Cheap, great pictures. Completely manual. I was in love with it. Managed to buy an old, plastic Canon, something I could use the Jena with. Then the spirit left me. I'm waiting for it to come back.</p>
  </div>
</article>
{% endblock f_BODY %}
