{% extends 'hobbies/base.html' %}
{% block e_TITLE %}polymathy{% endblock e_TITLE %}
{% block e_META_DESCRIPTION %}polymathy, my hobby at harshp.com{% endblock e_META_DESCRIPTION %}
{% block f_BODY %} 
<article class="helvetica pb5">
  <header class="vh-100 bg-light-pink dt w-100">
    <div 
      style="background:url(https://s3-eu-west-1.amazonaws.com/harshp-media/hobbies/polymath.jpg) no-repeat center right;background-size: cover;
		height:auto;"
      class="dtc v-mid cover ph3 ph4-m ph5-l">
      <h1 class="f2 f-subheadline-l measure lh-title fw9 white">polymathy</h1>
      <h2 class="f6 fw6 near-white">be the jack of all trades</h2>
    </div>
  </header>
  <div class="mw8 center mt4">
      <p><a href="https://en.wikipedia.org/wiki/Polymath">Polymath</a> is a person who knows a lot about a lot of things. That's what I want to be. I want to learn about everything. Little bits, medium chunks, massive troves of knowledge, I'll suck them all in. It's insanely difficult. I leak stuff out of memory faster than I'm putting it in. But somehow the larger chunks of understanding and wisdom manage to stay, and I feel content knowing a little about something after all.</p>
  </div>
</article>
{% endblock f_BODY %}
