{% extends 'hobbies/base.html' %}
{% block e_TITLE %}tea / coffee{% endblock e_TITLE %}
{% block e_META_DESCRIPTION %}tea / coffe, my hobby at harshp.com{% endblock e_META_DESCRIPTION %}
{% block f_BODY %} 
<article class="helvetica pb5">
  <header class="vh-100 bg-light-pink dt w-100">
    <div 
      style="background:url(https://s3-eu-west-1.amazonaws.com/harshp-media/hobbies/coffee.jpg) no-repeat center right;background-size: cover;
		height:auto;"
      class="dtc v-mid cover ph3 ph4-m ph5-l">
      <h1 class="f2 f-subheadline-l measure lh-title fw9 black">tea / coffee</h1>
      <h2 class="f6 fw6 near-black">warm cuppa' joy!</h2>
    </div>
  </header>
  <div class="mw8 center mt4">
      <p>People say that you are either a <i>tea</i> person or a <i>coffee</i> person. As if there isn't a choice where you can like both. Well, I have news for them. I <i>love</i> both tea and coffee. I like everything. The bitter black tea, herbal tea, green tea. Get my anything, and I'll brew it to see what it tastes like. It's the same with coffee. I mostly drink coffee for the taste. The high is something that's useful at work, but I don't like depending on it.</p>
  </div>
</article>
{% endblock f_BODY %}
