{% extends 'hobbies/base.html' %}
{% block e_TITLE %}tea / coffee{% endblock e_TITLE %}
{% block e_META_DESCRIPTION %}tea / coffe, my hobby at harshp.com{% endblock e_META_DESCRIPTION %}
{% block f_BODY %} 
<h1>tea-coffee</h1>
<p>People say that you are either a <i>tea</i> person or a <i>coffee</i> person. As if there isn't a choice where you can like both. Well, I have news for them. I <i>love</i> both tea and coffee. I like everything. The bitter black tea, herbal tea, green tea. Get my anything, and I'll brew it to see what it tastes like. It's the same with coffee. I mostly drink coffee for the taste. The high is something that's useful at work, but I don't like depending on it.</p>
{% endblock f_BODY %}
