{% extends 'hobbies/base.html' %}
{% block e_TITLE %}video-games{% endblock e_TITLE %}
{% block e_META_DESCRIPTION %}video-games, my hobby at harshp.com{% endblock e_META_DESCRIPTION %}
{% block f_BODY %} 
<h1>video-games</h1>
<p>The first video game I remember playing was Mario on a knock-off console. I was terrible at it, I sucked. I always got to play as <i>Luigi</i> because my death would always be imminent. I barely managed to clear the first stage. I was content watching others clear level after level. I sucked at everything I played, be it Contra or Battle Tanks. Around teenage, something changed though. Drastically. I got <i>better</i> at playing. I played Quake 3 and Unreal Tournament when they were released, and came as demos with a local computer magazine. I was hooked. I was obsessed to the point that I my first lucid dream handling the rocket launcher from UT. Since then, I've been a fan of the medium. These days, I appreciate the indie games that being something radically different and I enjoy the creativity of it.</p>
{% endblock f_BODY %}
