{% extends 'hobbies/base.html' %}
{% block e_TITLE %}Movie Watch List{% endblock e_TITLE %}
{% block e_META_DESCRIPTION %}movies to see{% endblock e_META_DESCRIPTION %}
{% block e_BODY %}
<h1>Movie Watchlist</h1>
<p><u>navigate:</u> <a href="{% url 'hobbies:movies:index' %}">movies</a>; <a href="{% url 'home' %}">harshp.com</a></p>
<ul>{% for movie in movies %}
    <li>{% if movie.seen %}(&#x2713;){% endif %} {% if movie.liked %}(&#x2605;){% endif %} {{ movie }}</li>
{% endfor %}</ul>
{% endblock e_BODY %}
