{% extends 'friends/base.html' %}{% load subdomainurls %}
{% block e_TITLE %}friends at harshp.com{% endblock e_TITLE %}
{% block e_META_DESCRIPTION %}friends at harshp.com{% endblock e_META_DESCRIPTION %}
{% block e_HEADER_SUBTITLE %}<a href="{% url 'home' None %}"><span class="f3 fw1">harshp.com</span></a>{% endblock e_HEADER_SUBTITLE %}
{% block e_BODY %}
<div class="fl w-100 ph2">
    <p class="f3 tc near-black">stuff for my friends</p>
    <p class="f5 tc light-red">stay tuned</p>
</div>
{% endblock e_BODY %}