body {
    font-size: 125%;
    background-color:#EEE;
}


small {
    font-size: 50%;
}

.pageheader {
    background-color: #EEE;
    font-family: 'Josefin Slab', serif;
    font-size: 200%;
}

#socialshare {
    text-align: center;
}

#pagetitle {
   text-shadow: 2px 2px black;
}

blockquote {
  background: #CCC;
}

img {
  display: block;
  width: 100%;
}

