{% extends 'lifeX/base.html' %}

{% load dictionary %}
{% load staticfiles %}
{% load subdomainurls %}

{% block TITLE %}Life eXperiment Ideas{% endblock TITLE %}

{% block CSS %}
{% endblock CSS %}

{% block HEADER %}eXperiment Ideas{% endblock HEADER %}

{% block SOCIALSHARE %}
<!-- Social Button HTML -->
<!-- Facebook --><a href="http://www.facebook.com/sharer/sharer.php?u={{page_url}}" target="_blank" class="share-btn facebook"><i class="fa fa-facebook"></i></a>
<!-- Google Plus --><a href="https://plus.google.com/share?url={{page_url}}" target="_blank" class="share-btn google-plus"><i class="fa fa-google-plus"></i></a>
<!-- Twitter --><a href="http://twitter.com/share?url={{page_url}}&text=lifeX%20ideas%20at%20harshp.com&via=coolharsh55" target="_blank" class="share-btn twitter"><i class="fa fa-twitter"></i></a>
<!-- Email --><a href="mailto:?subject=lifeX%20ideas&body={{page_url}}" target="_blank" class="share-btn email"><i class="fa fa-envelope"></i></a>
{% endblock SOCIALSHARE %}

{% block CONTENT %}
<div class='parent centertext'>
<br><br>
{% for category in categories %}
  <div class="panelheading" role="tab" id="heading-{{category.slug}}">
    <h2><a class="collapsed nodecorate" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{category.slug}}" aria-expanded="false" aria-controls="collapse-{{category.slug}}">{{category.name}}</a></h2>
  </div>
  <div id="collapse-{{category.slug}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{category.slug}}">
      {% for idea in category.lifexidea_set.all %}
      <a class='nodecorate' href="{% url 'lifeX:idea' 'lifeX' category.slug idea.slug %}"><h3 >{{idea.title}}<small>
      	{% if idea.experimented == True and idea.retry == True %}
				experimented, will try again
				{% elif idea.experimented == True and idea.retry == False %}
				experimented, concluded
				{% elif idea.experimented == False %}
				not experimented yet
				{% endif %}
        </small></h3></a>{% endfor %}
</div>

{% endfor %}
</div>
{% endblock CONTENT %}
