{% extends 'sitebase/base.html' %}{% load subdomainurls %}
{% block f_HEADER %}
<div class="baskerville center tc br2 pv3 ph6-ns bb bw1 bw3-ns b--near-black near-black georgia">
    <div class="ph1 ph2-mph6-ns">
      <h1 class="avenir f3 f-subheadline-l measure lh-title fw1 mt0 mb0">{% block fe_HEADER %}{% endblock fe_HEADER %}</h1>
      <h3 class='avenir f4 fw3 lh-title mt0 mb3'>Harshvardhan J. Pandit</h3>
      <div class="fw2 f6 lh-title mt0 mb3 tc">
      	<a href="{% url 'research:home' subdomain='research' %}"><span class="f5 fw1 ph2 light-red">Research Home</span></a>
      	<a href="{% url 'research:blog:home' subdomain='research' %}"><span class="f5 fw1 ph2 light-red">Research Blog</span></a>
      	<a href="{% url 'home' subdomain=None %}"><span class="f5 fw1 ph2 light-red">Main Site</span></a></div>
    </div>
</div>
{% endblock f_HEADER %}