{% extends 'research/base.html' %}

{% block e_TITLE %}research at harshp.com{% endblock e_TITLE %}

{% block e_BODY %}
<h1>Research</h1>
    <a href="{% url 'home' %}">harshp.com</a> > <a href="{% url 'research:home' %}">research</a>; 
<p><u>about me: </u>
    Currently a Ph.D researcher with 
    <a class="dark-red" href="http://adaptcentre.ie/">ADAPT</a> 
    research center at 
    <a class="dark-red" href="https://www.cs.tcd.ie/">School of Computer Science and Statistics</a>
    of <a class="dark-red" href="http://www.tcd.ie/">Trinity College Dublin.</a> 
    Started in April 2016 and expected to graduate by April 2020.
    My research is on how GDPR obligations can be proven based on provenance
    information, specifically using semantic web technologies.
    My PhD work is available at <a class="link" href="https://openscience.adaptcentre.ie/">OpenScience - ADAPT</a>.<br/>
    Publications: <a class="link avenir underline" href="{% url 'research:publications' %}">my website</a>,
    <a class="link" href="https://scholar.google.com/citations?user=tugki3kAAAAJ&hl=en&oi=ao">Google Scholar</a>, 
    <a class="link" href="http://dblp.uni-trier.de/search?q=harshvardhan+pandit">dblp</a>.<br/>
    I also keep a <a href="{% url 'research:blog:home' %}"><span class="u">research blog</span></a>.</p>
<h2>Selected Publications</h2>
    <li>
        <b>Queryable Provenance Metadata For GDPR Compliance</b><br/>
        <i>Conference paper (to-appear)</i><br/>
        <u>Harshvardhan J. Pandit</u>, Declan O'Sullivan, Dave Lewis.<br/>
        <i>SEMANTiCS 2018 – 14th International Conference on Semantic Systems, Vienna, Austria. 2018</i><br/>
        <a href="https://s3-eu-west-1.amazonaws.com/harshp-media/research/publications/2018_conference_queryable_provenance_metadata_for_GDPR_compliance.pdf">preprint PDF</a>;
    </li>
    <li>
        <b>GDPRtEXT - GDPR as a Linked Data Resource</b><br/>
        <i>Conference paper</i><br/>
        <u>Harshvardhan J. Pandit</u>, Kaniz Fatema, Declan O'Sullivan, Dave Lewis.<br/>
        <i>15th European Semantic Web Conference (ESWC), Resource Track. Crete, Heraklion, Greece. 2018</i><br/>
        <a href="https://doi.org/10.1007/978-3-319-93417-4_31">proceedings PDF</a>; 
        <a href="https://s3-eu-west-1.amazonaws.com/harshp-media/research/publications/2018_conference_GDPRtEXT_GDPR_as_a_linked_data_resource.pdf">alternate PDF</a>
    </li>
     <li>
        <b>GDPR Data Interoperability Model</b></br>
        <i>Conference paper (in-press)</i><br/>
        <u>Harshvardhan J. Pandit</u>, Declan O'Sullivan, Dave Lewis.<br/>
        <i>23rd EURAS Annual Standardisation Conference, Dublin, Ireland</i><br/>
        <a href="http://openscience.adaptcentre.ie/pb/EURAS2018/">view preprint</a>; 
        <a href="https://s3-eu-west-1.amazonaws.com/harshp-media/research/publications/2018_conference_GDPR_data_interoperability_model.pdf">PDF</a>
    </li>
    <li>
        <b>Modelling provenance for GDPR compliance using linked open data vocabularies</b><br/>
        <i>Workshop Paper</i><br/>
        <u>Harshvardhan J. Pandit</u>, Dave Lewis<br/>
        <i>Society, Privacy and the Semantic Web - Policy and Technology (PrivOn), co-located with ISWC 2017</i><br/>
        <a href="http://ceur-ws.org/Vol-1951/PrivOn2017_paper_6.pdf">proceedings PDF</a>; 
        <a href="https://s3-eu-west-1.amazonaws.com/harshp-media/research/publications/2017_gdprov.pdf">alternate PDF</a>
    </li>
        </div>
        <div class="">
            <h2 class="fw2">Research Interests</h2>
            <ul class="list">
                <li><a class="link" href="https://en.wikipedia.org/wiki/Semantic_data_model">Semantic Modelling</a></li>
                <li><a class="link" href="https://en.wikipedia.org/wiki/Policy-based_management">Policy-Based Management</a></li>
                <li><a class="link" href="https://en.wikipedia.org/wiki/Privacy">Privacy and Ethics</a></li>
                <li><a class="link" href="http://www.eugdpr.org/">General Data Protection Regulation (GDPR)</a></li>
                <li><a class="link" href="https://en.wikipedia.org/wiki/Reasoning_system">Context-aware Privacy Reasoning Services</a></li>
            </ul>
        </div>
    </div>
</article>
{% endblock e_BODY %}
