{% extends 'research/base.html' %}

{% block e_TITLE %}research at harshp.com{% endblock e_TITLE %}

{% block e_BODY %}
<h1>Publications</h1>
<p><u>navigate:</u> <a href="{% url 'research:home' %}">Research Home</a>; 
    <a href="{% url 'research:blog:home' %}">Research Blog</a>; 
    <a href="{% url 'research:publications' %}">Publications</a>; 
    <a href="{% url 'home' %}">Main Site</a></p>
<ol reversed>
    <li>
        <b>SEMANTICS poster</b>
        <i>Poster Paper (to-appear)</i><br/>
        <u>Harshvardhan J. Pandit</u>, Declan O'Sullivan, Dave Lewis.<br/>
        <i>SEMANTiCS 2018 – 14th International Conference on Semantic Systems, Vienna, Austria. 2018</i><br/>
        <a href="https://s3-eu-west-1.amazonaws.com/harshp-media/research/publications/2018_poster_exploring_GDPR_compliance_over_provenance_graphs_using_SHACL.pdf">preprint PDF</a>;
    </li>
    <li>
        <b>An Ontology Design Pattern for Describing Personal Data in Privacy Policies</b>
        <i>Workshop Paper (to-appear)</i><br/>
        <u>Harshvardhan J. Pandit</u>, Declan O'Sullivan, Dave Lewis.<br/>
        <i>9th Workshop on Ontology Design and Patterns (WOP2018), ISWC2018 Workshop, Monterey California, USA. 2018</i><br/>
        <a href="https://s3-eu-west-1.amazonaws.com/harshp-media/research/publications/2018_workshop_an_ontology_design_pattern_for_describing_personal_data_in_privacy_policies.pdf">preprint PDF</a>;
    </li>
    <li>
        <b>Using Ontology Design Patterns to Define SHACL Shapes</b>
        <i>Workshop Paper (to-appear)</i><br/>
        <u>Harshvardhan J. Pandit</u>, Declan O'Sullivan, Dave Lewis.<br/>
        <i>9th Workshop on Ontology Design and Patterns (WOP2018), ISWC2018 Workshop, Monterey California, USA. 2018</i><br/>
        <a href="https://s3-eu-west-1.amazonaws.com/harshp-media/research/publications/2018_workshop_using_ontology_design_patterns_to_define_SHACL_shapes.pdf">preprint PDF</a>;
    </li>
    <li>
        <b>Towards Knowledge-based Systems for GDPR Compliance</b><br/>
        <i>Workshop Paper (to-appear)</i><br/>
        <u>Harshvardhan J. Pandit</u>, Declan O'Sullivan, Dave Lewis.<br/>
        <i>Contextualised Knowledge Graphs (CKG), ISWC2018 Workshop, Monterey California, USA. 2018</i><br/>
        <a href="https://s3-eu-west-1.amazonaws.com/harshp-media/research/publications/2018_workshop_towards_an_open_data_vocabulary_for_canvas_driven_innovation_ethics.pdf">preprint PDF</a>;
    </li>
    <li>
        <b>Towards an Open Data Vocabulary for Canvas Driven Innovation Ethics</b><br/>
        <i>Workshop Paper (to-appear)</i><br/>
        Dave Lewis, <u>Harshvardhan J. Pandit</u>, Hannah Devinney, Wessel Reijers<br/>
        <i>Semantic Web for Social Good (SW4SG), ISWC2018 Workshop, Monterey, California, USA. 2018</i><br/>
        <a href="https://s3-eu-west-1.amazonaws.com/harshp-media/research/publications/2018_workshop_towards_an_open_data_vocabulary_for_canvas_driven_innovation_ethics.pdf">preprint PDF</a>;
    </li>
    <li>
        <b>Queryable Provenance Metadata For GDPR Compliance</b><br/>
        <i>Conference paper (to-appear)</i><br/>
        <u>Harshvardhan J. Pandit</u>, Declan O'Sullivan, Dave Lewis.<br/>
        <i>SEMANTiCS 2018 – 14th International Conference on Semantic Systems, Vienna, Austria. 2018</i><br/>
        <a href="https://s3-eu-west-1.amazonaws.com/harshp-media/research/publications/2018_conference_queryable_provenance_metadata_for_GDPR_compliance.pdf">preprint PDF</a>;
    </li>
    <li>
        <b>Personalised Privacy Policies</b><br/>
        <i>Workshop Paper (to-appear)</i><br/>
        <u>Harshvardhan J. Pandit</u>, Declan O'Sullivan, Dave Lewis.<br/>
        <i>TELERISE: 4th International Workshop on TEchnical and LEgal aspects of data pRIvacy and SEcurity, Budapest, Hungary. 2018</i><br/>
        <a href="https://s3-eu-west-1.amazonaws.com/harshp-media/research/publications/2018_workshop_personalised_privacy_policies.pdf">preprint PDF</a>;
    </li>
    <li>
        <b>Extracting Provenance Metadata from Privacy Policies</b><br/>
        <i>Poster Paper (in-press)</i><br/>
        <u>Harshvardhan J. Pandit</u>, Declan O'Sullivan, Dave Lewis.<br/>
        <i>International Provenance & Annotation Workshop (IPAW), Provenance Week '18, London, United Kingdom. 2018</i><br/>
        <a href="https://s3-eu-west-1.amazonaws.com/harshp-media/research/publications/2018_poster_extracting_provenance_metadata_from_privacy_policies.pdf">preprint PDF</a>;
        <a href="https://s3-eu-west-1.amazonaws.com/harshp-media/research/publications/2018_poster_extracting_provenance_metadata_from_privacy_policies__poster.pdf">poster PDF</a>
    </li>
    <li>
        <b>GDPRtEXT - GDPR as a Linked Data Resource</b><br/>
        <i>Conference paper (in-press)</i><br/>
        <u>Harshvardhan J. Pandit</u>, Kaniz Fatema, Declan O'Sullivan, Dave Lewis.<br/>
        <i>15th European Semantic Web Conference (ESWC), Resource Track. Crete, Heraklion, Greece. 2018</i><br/>
        <a href="https://doi.org/10.1007/978-3-319-93417-4_31">proceedings PDF</a>; 
        <a href="https://s3-eu-west-1.amazonaws.com/harshp-media/research/publications/2018_conference_GDPRtEXT_GDPR_as_a_linked_data_resource.pdf">alternate PDF</a>
    </li>
    <li>
        <b>GDPR-driven Change Detection in Consent and Activity Metadata</b><br/>
        <i>Workshop Position paper (in-press)</i><br/>
        <u>Harshvardhan J. Pandit</u>, Declan O'Sullivan, Dave Lewis.<br/>
        <i>Managing the Evolution and Preservation of the Data Web (MEPDaW). Co-located with 15th European Semantic Web Conference (ESWC). Crete, Heraklion, Greece. 2018</i><br/>
        <a href="http://ceur-ws.org/Vol-2094/paper3.pdf">proceedings PDF</a>; 
        <a href="https://s3-eu-west-1.amazonaws.com/harshp-media/research/publications/2018_workshop_GDPR_driven_change_detection_in_consent_and_activity_metadata.pdf">alternate PDF</a>; 
    </li>
    <li>
        <b>Exploring Linked Data For The Automatic Enrichment of Historical Archives</b> (extended version)<br/>
        <i>Workshop paper (in-press)</i><br/>
        Gary Munnelly, <u>Harshvardhan J. Pandit</u>, Séamus Lawless.<br/>
        <i>Satellite Proceedings of 15th European Semantic Web Conference (ESWC). Crete, Heraklion, Greece. 2018</i><br/>
        <a href="https://s3-eu-west-1.amazonaws.com/harshp-media/research/publications/2018_workshop_exploring_linked_data_for_the_automatic_enrichment_of_historical_archives__extended.pdf">preprint PDF</a>; 
    </li>
    <li>
        <b>Exploring Linked Data For The Automatic Enrichment of Historical Archives</b><br/>
        <i>Workshop paper (in-press)</i><br/>
        Gary Munnelly, <u>Harshvardhan J. Pandit</u>, Séamus Lawless.<br/>
        <i>Third International Workshop on Semantic Web for Cultural Heritage (SW4CH). Co-located with 15th European Semantic Web Conference (ESWC). Crete, Heraklion, Greece. 2018</i><br/>
        <a href="https://s3-eu-west-1.amazonaws.com/harshp-media/research/publications/2018_workshop_exploring_linked_data_for_the_automatic_enrichment_of_historical_archives.pdf">preprint PDF</a>; 
    </li>
    <li>
        <b>Discussing Ethical Impacts in Research and Innovation: The Ethics Canvas</b><br/>
        <i>Conference paper (in-press)</i><br/>
        Wessel Reijers, Kevin Koidl, David Lewis, <u>Harshvardhan J. Pandit</u>, Bert Gordijn<br/>
        <i>13th IFIP TC9 International Conference on Human Choice and Computers: This Changes Everything</i><br/>
        <a href="https://s3-eu-west-1.amazonaws.com/harshp-media/research/publications/2018_conference_the_ethics_canvas_tool_for_practising_ethics_+in_RI.pdf">preprint PDF</a>; 
    </li>
     <li>
        <b>GDPR Data Interoperability Model</b></br>
        <i>Conference paper (in-press)</i><br/>
        <u>Harshvardhan J. Pandit</u>, Declan O'Sullivan, Dave Lewis.<br/>
        <i>23rd EURAS Annual Standardisation Conference, Dublin, Ireland</i><br/>
        <a href="http://openscience.adaptcentre.ie/pb/EURAS2018/">preprint HTML</a>; 
        <a href="https://s3-eu-west-1.amazonaws.com/harshp-media/research/publications/2018_conference_GDPR_data_interoperability_model.pdf">alternate PDF</a>
    </li>
    <li>
        <b>Ease and Ethics of User Profiling in Black Mirror</b></br>
        <i>Workshop paper</i><br/>
        <u>Harshvardhan J. Pandit</u>, Dave Lewis.<br/>
        <i>Re-coding Black Mirror, co-located with the Web Conference 2018</i><br/>
        <a href="https://dl.acm.org/citation.cfm?doid=3184558.3191614">proceedings</a>; 
        <a href=")<://s3-eu-west-1.amazonaws.com/harshp-media/research/publications/2018_workshop_ease_and_ethics_of_user_profiling_in_black_mirror.pdf">alternate PDF</a>
    </li>
    <li>
        <b>Modelling provenance for GDPR compliance using linked open data vocabularies</b><br/>
        <i>Workshop Paper</i><br/>
        <u>Harshvardhan J. Pandit</u>, Dave Lewis<br/>
        <i>Society, Privacy and the Semantic Web - Policy and Technology (PrivOn), co-located with ISWC 2017</i><br/>
        <a href="http://ceur-ws.org/Vol-1951/PrivOn2017_paper_6.pdf">proceedings PDF</a>; 
        <a href="https://s3-eu-west-1.amazonaws.com/harshp-media/research/publications/2017_gdprov.pdf">alternate PDF</a>
    </li>
    <li>
        <b>Compliance through Informed Consent: Semantic Based Consent Permission and Data Management Model</b><br/>
        <i>Workshop Paper</i><br/>
        Kaniz Fatema, Ensar Hadziselimovic, <u>Harshvardhan J. Pandit</u>, Dave Lewis<br/>
        <i>Society, Privacy and the Semantic Web - Policy and Technology (PrivOn), co-located with ISWC 2017</i><br/>
        <a href="http://ceur-ws.org/Vol-1951/PrivOn2017_paper_5.pdf">proceedings PDF</a>; 
        <a href="https://s3-eu-west-1.amazonaws.com/harshp-media/research/publications/2017_cdmm.pdf">alternate PDF</a>
    </li>
    <li>
        <b>Linked Data Contracts to Support Data Protection and Data Ethics in the Sharing of Scientific Data</b><br/>
        <i>Workshop Paper</i><br/>
        Ensar Hadziselimovic, Kaniz Fatema, <u>Harshvardhan J. Pandit</u>, Dave Lewis.<br/>
        <i>Sharing of Scientific Data in Enabling Open Semantic Science (SemSci), co-located with ISWC 2017.</i><br/>
        <a href="http://ceur-ws.org/Vol-1931/paper-08.pdf">proceedings PDF</a>; 
        <a href="https://s3-eu-west-1.amazonaws.com/harshp-media/research/publications/2017_dprl.pdf">alternate PDF</a>
    </li>
    <li>
        <b>Utilising Semantic Web Ontologies to publish Experimental Workflows</b><br/>
        <i>Workshop Paper</i><br/>
        <u>Harshvardhan J. Pandit</u>, Ensar Hadziselimovic, Dave Lewis.<br/>
        <i>Joint Proceedings of the 1st International Workshop on Scientometrics and 1st International Workshop on Enabling Decentralised Scholarly Communication co-located with 14th Extended Semantic Web Conference (ESWC 2017)</i><br/>
        <a href="http://ceur-ws.org/Vol-1878/article-06.pdf">proceedings PDF</a>; 
        <a href="https://openscience.adaptcentre.ie/publications/2017/eswc">HTML</a>; 
        <a href="https://s3-eu-west-1.amazonaws.com/harshp-media/research/publications/2017_workshop_utilising_semantic_web_ontologies_to_publish_experimental_workflows.pdf">alternate PDF</a>
    </li>
    <li>
        <b>The Use of Open Data to Improve the Repeatability of Adaptivity and Personalisation Experiment</b><br/>
        <i>Workshop Position Paper</i><br/>
        <u>Harshvardhan J. Pandit</u>, Ramisa Hamed, Seamus Lawless, David Lewis.<br/>
        <i>Published in the proceedings of the 1st EvalUMAP workshop - Towards comparative evaluation in user modeling, adaptation and personalization, held in conjunction with the 24th Conference on User Modeling, Adaptation and Personalization, UMAP 2016.</i><br/>
        <a href="http://ceur-ws.org/Vol-1618/EvalUMAP_paper_5.pdf">proceedings PDF</span></a>; 
        <a href="https://s3-eu-west-1.amazonaws.com/harshp-media/research/publications/2016_workshop_opendata_improve_repeatability.pdf">alternate PDF</a>
    </li>
    <li>
        <b>A model for contextual data sharing in smartphone applications</b><br/>
        <i>Journal Paper</i><br/>
        <u>Harshvardhan J. Pandit</u>, Adrian O'Riordan.<br/>
        <i>Published in International Journal of Pervasive Computing and Communications, 12(3), pp. 310–331. doi: 10.1108/ijpcc-06-2016-0030.</i><br/>
        <a href="http://www.emeraldinsight.com/doi/full/10.1108/IJPCC-06-2016-0030">proceedings</a>; 
        <a href="https://s3-eu-west-1.amazonaws.com/harshp-media/research/publications/2016_journal_model_for_contextual_data_sharing_in_smartphone_applications.pdf">alternate PDF</a>
    </li>
</ol>

<p class=""><b>A Contextul Model for Smartphone Applications</b><br/>
(2015 MSc thesis) Harshvardhan J. Pandit. M.S. Thesis, Dept. of Computer Science, U.C.C. Cork, Ireland<br/>
<a href="http://library.ucc.ie/record=b2144610">UCC Library</a>;
<a href="https://s3-eu-west-1.amazonaws.com/harshp-media/research/publications/2015_thesis_model_for_contextual_data_sharing_in_smartphone_applications.pdf">PDF</a></p>

<p class=""><b>KWEST: A Semantically Tagged Virtual File System</b><br/>
(2013 B.Engg Project Report) Aseem Gogte, Sahil Gupta, Harshvardhan J. Pandit, Rohit Sharma. Final Year Team Project, B. Engg in Computers, RSCOE, Pune University<br/>
<a href="https://s3-eu-west-1.amazonaws.com/harshp-media/research/publications/2013_report_kwest.pdf">PDF</a></p>
</article>
{% endblock e_BODY %}
