{% extends 'research/base.html' %}
{% load subdomainurls %}
{% block e_TITLE %}research at harshp.com{% endblock e_TITLE %}
{% block fe_HEADER %}Research Publications{% endblock fe_HEADER %}

{% block e_BODY %}
<article class="athelas">
<h1 class="f1 dark-gray">Research Publications</h1>

<p class="f4"><b>The Use of Open Data to Improve the Repeatability of Adaptivity and Personalisation Experiment</b><br/>
(2016 position) Harshvardhan Pandit, Ramisa Hamed, Seamus Lawless, David Lewis. Punlished in the proceedings of the 1st EvalUMAP workshop - Towards comparative evaluation in user modeling, adaptation and personalization, held in conjunction with the 24th Conference on User Modeling, Adaptation and Personalization, UMAP 2016.<br/>
<a class="ph2 link" href="http://ceur-ws.org/Vol-1618/EvalUMAP_paper_5.pdf"><span class="f6 blue">link to published paper</span></a>
<a class="ph2 link" href="#"><span class="f6 green">link to online version</span></a></p>

<p class="f4"><b>A model for contextual data sharing in smartphone applications</b><br/>
(2016 journal) Harshvardhan Pandit, Adrian O'Riordan. Published in International Journal of Pervasive Computing and Communications, 12(3), pp. 310–331. doi: 10.1108/ijpcc-06-2016-0030.<br/>
<a class="ph2 link" href="http://www.emeraldinsight.com/doi/full/10.1108/IJPCC-06-2016-0030"><span class="f6 blue">link to published paper</span></a>
<a class="ph2 link" href="#"><span class="f6 green">link to online version</span></a></p>


<p class="f4"><b>A Contextul Model for Smartphone Applications</b><br/>
(2016 MSc thesis) Harshvardhan Pandit. M.S. Thesis, Dept. of Computer Science, U.C.C. Cork, Ireland<br/>
<a class="ph2 link" href="http://library.ucc.ie/record=b2144610"><span class="f6 blue">link to thesis archive</span></a>
<a class="ph2 link" href="#"><span class="f6 green">link to online version</span></a></p>
</article>
{% endblock e_BODY %}