{% extends 'research/base.html' %}

{% block e_TITLE %}research at harshp.com{% endblock e_TITLE %}
{% block fe_HEADER %}Research Publications{% endblock fe_HEADER %}

{% block e_BODY %}
<article class="athelas">
<p><b>GDPRtEXT - GDPR as a Linked Data Resource</b></br>
(2018 Conference) Harshvardhan J. Pandit, Kaniz Fatema, Declan O'Sullivan, Dave Lewis.<br/>
15th European Semantic Web Conference, Resource Track (in-press)<br/>
<a class="ph2 link" href="http://openscience.adaptcentre.ie/pb/GDPRtEXT.pdf"><span class="f6 blue">online preprint</span></a></p>

<p><b>GDPR Interoperability Model</b></br>
(2018 Conference) Harshvardhan J. Pandit, Declan O'Sullivan, Dave Lewis.<br/>
23rd EURAS Annual Standardisation Conference, Dublin, Ireland 2018 (in-press)<br/>
<a class="ph2 link" href="http://openscience.adaptcentre.ie/pb/EURAS2018/"><span class="f6 blue">online preprint</span></a></p>

<p><b>GDPR-driven Change Detection in Consent and Activity Metadata</b></br>
(2018 Workshop Short-paper) Harshvardhan J. Pandit, Declan O'Sullivan, Dave Lewis.<br/>
Managing the Evolution and Preservation of the Data Web – MEPDaW 2018. Co-located with 15th European Semantic Web Conference (ESWC), Heraklion, Crete, Greece (in-press)<br/>
<a class="ph2 link" href="http://openscience.adaptcentre.ie/pb/MEPDaW2018/"><span class="f6 blue">online preprint</span></a></p>

<p><b>Ease and Ethics of User Profiling in Black Mirror</b></br>
(2018 Workshop) Harshvardhan J. Pandit, Dave Lewis.
Re-coding Black Mirror, co-located with the Web Conference 2018 (in-press)</p>

<p class=""><b>Modelling provenance for GDPR compliance using linked open data vocabularies</b><br/>
(2017 Workshop) Harshvardhan J. Pandit, Dave Lewis. Society, Privacy and the Semantic Web - Policy and Technology (PrivOn), co-located with ISWC 2017<br/>
<a class="ph2 link" href="http://ceur-ws.org/Vol-1951/"><span class="f6 blue">proceedings</span></a>
<a class="ph2 link" href="http://ceur-ws.org/Vol-1951/PrivOn2017_paper_6.pdf"><span class="f6 blue">online published (PDF)</span></a>
<a class="ph2 link" href="https://s3-eu-west-1.amazonaws.com/harshp-media/research/publications/2017_gdprov.pdf"><span class="f6 green">alternate PDF download</span></a></p>

<p class=""><b>Compliance through Informed Consent: Semantic Based Consent Permission and Data Management Model</b><br/>
(2017 Workshop) Kaniz Fatema, Ensar Hadziselimovic, Harshvardhan J. Pandit, Dave Lewis. Society, Privacy and the Semantic Web - Policy and Technology (PrivOn), co-located with ISWC 2017<br/>
<a class="ph2 link" href="http://ceur-ws.org/Vol-1951/"><span class="f6 blue">proceedings</span></a>
<a class="ph2 link" href="http://ceur-ws.org/Vol-1951/PrivOn2017_paper_5.pdf"><span class="f6 blue">online published (PDF)</span></a>
<a class="ph2 link" href="https://s3-eu-west-1.amazonaws.com/harshp-media/research/publications/2017_cdmm.pdf"><span class="f6 green">alternate PDF download</span></a></p>

<p class=""><b>Linked Data Contracts to Support Data Protection and Data Ethics in the Sharing of Scientific Data</b><br/>
(2017 Workshop) Ensar Hadziselimovic, Kaniz Fatema, Harshvardhan J. Pandit, Dave Lewis. Sharing of Scientific Data in Enabling Open Semantic Science (SemSci), co-located with ISWC 2017.<br/>
<a class="ph2 link" href="http://ceur-ws.org/Vol-1931/"><span class="f6 blue">proceedings</span></a>
<a class="ph2 link" href="http://ceur-ws.org/Vol-1931/paper-08.pdf"><span class="f6 blue">online published (PDF)</span></a>
<a class="ph2 link" href="https://s3-eu-west-1.amazonaws.com/harshp-media/research/publications/2017_dprl.pdf"><span class="f6 green">alternate PDF download</span></a></p>

<p class=""><b>Utilising Semantic Web Ontologies to publish Experimental Workflows</b><br/>
(2017 workshop) Harshvardhan J. Pandit, Ensar Hadziselimovic, Dave Lewis. Joint Proceedings of the 1st International Workshop on Scientometrics and 1st International Workshop on Enabling Decentralised Scholarly Communication co-located with 14th Extended Semantic Web Conference (ESWC 2017)<br/>
<a class="ph2 link" href="http://ceur-ws.org/Vol-1878/"><span class="f6 blue">proceedings</span></a>
<a class="ph2 link" href="https://openscience.adaptcentre.ie/publications/2017/eswc/"><span class="f6 blue">online published paper</span></a>
<a class="ph2 link" href="http://ceur-ws.org/Vol-1878/article-06.pdf"><span class="f6 green">PDF download</span></a>
<a class="ph2 link" href="https://s3-eu-west-1.amazonaws.com/harshp-media/research/publications/2017_workshop_utilising_semantic_web_ontologies_to_publish_experimental_workflows.pdf"><span class="f6 green">alternate PDF download</span></a></p>

<p class=""><b>The Use of Open Data to Improve the Repeatability of Adaptivity and Personalisation Experiment</b><br/>
(2016 position) Harshvardhan J. Pandit, Ramisa Hamed, Seamus Lawless, David Lewis. Published in the proceedings of the 1st EvalUMAP workshop - Towards comparative evaluation in user modeling, adaptation and personalization, held in conjunction with the 24th Conference on User Modeling, Adaptation and Personalization, UMAP 2016.<br/>
<a class="ph2 link" href="http://ceur-ws.org/Vol-1618/EvalUMAP_paper_5.pdf"><span class="f6 blue">online published paper (PDF)</span></a>
<a class="ph2 link" href="https://s3-eu-west-1.amazonaws.com/harshp-media/research/publications/2016_workshop_opendata_improve_repeatability.pdf"><span class="f6 green">alternate PDF download</span></a></p>

<p class=""><b>A model for contextual data sharing in smartphone applications</b><br/>
(2016 journal) Harshvardhan J. Pandit, Adrian O'Riordan. Published in International Journal of Pervasive Computing and Communications, 12(3), pp. 310–331. doi: 10.1108/ijpcc-06-2016-0030.<br/>
<a class="ph2 link" href="http://www.emeraldinsight.com/doi/full/10.1108/IJPCC-06-2016-0030"><span class="f6 blue">published paper</span></a>
<a class="ph2 link" href="https://s3-eu-west-1.amazonaws.com/harshp-media/research/publications/2016_journal_model_for_contextual_data_sharing_in_smartphone_applications.pdf"><span class="f6 green">PDF download</span></a></p>

<p class=""><b>A Contextul Model for Smartphone Applications</b><br/>
(2015 MSc thesis) Harshvardhan J. Pandit. M.S. Thesis, Dept. of Computer Science, U.C.C. Cork, Ireland<br/>
<a class="ph2 link" href="http://library.ucc.ie/record=b2144610"><span class="f6 blue">thesis</span></a>
<a class="ph2 link" href="https://s3-eu-west-1.amazonaws.com/harshp-media/research/publications/2015_thesis_model_for_contextual_data_sharing_in_smartphone_applications.pdf"><span class="f6 green">PDF download</span></a></p>

<p class=""><b>KWEST: A Semantically Tagged Virtual File System</b><br/>
(2013 B.Engg Project Report) Aseem Gogte, Sahil Gupta, Harshvardhan J. Pandit, Rohit Sharma. Final Year Team Project, B. Engg in Computers, RSCOE, Pune University<br/>
<a class="ph2 link" href="https://s3-eu-west-1.amazonaws.com/harshp-media/research/publications/2013_report_kwest.pdf"><span class="f6 green">PDF download</span></a></p>
</article>
{% endblock e_BODY %}
