{% extends 'stories/base.html' %}{% load subdomainurls %}
{% block e_TITLE %}stories at harshp.com{% endblock e_TITLE %}
{% block e_META_DESCRIPTION %}stories at harshp.com{% endblock e_META_DESCRIPTION %}
{% block e_HEADER_TITLE %}Stories{% endblock e_HEADER_TITLE %}
{% block e_HEADER_SUBTITLE %}<a href="{% url 'home' None %}"><span class="f3 fw1 light-red">harshp.com</span></a>{% endblock e_HEADER_SUBTITLE %}
{% block e_BODY %}
<div class="fl w-100 pa2">
    <div class="fl w-third-ns db pa3">
        <h2 class="f2 bg-near-black gold tc">latest</h2>
        <div class="tc pb3 mh2">
            <small class="fw1 f4 dark-gray">{{ stories_count }} stories</small> |
            <a href="#feed"><small class="fw1 f4 dark-gray">see all</small></a>
        </div>
        {% for story in stories_latest %}
        <div class="pv1">
            <a class="link navy" href="{{ story.get_absolute_url }}">{{ story.title }}</a>{% if stories.series != None %}<br/><small class="f5 dark-gray fw2">{{ story.series.title }}</small>{% endif %}
            <br/><small class="f6 fw1 dark-gray">{{ story.date_published }}</small>
            <br/><small class="f6 fw1 silver">{{ story.short_description }}</small>
        </div>
        {% endfor %}
    </div>
    <div class="fl w-third-ns db pa3">
        <h2 class="f2 bg-near-black gold tc">featured</h2>
        <div class="tc pb3 mh2">
            <small class="fw1 f4 dark-gray">{{ stories_featured_count }} stories</small> |
            <a href="#featured-stories"><small class="fw1 f4 dark-gray">see all</small></a>
        </div>
        {% for story in stories_featured %}
        <div class="pv1">
            <a class="link navy" href="{{ story.get_absolute_url }}">{{ story.title }}</a>{% if stories.series != None %}<br/><small class="f5 dark-gray fw2">{{ story.series.title }}</small>{% endif %}
            <br/><small class="f6 fw1 dark-gray">{{ story.date_published }}</small>
            <br/><small class="f6 fw1 silver">{{ story.short_description }}</small>
        </div>
        {% endfor %}
    </div>
    <div class="fl w-third-ns db pa3">
        <h2 class="f2 bg-near-black gold tc">series</h2>
        <div class="tc pb3 mh2">
            <small class="fw1 f4 dark-gray">{{ series_count }} series</small> |
            <a href="#series"><small class="fw1 f4 dark-gray">see all</small></a>
        </div>
        {% for series in series_all %}
        <div class="pv1">
            <a class="link navy" href="{{ series.get_absolute_url }}">{{ series.title }}</a>
            <br/><small class="f5 dark-gray fw2">{{ series.blogstory_set.count }} stories</small>
            <br/><small class="f6 fw1 silver">{{ series.short_description }}</small>
        </div>
        {% endfor %}
    </div>
</div>
<div id='feed' class="fl w-100 pa2 center tc">
    <h2 class="f2 f-title bg-near-black gold tc">feed</h2>
    {% for story in stories_all %}
    <div class="pv1">
        {% if story.highlight %}<span class="fw2 light-red pr2"><small>featured</small></span>{% endif %}<a class="link navy" href="{{ story.get_absolute_url }}">{{ story.title }}</a>{% if story.series %}<a class="link dark-near-black pl2 f5 fw2" href="{{ story.series.get_absolute_url }}">{{ story.series.title }}</a>{% endif %}<span class="f6 fw1 pl2 dark-gray">{{ story.date_published }}<br/><small>{{ story.short_description }}</small></span>
    </div>
    {% endfor %}
</div>
{% endblock e_BODY %}