{% extends 'stories/base.html' %}

{% block e_TITLE %}{{ series.title }}{% endblock e_TITLE %}
{% block e_BODY %}
<article class="baskerville pb5">
    <header class="avenir tc ph3 ph4-ns pt4 pt5-ns">
        <h1 class="f3 f-subheadline-l measure lh-title fw1 mt0 dark-red">{{ series.title }}</h1>
        <nav class="">
          <div class="tc pb3">
            <a class="link dim dark-blue f6 f5-ns dib mr3" href="{% url 'stories:list' %}" title="Stories Home">Stories Home</a>
            <a class="link dim dark-blue f6 f5-ns dib mr3" href="{% url 'home' %}" title="Main Site">Main Site</a>
          </div>
        </nav>
    </header>
    <div id='featured' class="fl w-100 pa2 center tc mb3">
        {% for story in stories %}
        <div class="pv2">
            {% if story.highlight %}<span class="fw1 f6 light-red pr2">featured</span>{% endif %}<a class="link dark-red f4" href="{{ story.get_absolute_url }}">{{ story.title }}</a><br/><span class="f6 fw1 pl2 silver">{{ story.date_published }}<br/><small>{{ story.short_description }}</small></span>
        </div>
        {% endfor %}
    </div>
</article>
{% endblock e_BODY %}