{% extends 'stories/base.html' %}
{% block e_TITLE %}{{ story.title }}{% endblock e_TITLE %}
{% block e_HEADER_TITLE %}{{ story.title }}{% endblock e_HEADER_TITLE %}

{% block e_BODY %}
<article class="athelas">
    <h1 class="f1 near-black">{{ story.title }}</h1>
    <div class="f3 dark-gray mb3">{{ story.short_description }}</div>
    <div class="f5 silver">
        <p>published on: <span class="f4">{{ story.date_published }}</span></p>
        <p>last updated on: <span class="f4">{{ story.date_updated }}</span></p>
    </div>
    <div class="silver f4 pa3 pb3">tags:
    {% for tag in story.tags.all %}
        <a class="link silver ph2 ba b--dark-gray fw1" href="#" class="ui tiny tag label">{{ tag.name }}</a>
    {% endfor %}
    </div class="pa3 pt3">

        {% if story.headerimage %}<div class="mw-8 pa3"><img src="{{ story.headerimage }}"></div>{% endif %}
        <div class="lh-copy">
            <div>{{ story.body_text|safe }}</div>
        </div>
</article>
{% endblock e_BODY %}