{% extends 'sitebase/base.html' %}{% load subdomainurls %}
{% block f_HEADER %}<div class="center mw8-ns tc br2 pv3 ph6-ns bb ba-ns bw3 bw3-ns b--dark-green dark-green mb5 georgia">
    <div class="ph1 ph2-mph6-ns">
      <h1 class="fw6 f3 f2-ns pv3 lh-title mt0 mb3">{% block e_HEADER_TITLE %}Articles{% endblock e_HEADER_TITLE %}</h1>
      <h2 class="fw2 f4 lh-title mt0 mb3">{% block e_HEADER_SUBTITLE %}<a href="{% url 'articles:list' subdomain='articles' %}"><span class="f3 fw1 ph2 light-purple">articles</span></a>@<a href="{% url 'home' None %}"><span class="f3 fw1 ph2 light-purple">harshp.com</span></a>{% endblock e_HEADER_SUBTITLE %}</h2>
      <div class="fw1 f5 mt0 mb3">{% block e_HEADER_DESCRIPTION %}{% endblock e_HEADER_DESCRIPTION %}</div>
    </div>
</div>{% endblock f_HEADER %}