{% extends 'articles/base.html' %}
{% block e_TITLE %}{{ post.title }}{% endblock e_TITLE %}
{% block e_HEADER_TITLE %}{{ post.title }}{% endblock e_HEADER_TITLE %}

{% block e_BODY %}
<article class="athelas">
    <h1 class="f1 dark-green">{{ post.title }}</h1>
    <div class="f3 dark-green mb3">{{ post.short_description }}</div>
    <div class="f5 dark-green">
        <p>published on: <span class="f4">{{ post.date_published }}</span></p>
        <p>last updated on: <span class="f4">{{ post.date_updated }}</span></p>
    </div>
    <div class="dark-green f4 pa3 pb3">tags:
    {% for tag in post.tags.all %}
        <a class="link dark-green ph2 ba b--moon-gray fw1" href="#" class="ui tiny tag label">{{ tag.name }}</a>
    {% endfor %}
    </div class="pa3 pt3">

        {% if post.headerimage %}<div class="mw-8 pa3"><img src="{{ post.headerimage }}"></div>{% endif %}
        <div class="f5 lh-copy ph2">
            <div>{{ post.body_text|safe }}</div>
        </div>
</article>
{% endblock e_BODY %}