{% extends 'me/base.html' %}
{% block e_TITLE %}About Me | Harshvardhan{% endblock e_TITLE %}
{% block e_META_DESCRIPTION %}about me - personal information and introduction to Harshvardhan Pandit, that is myself, and my website - harshp.com{% endblock e_META_DESCRIPTION %}

{% block e_BODY %}
<h1>about me</h1>
<p><u>navigate:</u> <a href="/">homepage</a>; <a href="{% url 'blog:list' %}">blog</a>; <a href="{% url 'stub' %}">resume</a>; <a href="https://github.com/coolharsh55/">github</a>; <a href="{% url 'research:home' %}">research</a></p>
<p>Hi there, my name is <em>Harshvardhan Jitendra Pandit</em>, but I usually accept <em>Harsh</em> which is much easier to pronounce and to remember. <i>harsh</i> in sanskrit means joy, so the name is not as rude as it sounds. I'm currently doing my PhD (Computer Science) in Trinity College Dublin, Ireland on the topic of assessing provenance-based legal obligations, with a specific focus on GDPR. Most of my time is spent doing this.</p>
<p>Apart from this, I have several hobbies which I try to indulge in on a regular basis. These include reading books, watching movies, listening to music, playing video games, amateur photography, origami, and thinking on a variety of things.</p>
{% endblock e_BODY %}
