
/*
 * body background and decorators
 */
body {
	background: #FFEFEF;
	font-family: 'Droid Sans', sans-serif;

}

.blog-title{
	font-family: 'Copse', serif;
}


/*
 * Blog name and description
 */

.blog-header {
	background-color: #FD686D;
	font-family: 'Glegoo', serif;
}
