{% extends 'brainbank/base.html' %}
{% load dictionary %}
{% load staticfiles %}
{% load subdomainurls %}

{% block TITLE %}{{demo.title}}{% endblock TITLE %}

{% block CSS %}
<link rel='stylesheet' type='text/css' href="{% static 'css/idea.css' %}" />
<link href='http://fonts.googleapis.com/css?family=Glegoo|Droid+Sans|Copse' rel='stylesheet' type='text/css'>
<style type='text/css'>
{{demo.CSS}}
</style>
{% endblock CSS %}

{% block JS %}
<script type="text/javascript">{{demo.JS}}</script>
{% endblock JS %}

{% block HEADER %}{{demo.idea.title}}{% endblock HEADER %}

{% block SOCIALSHARE %}
<!-- Social Button HTML -->
<!-- Facebook --><a href="http://www.facebook.com/sharer/sharer.php?u={{page_url}}" target="_blank" class="share-btn facebook"><i class="fa fa-facebook"></i></a>
<!-- Google Plus --><a href="https://plus.google.com/share?url={{page_url}}" target="_blank" class="share-btn google-plus"><i class="fa fa-google-plus"></i></a>
<!-- Twitter --><a href="http://twitter.com/share?url={{page_url}}&text=brainbank%20demo-%20{{demo.title}}%20at%20harshp.com&via=coolharsh55" target="_blank" class="share-btn twitter"><i class="fa fa-twitter"></i></a>
<!-- Email --><a href="mailto:?subject={{demo.title}}&body={{page_url}}" target="_blank" class="share-btn email"><i class="fa fa-envelope"></i></a>
{% endblock SOCIALSHARE %}

{% block CONTENT %}
<div class='parent'>
<div class='blog-title'><h1>{{demo.title}}</h1><small><div class='blog-description'>{{demo.published}}</div></small></div>
{% if demo.headerimage %}<!-- image -->
<img src="{{demo.headerimage}}" class="img-responsive" alt="Responsive image"><br/>
{% endif %}
<div class="alert alert-info" role="alert">Part of '<a href="{% url 'brainbank:idea' 'brainbank' demo.idea.slug %}" class="alert-link">{{demo.idea.title}}</a>'</div>

{{demo.body|safe}}<!-- body -->
</div>
{% endblock CONTENT %}
