{% extends 'harshp/sitebase.html' %}
{% load staticfiles %}
{% load subdomainurls %}

{% block ETITLE %}harshp.com{% endblock ETITLE %}

{% block EHEAD %}{% include 'meta.html' %}{% endblock EHEAD %}

{% block FCSS %}
    {{ block.super }}
    <link rel='stylesheet' type='text/css' href="{% static 'css/harshpindex.css' %}" />
{% endblock FCSS %}

{% block EBODY %}
	<div class='pageheader'><h1>harshp.com</h1><h2><small>the personal website and project by <strong>Harshvardhan Pandit</strong></small></h2><hr></div>
	<div class='container'><div class='content'><div class='panel-group' id='accordion'>
	<!-- About ME -->
	<!-- <div class="panel panel-theme">
    <div class="panel-heading" role="tab" id="heading-blog">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-blog" aria-expanded="false" aria-controls="collapse-blog">
          <h1 class='Blog'>About ME</h1>
        </a>
      </h4>
    </div>
    <div id="collapse-blog" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-blog">
      <div class="panel-body">
        <div class="list-group">
        	<a href="{% url 'blog:index' 'blog' %}" class='list-group-item active'>TODO</a>
        </div>
      </div>
    </div>
  </div> -->
	<br />
	<!-- blog -->
    <a class='Blog nodecorate' data-toggle="collapse" href="#collapse-blog" aria-expanded="false" aria-controls="collapse-blog">blog</a>
    <div id="collapse-blog" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-blog">
      <div class="panel-body">
        	<a href="{% url 'blog:index' 'blog' %}" class='nodecorate'>read all the blog posts</a>
        {% for blog in blogs %}
        	<hr><a href="{% url 'blog:post' 'blog' blog.slug %}" class='nodecorate'>{{blog.title}}<br/><small>{{blog.published}}</small></a>
        {% endfor %}
        </div>
      </div>

    <hr>

  <!-- stories -->

    <a class="Story nodecorate" data-toggle="collapse" data-parent="#accordion" href="#collapse-stories" aria-expanded="false" aria-controls="collapse-stories">stories</a>
    <div id="collapse-stories" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-stories">
      <div class="panel-body">
        	<a href="{% url 'stories:index' 'stories' %}" class='nodecorate'>read all the stories</a>
        {% for story in stories %}
        	<hr><a href="{% url 'stories:post' 'stories' story.slug %}" class='nodecorate'>{{story.title}}<br /><small>{{story.published}}</small></a>
        {% endfor %}
        </div>
      </div>

    <hr>

  <!-- poems -->


    <a class="Poem nodecorate" data-toggle="collapse" data-parent="#accordion" href="#collapse-poems" aria-expanded="false" aria-controls="collapse-poems">poems</a>
    <div id="collapse-poems" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-poems">
      <div class="panel-body">
        	<a href="{% url 'poems:index' 'poems' %}" class='nodecorate'>read all the poems</a>
        {% for poem in poems %}
        	<hr><a href="{% url 'poems:post' 'poems' poem.slug %}" class='nodecorate'>{{poem.title}}<br /><small>{{poem.published}}</small></a>
        {% endfor %}
        </div>
      </div>

    <hr>

  <!-- articles -->

    <a class="Article nodecorate" data-toggle="collapse" data-parent="#accordion" href="#collapse-articles" aria-expanded="false" aria-controls="collapse-articles">articles</a>
    <div id="collapse-articles" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-articles">
      <div class="panel-body">
        	<a href="{% url 'articles:index' 'articles' %}" class='nodecorate'>read all the articles</a>
        {% for article in articles %}
        	<hr><a href="{% url 'articles:post' 'articles' article.slug %}" class='nodecorate'>{{article.title}}<br /><small>{{article.published}}</small></a>
        {% endfor %}
        </div>
      </div>

    <hr>

  <!-- brainbank -->

    <a class="Brainbank nodecorate" data-toggle="collapse" data-parent="#accordion" href="#collapse-brainbank" aria-expanded="false" aria-controls="collapse-brainbank">brainbank</a>
    <div id="collapse-brainbank" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-brainbank">
      <div class="panel-body">
        	<a href="{% url 'brainbank:index' 'brainbank' %}" class='nodecorate'>read all ideas in the brainbank</a><hr>
					<small>latest idea</small><br><a href="{% url 'brainbank:idea' 'brainbank' brainbank_idea.slug %}" class='nodecorate'>{{brainbank_idea.title}}<br /><small>{{brainbank_idea.published}}</small></a><hr>
					{% for post in brainbank_idea.brainbankpost_set.all %}
					<a href="{% url 'brainbank:post' 'brainbank' brainbank_idea.slug post.slug %}" class='nodecorate'>{{post.title}}<br /><small>{{post.published}}</small></a><hr>
					{% endfor %}
					{% for demo in brainbank_idea.brainbankdemo_set.all %}
					<a href="{% url 'brainbank:demo' 'brainbank' brainbank_idea.slug demo.slug %}" class='nodecorate'><h4>demo - {{demo.title}}</h4></a><hr>
					{% endfor %}
        </div>
      </div>

    <hr>

  <!-- lifeX -->

    <a class="LifeX nodecorate" data-toggle="collapse" data-parent="#accordion" href="#collapse-lifeX" aria-expanded="false" aria-controls="collapse-lifeX">lifeX</a>
    <div id="collapse-lifeX" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-lifeX">
      <div class="panel-body">
        	<a href="{% url 'lifeX:index' 'lifeX' %}" class='nodecorate'>see all life eXperiments</a><hr>
            <a href="{% url 'lifeX:lifeX_presentation_UCC2014' 'lifeX' %}" class='nodecorate '><strong>LifeX - A Presentation</strong></a><hr>
        	<a href="{% url 'lifeX:week' 'lifeX' lifeXweek.number %}" class='nodecorate'>{{lifeXweek}}</a>
        	{% for post in lifeXweek.lifexpost_set.all %}
  				<a href="{% url 'lifeX:post' 'lifeX' post.week.number post.idea.slug %}" class='nodecorate'>{{post.title}}<br /><small>Idea: ({{post.idea.category.name}}) {{post.idea.title}}</small></a><br>
  				{% endfor %}
        </div>
      </div>


  <br />
  <!-- Books I'm reading -->
  <!-- <div class="panel panel-theme">
    <div class="panel-heading" role="tab" id="heading-blog">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-blog" aria-expanded="false" aria-controls="collapse-blog">
          <h1 class='Blog'>Books I'm Reading</h1>
        </a>
      </h4>
    </div>
    <div id="collapse-blog" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-blog">
      <div class="panel-body">
        <div class="list-group">
        	<a href="{% url 'blog:index' 'blog' %}" class='list-group-item active'>TODO</a>
        </div>
      </div>
    </div>
  </div> -->
	<!-- Movies/TV shows I'm watching -->
  <!-- <div class="panel panel-theme">
    <div class="panel-heading" role="tab" id="heading-blog">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-blog" aria-expanded="false" aria-controls="collapse-blog">
          <h1 class='Blog'>Movies/TV shows I'm watching</h1>
        </a>
      </h4>
    </div>
    <div id="collapse-blog" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-blog">
      <div class="panel-body">
        <div class="list-group">
        	<a href="{% url 'blog:index' 'blog' %}" class='list-group-item active'>TODO</a>
        </div>
      </div>
    </div>
  </div> -->


	</div>
{% endblock EBODY %}

{% block FJS %}
  {{ block.super }}
{% endblock FJS %}