#django
django

#subdomains - needs specific version containing latest fixes
django-subdomains

#admin
django-jet

#timezone
pytz

#markup
markdown

#database
psycopg2

#django-storages
django-storages
boto

#seo-meta
django-meta

#robots.txt
django-robots

#utils
arrow
python-dateutil

#server
gunicorn

#job queue
django-rq
django-rq-jobs

# kindle annotations
chardet
klip
