#django
django==1.11.*

#subdomains - needs specific version containing latest fixes
django-subdomains

#admin
django-jet

#timezone
pytz

#markup
markdown

#database
psycopg2

#django-storages
django-storages
boto

#seo-meta
django-meta

#robots.txt
django-robots

#utils
arrow
python-dateutil
requests

#server
gunicorn

#key-store
redis

#job queue
django-cron
django-rq
django-rq-jobs

# kindle annotations
chardet
klip

# telegram api
telepot
