{%extends 'sitebase/base.html' %}{% load staticfiles %}
{% block f_HEADER %}{% endblock f_HEADER %}
{% block f_FOOTER %}{% endblock f_FOOTER %}
{% block f_BODY %}
<body class="vh-100 dt w-100">
    <div class="dtc v-mid tc">
        <h1 id='header' class='f1 f-headline'>finance</h1>
        <p class="fw3 i w-25-ns center tc">manage personal finanaces, track bank accounts, money in wallet, cash out of ATMs, bus fares, rent money, where I spend all that money I don't have...</p>
        <form method="POST">
        {% csrf_token %}
        <input type="password" id="password" name="password" class="bn"/>
        <input type="submit" id="submit_btn" style="position: absolute; left: -999px" />
        </form>
    </div>
</body>
{% endblock f_BODY %}
