{% extends 'sitebase/base.html' %}{% load subdomainurls %}
{% block f_HEADER %}<div class="center tc br2 pv3 ph6-ns bb bw3 bw3-ns b--navy navy mb5 georgia">
<div class="ph1 ph2-m ph6-ns">
    <h1 class="fw6 f3 f2-ns pv3 lh-title mt0 mb0">{% block e_HEADER_TITLE %}Finance{% endblock e_HEADER_TITLE %}</h1>

    <div class="fw1 f5 ">{% block e_HEADER_DESCRIPTION %}{% endblock e_HEADER_DESCRIPTION %}</div>
    <nav class="tc mw7 center">
        <a class="f6 link bg-animate black-80 hover-bg-blue dib ph2" href="/">Home</a>
        <a class="f6 link bg-animate black-80 hover-bg-blue dib ph2" href="{% url 'finance:monthly-spendings-list' subdomain='finance' %}">Monthly Spendings</a>
        <a class="f6 link bg-animate black-80 hover-bg-blue dib ph2" href="{% url 'home' subdomain=None %}">Main Site</a>
    </nav>
</div>
</div>{% endblock f_HEADER %}