{% extends 'finance/base.html' %}
{% block e_TITLE %}finance{% endblock e_TITLE %}
{% block e_HEADER_TITLE %}Finance{% endblock e_HEADER_TITLE %}
{% block lib_JS %}<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>{% endblock lib_JS %}
{% block e_BODY %}
<div class="pv3">
    <h2 class="f2 navy">accounts</h2>
    <table class="w-100 pa2 ba b--navy tc">
        <thead>
            <tr>
                <th class="pv2 ph3">Name</th>
                <th class="pv2 ph3">Type</th>
                <th class="pv2 ph3">amount</th>
            </tr>
        </thead>
        <tbody>
        {% for account in accounts %}
            <tr class="striped--near-white">
                <td class="pv2 ph3"><a href="{{ account.get_absolute_url }}"><u>{{ account.name }}</u></a></td>
                <td class="pv2 ph3">{{ account.get_account_type_display }}</td>
                <td class="pv2 ph3">{{ account.amount }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="pv3">
    <h2 class="f2 navy">budgets</h2>
    <table class="w-100 pa2 ba b--navy tc">
        <thead>
            <tr>
                <th class="pv2 ph3">name</th>
                <th class="pv2 ph3">period</th>
                <th class="pv2 ph3">start</th>
                <th class="pv2 ph3">end</th>
                <th class="pv2 ph3">amount</th>
                <th class="pv2 ph3">remaining</th>
            </tr>
        </thead>
        <tbody>
        {% for budget in budgets %}
            <tr class="striped--near-white">
                <td class="pv2 ph3"><a href="{{ budget.get_absolute_url }}"><u>{{ budget.name }}</u></a></td>
                <td class="pv2 ph3">{{ budget.get_period_display }}</td>
                <td class="pv2 ph3">{{ budget.date_start }}</td>
                <td class="pv2 ph3">{{ budget.date_end }}</td>
                <td class="pv2 ph3">{{ budget.amount }}</td>
                <td class="pv2 ph3">{{ budget.amount_remaining }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="pv3">
    <h2 class="f2 navy">monthly expenditure</h2>
    <div class="ba b--navy">
        <canvas id='chart' width='100vw' height='50vh'></canvas>
        <table class="w-100 pt3 tc">
            <thead>
                <tr class="striped--navy">
                    <th class="pv2 ph3">category</th>
                    <th class="pv2 ph3">amount spent</th>
                </tr>
            </thead>
            <tbody id='table-monthly-expenditure'>
            </tbody>
        </table>
    </div>
</div>
<div class="pv3">
    <h2 class="f2 navy">transactions</h2>
    <table class="w-100 pa2 ba b--navy tc">
        <thead>
            <tr class="striped--near-white">
                <th class="pv2 ph3">type</th>
                <th class="pv2 ph3">account</th>
                <th class="pv2 ph3">date</th>
                <th class="pv2 ph3">amount</th>
                <th class="pv2 ph3">category</th>
                <th class="pv2 ph3">note</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr class="striped--near-white">
                <td  class="pv2 ph3"><a href="{{ transaction.get_absolute_url }}">{{ transaction.get_transaction_type_display }}</a></td>
                <td  class="pv2 ph3"><a href="{{ transaction.account.get_absolute_url }}">{{ transaction.account }}</a></td>
                <td class="pv2 ph3">{{ transaction.date }}</td>
                <td class="pv2 ph3">{{ transaction.amount }}</td>
                <td  class="pv2 ph3"><a href="{{ transaction.category.get_absolute_url }}">{{ transaction.category }}</a></td>
                <td class="pv2 ph3">{{ transaction.note }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="pv3">
    <h2 class="f2 navy">transfers</h2>
    <table class="w-100 pa2 ba b--navy tc">
        <thead>
            <tr class="striped--near-white">
                <th class="pv2 ph3">from</th>
                <th class="pv2 ph3">to</th>
                <th class="pv2 ph3">date</th>
                <th class="pv2 ph3">amount</th>
                <th class="pv2 ph3">note</th>
            </tr>
        </thead>
        <tbody>
        {% for transfer in transfers %}
            <tr class="striped--near-white">
                <td class="pv2 ph3"><a href="{{ transfer.account_from.get_absolute_url }}">{{ transfer.account_from }}</a></td>
                <td class="pv2 ph3"><a href="{{ transfer.account_to.get_absolute_url }}">{{ transfer.account_to }}</a></td>
                <td class="pv2 ph3">{{ transfer.date }}</td>
                <td class="pv2 ph3">{{ transfer.amount }}</td>
                <td class="pv2 ph3">{{ transfer.note }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock e_BODY %}

{% block e_JS %}
<script type="text/javascript">
var ctx = document.getElementById("chart");
var monthly_data = {{ monthly_data|safe }};
console.log(monthly_data);
var data = [];
var labels = [];
var colors = [];
var table = document.getElementById('table-monthly-expenditure');
monthly_data.forEach(function(row) {
    labels.push(row[0])
    data.push(row[1]);
    colors.push(row[2]);
    table.innerHTML += "<tr class=\"striped--near-white\"><td class=\"pv2 ph3\">" + row[0] + "</td><td class=\"pv2 ph3\">" + row[1] + "</td></tr>";
});
var chart_data = {
    labels: labels,
    datasets: [{
        data: data,
        backgroundColor: colors
    }]
};
var myPieChart = new Chart(ctx,{
    type: 'pie',
    data: chart_data,
});
</script>
{% endblock e_JS %}