{% extends 'dev/base.html' %}
{% block e_TITLE %}GNIB & VISA Appointments{% endblock e_TITLE %}
{% block e_META_DESCRIPTION %}GNIB & VISA Appointments{% endblock e_META_DESCRIPTION %}

{% block e_BODY %}
<article class="baskerville pt2 pb5">
    <header class="avenir tc ph3 ph4-ns bb">
        <h1 class=" measure lh-title fw1 mt0 mb0 pb0 dark-navy tc">GNIB & VISA Appointments</h1>
        <p class="fw1 fw6 navy w-80-ns center">Shows available timings for Burgh Quay office. Updated every 15mins. This is not an official app and therefore must not be used as such. Project blog 
        <a href="https://harshp.com/dev/projects/gnib-appointments/">here</a></p>
        <nav class="">
          <div class="tc pb3">
            <a class="dark-blue  dib ph1" href="{% url 'home' %}" title="home">harshp.com</a>/<a class="dark-blue  dib ph1" href="{% url 'dev:index' %}" title="Dev">dev</a>
          </div>
        </nav>
    </header>
    <div class="fl w-100 w-100 pa db tc pv2 dark-blue">
        <p>Last updated: <b>{{ last_update }}</b></p>
        <p>Please fill <a href="https://goo.gl/forms/Us4rXeOUUmJN3gKR2"><span class="dark-navy">this survey</span></a> to indicate your interest in a mobile app</p>
        <p>Some apps I've found on Google Play Store:
        <a href="https://play.google.com/store/apps/details?id=tech.rapp.ireland.gnib">app</a>,
        <a href="https://play.google.com/store/apps/details?id=com.gnibirelandnotifications.app">app</a>,
        <a href="https://play.google.com/store/apps/details?id=com.ionicframework.irelandusefull753629">app</a></p>
    </div>
    <div class="fl w-100 db pa2 mb2 center">
        <h2 class=" tc fw2 dark-blue">GNIB Appointments</h2>
            <div class="fl w-100 w-33-ns center pa db tc">
                <h3 class=" tc fw3 dark-blue">Study</h3>
                <h4 class=" tc fw3 dark-blue">New</h4>
                {% for appointment in gnib_Study_New %}
                <a class="link db pa dark-blue underline-hover" href="https://burghquayregistrationoffice.inis.gov.ie/Website/AMSREG/AMSRegWeb.nsf/AppSelect?OpenForm">{{ appointment }}</a>
                {% empty %}
                <p class=" tc fw4 navy">No appointments</p>
                {% endfor %}
                <h4 class=" tc fw3 dark-blue">Renewal</h4>
                {% for appointment in gnib_Study_Renewal %}
                <a class="link db pa dark-blue underline-hover" href="https://burghquayregistrationoffice.inis.gov.ie/Website/AMSREG/AMSRegWeb.nsf/AppSelect?OpenForm">{{ appointment }}</a>
                {% empty %}
                <p class=" tc fw4 navy">No appointments</p>
                {% endfor %}
            </div>
            <div class="fl w-100 w-33-ns pa db tc">
                <h3 class=" tc fw3 dark-blue">Work</h3>
                <h4 class=" tc fw3 dark-blue">New</h4>
                {% for appointment in gnib_Work_New %}
                <a class="link db pa dark-blue underline-hover" href="https://burghquayregistrationoffice.inis.gov.ie/Website/AMSREG/AMSRegWeb.nsf/AppSelect?OpenForm">{{ appointment }}</a>
                {% empty %}
                <p class=" tc fw4 navy">No appointments</p>
                {% endfor %}
                <h4 class=" tc fw3 dark-blue">Renewal</h4>
                {% for appointment in gnib_Work_Renewal %}
                <a class="link db pa dark-blue underline-hover" href="https://burghquayregistrationoffice.inis.gov.ie/Website/AMSREG/AMSRegWeb.nsf/AppSelect?OpenForm">{{ appointment }}</a>
                {% empty %}
                <p class=" tc fw4 navy">No appointments</p>
                {% endfor %}
            </div>
            <div class="fl w-100 w-33-ns pa db tc">
                <h3 class=" tc fw3 dark-blue">Other</h3>
                <h4 class=" tc fw3 dark-blue">New</h4>
                {% for appointment in gnib_Other_New %}
                <a class="link db pa dark-blue underline-hover" href="https://burghquayregistrationoffice.inis.gov.ie/Website/AMSREG/AMSRegWeb.nsf/AppSelect?OpenForm">{{ appointment }}</a>
                {% empty %}
                <p class=" tc fw4 navy">No appointments</p>
                {% endfor %}
                <h4 class=" tc fw3 dark-blue">Renewal</h4>
                {% for appointment in gnib_Other_Renewal %}
                <a class="link db pa dark-blue underline-hover" href="https://burghquayregistrationoffice.inis.gov.ie/Website/AMSREG/AMSRegWeb.nsf/AppSelect?OpenForm">{{ appointment }}</a>
                {% empty %}
                <p class=" tc fw4 navy">No appointments</p>
                {% endfor %}
            </div>
    </div>
    <div class="fl w-100 db pa2 mb4">
        <h2 class=" tc fw2 dark-blue">VISA Appointments</h2>
            <div class="fl w-100 w-50-ns pa db tc">
                <h3 class=" tc fw3 dark-blue">Individual</h3>
                {% for date, appointments in visa_I %}
                <h4 class=" tc fw4 dark-blue">{{ date }}</h4>
                {% for appointment in appointments %}
                <a class="link db pa dark-blue underline-hover" href="https://reentryvisa.inis.gov.ie/website/INISOA/IOA.nsf/AppointmentSelection?OpenForm">{{ appointment }}</a>
                {% endfor %}
                {% empty %}
                <p class=" tc fw4 navy">No appointments</p>
                {% endfor %}
            </div>
            <div class="fl w-100 w-50-ns pa db tc">
                <h3 class=" tc fw3 dark-blue">Family</h3>
                {% for date, appointments in visa_F %}
                <h4 class=" tc fw4 dark-blue">{{ date }}</h4>
                {% for appointment in appointments %}
                <a class="link db pa dark-blue underline-hover" href="https://reentryvisa.inis.gov.ie/website/INISOA/IOA.nsf/AppointmentSelection?OpenForm">{{ appointment }}</a>
                {% endfor %}
                {% empty %}
                <p class=" tc fw4 navy">No appointments</p>
                {% endfor %}
            </div>
    </div>
</article>
{% endblock e_BODY %}
