{% extends 'dev/base.html' %}
{% block e_TITLE %}GNIB & VISA Appointments{% endblock e_TITLE %}
{% block e_META_DESCRIPTION %}GNIB & VISA Appointments{% endblock e_META_DESCRIPTION %}
<!-- { % block f_CSS %}<link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.0/css/tachyons.min.css"/>{ % endblock f_CSS %} -->
{% block e_BODY %}
<h1>GNIB & VISA Appointments</h1>
<p>This is not an official app.</p>
<p><u>navigate:</u> <a href="https://harshp.com/dev/projects/gnib-appointments/">Project Blog</a>; <a href="{% url 'home' %}" title="Main Site">main site</a></p></p>
<div class="fl w-100 w-100 pa db tc pv2 dark-blue">
<p>Last updated: {{ last_update }}</p>
<p><b>GNIB Appointments</b>
<br/><b>Study - New</b>: 
{% for appointment in gnib_Study_New %}
<a href="https://burghquayregistrationoffice.inis.gov.ie/Website/AMSREG/AMSRegWeb.nsf/AppSelect?OpenForm">{{ appointment }}</a>; {% empty %}<u>No appointments</u>{% endfor %}
<br/><b>Study - Renewal</b>: 
{% for appointment in gnib_Study_Renewal %}
<a href="https://burghquayregistrationoffice.inis.gov.ie/Website/AMSREG/AMSRegWeb.nsf/AppSelect?OpenForm">{{ appointment }}</a>; {% empty %}<u>No appointments</u>{% endfor %}
<br/><b>Work - New</b>: 
{% for appointment in gnib_Work_New %}
<a href="https://burghquayregistrationoffice.inis.gov.ie/Website/AMSREG/AMSRegWeb.nsf/AppSelect?OpenForm">{{ appointment }}</a>; {% empty %}<u>No appointments</u>{% endfor %}
<br/><b>Work - Renewal</b>: 
{% for appointment in gnib_Work_Renewal %}
<a href="https://burghquayregistrationoffice.inis.gov.ie/Website/AMSREG/AMSRegWeb.nsf/AppSelect?OpenForm">{{ appointment }}</a>{% empty %}<u>No appointments</u>{% endfor %}
<br/><b>Other - New</b>: ; 
{% for appointment in gnib_Other_New %}
<a href="https://burghquayregistrationoffice.inis.gov.ie/Website/AMSREG/AMSRegWeb.nsf/AppSelect?OpenForm">{{ appointment }}</a>; {% empty %}<u>No appointments</u>{% endfor %}
<br/><b>Other - Renewal</b>: 
{% for appointment in gnib_Other_Renewal %}
<a href="https://burghquayregistrationoffice.inis.gov.ie/Website/AMSREG/AMSRegWeb.nsf/AppSelect?OpenForm">{{ appointment }}</a>; {% empty %}<u>No appointments</u>{% endfor %}</p>

<p><b>VISA Appointments</b>
<br/><b>Individual</b>:
{% for appointment in visa_I %}<a href="https://reentryvisa.inis.gov.ie/website/INISOA/IOA.nsf/AppointmentSelection?OpenForm">{{ appointment }}</a>; {% empty %}<u>No appointments</u>{% endfor %}
<br/><b>Family</b>:
{% for appointment in visa_F %}<a href="https://reentryvisa.inis.gov.ie/website/INISOA/IOA.nsf/AppointmentSelection?OpenForm">{{ appointment }}</a>; {% empty %}<u>No appointments</u>{% endfor %}</p>
{% endblock e_BODY %}
