{% extends 'blog/base.html' %}
{% block e_TITLE %}blog at harshp.com{% endblock e_TITLE %}
{% block e_META_DESCRIPTION %}blog at harshp.com{% endblock e_META_DESCRIPTION %}
{% block f_HEADER %}
<div class="tc">
  <h1 class="blue">my blog</h1>
  <a class="link" href="/"><span class="blue u">go back to harshp.com</span></a>
</div>
{% endblock f_HEADER %}
{% block e_BODY %}
<div class="db tc mt2 center">
    <a href="#feed" class="link u dark-blue">recent posts</a> | <a href="#featublue" class="link u dark-blue">featured posts</a>
</div>
<div id='series' class="fl w-100 pa2 bb bw1 bw1-ns b--dark-blue mb3">
    <h2 class=" dark-blue tc lh-title avenir ">series</h2>
    <a class="link db f4 dark-blue tc" href="{% url 'blog:series-list' %}">view posts by series</a>
    <ul class="list pa3 center tc">
        {% for series in series_all %}
        <li class="dib-ns"><a href="{{ series.get_absolute_url }}" class="dib pa2 ma1 ba b--dark-green link dark-green">{{ series.title }}</a></li>
        {% endfor %}
    </ul>
</div>
<div id='featublue' class="fl w-100 pa2 center tc bb bw1 bw1-ns b--dark-blue mb3">
    <h2 class="  lh-title dark-blue tc avenir">featured</h2>
    {% for post in posts_featured %}
    <div class="pv2">
        <a class="link dark-blue f4" href="{{ post.get_absolute_url }}">{{ post.title }}</a><br/>{% if post.series %}<a class="link dark-green pl2  " href="{{ post.series.get_absolute_url }}">{{ post.series.title }}</a>{% endif %}
        <span class="db  pl2 silver">{{ post.date_published }}<br/><small>{{ post.short_description }}</small></span>
    </div>
    {% endfor %}
</div>
<div id='feed' class="fl w-100 pa2 center tc">
    <h2 class="  lh-title dark-blue tc avenir">feed</h2>
    {% for post in posts_all %}
    <div class="pv2">
        <a class="link dark-blue db" href="{{ post.get_absolute_url }}">
            {% if post.highlight %}
                <span class="light-blue pr2 f6">&starf;</span>{{ post.title }} <span class="light-blue pr2 f6">&starf;</span>
            {% else %}
                {{ post.title }}            
            {% endif %}
        {% if post.series %}<a class="link dark-green pl2 db" href="{{ post.series.get_absolute_url }}">{{ post.series.title }}</a>{% endif %}
        <span class="  pl2 silver">{{ post.date_published }}<br/><small>{{ post.short_description }}</small></span>
    </div>
    {% endfor %}
</div>
{% endblock e_BODY %}
