{% extends 'blog/base.html' %}
{% load subdomainurls %}

{% block e_TITLE %}blog at harshp.com{% endblock e_TITLE %}

{% block ff_HEADER_TITLE %}Blog{% endblock ff_HEADER_TITLE %}{% block ff_HEADER_SUBTITLE %}<a class="ui sub header" href="{% url 'home' subdomain=None %}"><u>harshp.com</u></a>{% endblock ff_HEADER_SUBTITLE %}

{% block e_BODY %}
<div class="ui stackable grid container">
    <div class="ui three column row spacious-top">
        <!-- LATEST POSTS -->
        <div class="column">
            <div class="ui cards">
                <div class="card">
                    <div class="content">
                        <div class="header"><a href="#feed"><h2 class="ui blue header"><i class="red calendar icon"></i>Latest Posts</h2></a></div><!-- blog.harshp.com/latest/ -->
                        <div class="meta"></div>
                        <div class="ui horizontal divider"><a href="#">{{ posts_count }} posts</a></div>
                        <div class="description">
                            <div class="ui list">
                                {% for post in posts_latest %}
                                <div class="item">
                                    <a href="{{ post.get_absolute_url }}">
                                        <h4 class="ui blue header">{{ post.title }}{% if posts.series != None %} - {{ post.series.title }}{% endif %}</h4>
                                    </a>
                                    <h5 class="ui sub header">{{ post.date_published }}</h5>
                                    <p>{{ post.short_description }}<br></p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="ui horizontal divider"><a href="#">see all</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FEATURED POSTS -->
        <div class="column">
            <div class="ui cards">
                <div class="card">
                    <div class="content">
                        <div class="header"><a href="#"><h2 class="ui blue header"><i class="yellow star icon"></i>Featured Posts</h2></a></div><!-- blog.harshp.com/latest/ -->
                        <div class="meta"></div>
                        <div class="ui horizontal divider"><a href="#">{{ posts_featured_count }} posts</a></div>
                        <div class="description">
                            <div class="ui list">
                                {% for post in posts_featured %}
                                <div class="item">
                                    <a href="{{ post.get_absolute_url }}">
                                        <h4 class="ui blue header">{{ post.title }}{% if posts.series != None %} - {{ post.series.title }}{% endif %}</h4>
                                    </a>
                                    <h5 class="ui sub header">{{ post.date_published }}</h5>
                                    <p>{{ post.short_description }}<br></p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="ui horizontal divider"><a href="#">see all</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui cards">
                <div class="card">
                    <div class="content">
                        <div class="header"><a href="#"><h2 class="ui blue header"><i class="teal cubes icon"></i>Series</h2></a></div><!-- blog.harshp.com/latest/ -->
                        <div class="meta"></div>
                        <div class="ui horizontal divider"><a href="#">{{ series_count }} series</a></div>
                        <div class="description">
                            <div class="ui list">
                                {% for series in series_all %}
                                <div class="item">
                                    <a href="{{ series.get_absolute_url }}">
                                        <h3 class="ui blue header">{{ series.title }}</h3>
                                    </a>
                                    <h5 class="ui sub header">{{ series.blogpost_set.count }} posts</h5>
                                    <p>{{ series.short_description }}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="ui horizontal divider"><a href="#">see all</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui blue spacious-top horizontal divider">Feed</div>
<div class="ui stackable grid container">
    <div class="ui feed">
        {% for post in posts_all %}
        <div class="event">
            <div class="label">
                {% if post.highlight %}<i class="yellow star icon"></i>{% else %}<i class="blue paragraph icon"></i>{% endif %}
            </div>
            <div class="content">
                <div class="summary">
                    <a class="user" href="{{ post.get_absolute_url }}">
                      {{ post.title }}
                    </a>
                    <div class="date">
                      {{ post.date_published }}
                    </div>
                </div>
                <div class="meta">
                    {% if post.series %}<a href="#"><h3><i class="green cubes icon"></i> {{ post.series.title }}</h3></a>{% endif %}
                    {{ post.short_description }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock e_BODY %}