{% extends 'blog/base.html' %}{% load subdomainurls %}
{% block e_TITLE %}blog at harshp.com{% endblock e_TITLE %}
{% block e_META_DESCRIPTION %}blog at harshp.com{% endblock e_META_DESCRIPTION %}
{% block e_HEADER_TITLE %}Blog{% endblock e_HEADER_TITLE %}
{% block e_HEADER_SUBTITLE %}<a href="{% url 'home' None %}"><span class="f3 fw1 light-red">harshp.com</span></a>{% endblock e_HEADER_SUBTITLE %}
{% block e_BODY %}
<div class="fl w-100 pa2">
    <div class="fl w-third-ns db pa3">
        <h2 class="f2 bg-navy washed-blue tc">latest</h2>
        <div class="tc pb3 mh2">
            <small class="fw1 f4 dark-blue">{{ posts_count }} posts</small> |
            <a href="#feed"><small class="fw1 f4 dark-blue">see all</small></a>
        </div>
        {% for post in posts_latest %}
        <div class="pv1">
            <a class="link navy" href="{{ post.get_absolute_url }}">{{ post.title }}</a>{% if posts.series != None %}<br/><small class="f5 dark-blue fw2">{{ post.series.title }}</small>{% endif %}
            <br/><small class="f6 fw1 dark-blue">{{ post.date_published }}</small>
            <br/><small class="f6 fw1 blue">{{ post.short_description }}</small>
        </div>
        {% endfor %}
    </div>
    <div class="fl w-third-ns db pa3">
        <h2 class="f2 bg-navy washed-blue tc">featured</h2>
        <div class="tc pb3 mh2">
            <small class="fw1 f4 dark-blue">{{ posts_featured_count }} posts</small> |
            <a href="#featured-posts"><small class="fw1 f4 dark-blue">see all</small></a>
        </div>
        {% for post in posts_featured %}
        <div class="pv1">
            <a class="link navy" href="{{ post.get_absolute_url }}">{{ post.title }}</a>{% if posts.series != None %}<br/><small class="f5 dark-blue fw2">{{ post.series.title }}</small>{% endif %}
            <br/><small class="f6 fw1 dark-blue">{{ post.date_published }}</small>
            <br/><small class="f6 fw1 blue">{{ post.short_description }}</small>
        </div>
        {% endfor %}
    </div>
    <div class="fl w-third-ns db pa3">
        <h2 class="f2 bg-navy washed-blue tc">series</h2>
        <div class="tc pb3 mh2">
            <small class="fw1 f4 dark-blue">{{ series_count }} series</small> |
            <a href="#series"><small class="fw1 f4 dark-blue">see all</small></a>
        </div>
        {% for series in series_all %}
        <div class="pv1">
            <a class="link navy" href="{{ series.get_absolute_url }}">{{ series.title }}</a>
            <br/><small class="f5 dark-blue fw2">{{ series.blogpost_set.count }} posts</small>
            <br/><small class="f6 fw1 blue">{{ series.short_description }}</small>
        </div>
        {% endfor %}
    </div>
</div>
<div id='feed' class="fl w-100 pa2 center tc">
    <h2 class="f2 f-title bg-navy washed-blue tc">feed</h2>
    {% for post in posts_all %}
    <div class="pv1">
        {% if post.highlight %}<span class="fw2 light-red pr2"><small>featured</small></span>{% endif %}<a class="link navy" href="{{ post.get_absolute_url }}">{{ post.title }}</a>{% if post.series %}<a class="link navy pl2 f5 fw2" href="{{ post.series.get_absolute_url }}">{{ post.series.title }}</a>{% endif %}<span class="f6 fw1 pl2 dark-blue">{{ post.date_published }}<br/><small>{{ post.short_description }}</small></span>
    </div>
    {% endfor %}
</div>
{% endblock e_BODY %}