{% extends 'blog/base.html' %}

{% block e_TITLE %}{{ post.title }}{% endblock e_TITLE %}
{% block e_BODY %}
<h1>{{ post.title }}</h1>
<p>
    {{ post.short_description }}<br/>
    <time><u>posted:</u> {{ post.date_published }} | <u>updated:</u> {{ post.date_updated }}</time><br/>
    <u>navigate:</u> <a href="{% url 'blog:list' %}" title="Blog Home">blogs</a> | <a href="{% url 'home' %}" title="Main Site">main site</a><br/>
    <u>tags:</u> {% for tag in post.tags.all %}{{ tag.name }}; {% endfor %}
</p>
{% if post.headerimage %}<img src="{{ post.headerimage }}"/>{% endif %}
{{ post.body_text | safe }}
{% endblock e_BODY %}
