{% extends 'blog/base.html' %}

{% block e_TITLE %}{{ series.title }}{% endblock e_TITLE %}
{% block e_BODY %}
<h1>{{ series.title }}</h1>
<p>
    <u>navigate:</u> <a href="{% url 'blog:list' %}" title="Blog Home">blogs</a> | <a href="{% url 'home' %}" title="Main Site">main site</a><br/>
</p>
{% for post in posts %}
<p><a href="{{ post.get_absolute_url }}">{% if post.highlight %}<b>{{post.title}}</b>{% else %}{{post.title}}{% endif %}</a><br/>
    {{ post.short_description }}<br/>
    <time><u>posted:</u> {{ post.date_published }}</time><br/>
    <u>tags:</u> {% for tag in post.tags.all %}{{ tag.name }}; {% endfor %}</p>
{% endfor %}
{% endblock e_BODY %}
