{% extends 'blog/base.html' %}

{% block e_TITLE %}{{ post.title }}{% endblock e_TITLE %}
{% block e_BODY %}
<article class="baskerville pb5">
    <header class="avenir tc ph3 ph4-ns pt4 pt5-ns">
        <h1 class="f3 f-subheadline-l measure lh-title fw1 mt0 dark-red">{{ post.title }}</h1>
        <div class="f2-l avenir center tc mb2"><a class="link dark-blue" href="{{ post.series.get_absolute_url }}">{{ post.series.title }}</a></div>
        <nav class="">
          <div class="tc pb3">
            <a class="link dim light-blue f6 f5-ns dib mr3" href="{% url 'blog:list' %}" title="Blog Home">Blog Home</a>
            <a class="link dim light-blue f6 f5-ns dib mr3" href="{% url 'home' %}" title="Main Site">Main Site</a>
          </div>
        </nav>
        <div class="f4 baskerville dark-gray center tc mb2">{{ post.short_description }}</div>
        <time class="f5 f4-l db fw1 gray baskerville">posted: {{ post.date_published }} | updated: {{ post.date_updated }}</time>
        <div class="navy pt2 pb4 f5">tags:
            {% for tag in post.tags.all %}
                <a class="link dark-blue pa1 dib ba b--moon-gray fw1" href="#" class="ui tiny tag label">{{ tag.name }}</a>
            {% endfor %}
        </div>
        {% if post.headerimage %}
            <img class="w-100 dib measure f3 mb2" src="{{ post.headerimage }}"/>
        {% endif %}
    </header>
    <div class="measure db center f4 f3-ns lh-copy">
    {{ post.body_text | safe }}
    </div>
</article>
{% endblock e_BODY %}