{% extends 'blog/base.html' %}

{% block e_TITLE %}Blog Series{% endblock e_TITLE %}
{% block f_HEADER_TITLE %}Blog Series{% endblock f_HEADER_TITLE %}
{% block e_BODY %}
<h1>blog posts by series</h1>
<p>
    <u>navigate:</u> <a href="{% url 'blog:list' %}" title="Blog Home">blogs</a> | <a href="{% url 'home' %}" title="Main Site">main site</a><br/>
</p>

series: {% for s, _ in series %} <a href="#series-{{s.pk}}"><u>{{s.title}}</u></a>; {% endfor %}

<br/>
{% for s, p in series %}
<a id="series-{{ s.pk }}" href="{{ s.get_absolute_url }}"><h2>{{ s.title }}</h2></a>
    {% for post in p %}
<p><a href="{{ post.get_absolute_url }}">{% if post.highlight %}<b>{{post.title}}</b>{% else %}{{post.title}}{% endif %}</a><br/>
    {{ post.short_description }}<br/>
    <time><u>posted:</u> {{ post.date_published }}</time><br/>
    <u>tags:</u> {% for tag in post.tags.all %}{{ tag.name }}; {% endfor %}</p>
    {% endfor %}
</div>
{% endfor %}
{% endblock e_BODY %}
