{% extends 'lifeX/base.html' %}

{% block e_TITLE %}About LifeX{% endblock e_TITLE %}
{% block ff_HEADER_TITLE %}About LifeX{% endblock ff_HEADER_TITLE %}

{% block e_BODY %}
<div class='ui container'>
    <div class='ui very relaxed text container segment'>
        <p>Everyday we wake up, follow a routine, do all the same things over and over again. We don’t really think what we’re doing with every minute of our lives. We don’t think about change. Which is not that great if you really think about it. </p>
        <p>Based on our observations, we infer something or come up with new results. This process is called as scientific deduction. Which is the way scientists are supposed to look at everything. Data are facts. Then by contrast, why can’t we live our life scientifically? Do what helps us achieve all that we dream of? Recognize where we fall short. Understand what makes us tick, and what doesn’t. All through running a few little experiments by yourself, which is the basis of life experiments.</p>
        <strong>Terminology:</strong>
        <ul>
        <li><b>Idea</b> - Each experiment is based on an Idea such as cooking, trying a new productivity technique or simply tricks to wake up early.</li>
        <li><b>Category</b> - Ideas are grouped together into Categories.</li>
        <li><b>Week</b> - A Week (7 Days starting from Monday) of trying out experiments. Often, more than one idea is tried in a week.</li>
        <li><b>Experiment</b> - Trying out the Idea for a Week and noting its effects and results form the basis of the Experiment, and is recorded in a Post.</li>
        <li><b>Blog</b> - Thoughts and comments that are not part of an experiment. Allows me to write stuff related to Life Experiments.</li>
        </ul>
</div>
{% endblock e_BODY %}