{% extends 'lifeX/base.html' %}
{% block e_TITLE %}LifeX Ideas{% endblock e_TITLE %}
{% block e_HEADER_TITLE %}LifeX Ideas{% endblock e_HEADER_TITLE %}
{% block e_BODY %}
{% for category, ideas in categories %}
<div class="mw8-ns center pa3">
    <a class="f4 " href="{{ category.get_absolute_url }}">{{ category.name }}</a>
    {% for idea in ideas %}
    <div class="pv1">
        <a href="{{ idea.get_absolute_url }}">
            {% if idea.tried %}<span class="green">✓</span>
                {% if idea.retry %}<span class="orange">⟲</span>
                {% else %}<span class="red">⟲</span>{% endif %}
            {% else %}<span class="light-blue">📅</span>{% endif %}
            <span class="f4">{{ idea.title }}</span>
        </a>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock e_BODY %}
