{% extends 'lifeX/base.html' %}
{% block e_TITLE %}Week {{ week.number }}{% endblock e_TITLE %}
{% block e_HEADER_TITLE %}Week {{ week.number }}{% endblock e_HEADER_TITLE %}
{% block e_BODY %}
<h2 class='f2 '>Week {{ week.number }}<span class='f5'> in life experiments</span></h2>
<p class='f5 silver'>{{ week.date_start }} - {{ week.date_end }}</p>
<div class="pv3">
{% for experiment in week.experiments.all %}
    <div class="pa2">
        <a href="{{ experiment.get_absolute_url }}"><span class='f3 blue'>{{ experiment.title }}</span></a>
        <div class="ui star rating" data-rating="{{ rating }}"></div>
        <div class="f4">idea: <a href="{{ experiment.idea.get_absolute_url }}"><span class='pr2 green'>{{ experiment.idea.title }}</span></a> category: <a href="{{ experiment.idea.category.get_absolute_url }}"><span class='green'>{{ experiment.idea.category.name }}</span></a></div>
    </div>
{% endfor %}
</div>
{% endblock e_BODY %}
